src/flows/cmbp_Training_Change_Process_CUSTOM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>cmbp Create Training Initialization CUSTOM</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Init Training</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>cmbp_Create_Training_Initialization_CUSTOM</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recordId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>isChangedDecision19_myRule_18_c501_cm_Language_c</name>
        <label>isChangedDecision19_myRule_18_c501_cm_Language_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision20_myRule_18_c501_cm_Class_Type_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_19_myRule_18_c501_cm_Language_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__Language__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision20_myRule_18_c501_cm_Class_Type_c</targetReference>
            </connector>
            <label>isChangedRule_19_myRule_18_c501_cm_Language_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision20_myRule_18_c501_cm_Class_Type_c</name>
        <label>isChangedDecision20_myRule_18_c501_cm_Class_Type_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision21_myRule_18_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_20_myRule_18_c501_cm_Class_Type_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__Class_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__Class_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision21_myRule_18_Type</targetReference>
            </connector>
            <label>isChangedRule_20_myRule_18_c501_cm_Class_Type_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision21_myRule_18_Type</name>
        <label>isChangedDecision21_myRule_18_Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision22_myRule_18_c501_cm_Training_Name_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_21_myRule_18_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision22_myRule_18_c501_cm_Training_Name_c</targetReference>
            </connector>
            <label>isChangedRule_21_myRule_18_Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision22_myRule_18_c501_cm_Training_Name_c</name>
        <label>isChangedDecision22_myRule_18_c501_cm_Training_Name_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision23_myRule_18_c501_cm_City_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_22_myRule_18_c501_cm_Training_Name_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__Training_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__Training_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision23_myRule_18_c501_cm_City_c</targetReference>
            </connector>
            <label>isChangedRule_22_myRule_18_c501_cm_Training_Name_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision23_myRule_18_c501_cm_City_c</name>
        <label>isChangedDecision23_myRule_18_c501_cm_City_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision24_myRule_18_c501_cm_custom_Start_DateTime_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_23_myRule_18_c501_cm_City_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__City__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__City__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision24_myRule_18_c501_cm_custom_Start_DateTime_c</targetReference>
            </connector>
            <label>isChangedRule_23_myRule_18_c501_cm_City_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision24_myRule_18_c501_cm_custom_Start_DateTime_c</name>
        <label>isChangedDecision24_myRule_18_c501_cm_custom_Start_DateTime_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision25_myRule_18_c501_cm_custom_End_DateTime_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_24_myRule_18_c501_cm_custom_Start_DateTime_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__custom_Start_DateTime__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__custom_Start_DateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision25_myRule_18_c501_cm_custom_End_DateTime_c</targetReference>
            </connector>
            <label>isChangedRule_24_myRule_18_c501_cm_custom_Start_DateTime_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision25_myRule_18_c501_cm_custom_End_DateTime_c</name>
        <label>isChangedDecision25_myRule_18_c501_cm_custom_End_DateTime_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision26_myRule_18_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_25_myRule_18_c501_cm_custom_End_DateTime_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__custom_End_DateTime__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__custom_End_DateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision26_myRule_18_Description</targetReference>
            </connector>
            <label>isChangedRule_25_myRule_18_c501_cm_custom_End_DateTime_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision26_myRule_18_Description</name>
        <label>isChangedDecision26_myRule_18_Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision27_myRule_18_c501_cm_C501_Trigger_Event_Update_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_26_myRule_18_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Description</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision27_myRule_18_c501_cm_C501_Trigger_Event_Update_c</targetReference>
            </connector>
            <label>isChangedRule_26_myRule_18_Description</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision27_myRule_18_c501_cm_C501_Trigger_Event_Update_c</name>
        <label>isChangedDecision27_myRule_18_c501_cm_C501_Trigger_Event_Update_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision28_myRule_18_c501_cm_C501_Training_Location_Text_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_27_myRule_18_c501_cm_C501_Trigger_Event_Update_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__C501_Trigger_Event_Update__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__C501_Trigger_Event_Update__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision28_myRule_18_c501_cm_C501_Training_Location_Text_c</targetReference>
            </connector>
            <label>isChangedRule_27_myRule_18_c501_cm_C501_Trigger_Event_Update_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision28_myRule_18_c501_cm_C501_Training_Location_Text_c</name>
        <label>isChangedDecision28_myRule_18_c501_cm_C501_Training_Location_Text_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_28_myRule_18_c501_cm_C501_Training_Location_Text_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.c501_cm__C501_Training_Location_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.c501_cm__C501_Training_Location_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_28_myRule_18_c501_cm_C501_Training_Location_Text_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Ignore Non Training Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_pmetdec</targetReference>
            </connector>
            <label>Training Location Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_pmetdec</targetReference>
            </connector>
            <label>Fields from null to new value</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision17</name>
        <label>myDecision17</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_18</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_19_myRule_18_c501_cm_Language_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_20_myRule_18_c501_cm_Class_Type_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_21_myRule_18_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_22_myRule_18_c501_cm_Training_Name_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_23_myRule_18_c501_cm_City_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_24_myRule_18_c501_cm_custom_Start_DateTime_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>DateTime</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_25_myRule_18_c501_cm_custom_End_DateTime_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_26_myRule_18_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_27_myRule_18_c501_cm_C501_Trigger_Event_Update_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_28_myRule_18_c501_cm_C501_Training_Location_Text_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>Training modified</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>IsNew()</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Training Time Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_11_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_11_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_11_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision13</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_14_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_14_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_14_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_14_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Campaign].c501_cm__C501_Training_Location__c.County__c ,
&quot;Adams&quot;,&quot;Grant; Douglas; Adams; Lincoln; Spokane; Whitman; Franklin; Benton; Walla Walla; Columbia; Garfield; Asotin&quot;,
&quot;Asotin&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Benton&quot;,&quot;Benton; Yakima; Walla Walla; Columbia; Grant; Adams; Franklin&quot;,
&quot;Chelan&quot;,&quot;Kittitas; Grant; Douglas; Chelan; Okanogan &quot;,
&quot;Clallam&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Clark&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Columbia&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Cowlitz&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Douglas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,
&quot;Ferry&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane&quot;,
&quot;Franklin&quot;,&quot;Benton; Walla Walla; Columbia; Grant; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Garfield&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Grant&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams&quot;,
&quot;Grays Harbor&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Pacific; Lewis; Wahkiakum&quot;,
&quot;Island&quot;,&quot;Island; San Juan; Whatcom; Skagit; Snohomish; Clallam; Jefferson; Kitsap&quot;,
&quot;Jefferson&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;King&quot;,&quot;King; Snohomish; Pierce&quot;,
&quot;Kitsap&quot;,&quot;Kitsap; Clallam; Jefferson; Grays Harbor; Mason; Thurston; Pierce&quot;,
&quot;Kittitas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan&quot;,
&quot;Klickitat&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Lewis&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Lincoln&quot;,&quot;Douglas; Grant; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Mason&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Okanogan&quot;,&quot;Grant; Douglas; Chelan; Okanogan; Ferry; Lincoln; Stevens&quot;,
&quot;Pacific&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Wahkiakum&quot;,
&quot;Pend Oreille&quot;,&quot;Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Ferry&quot;,
&quot;Pierce&quot;,&quot;Thurston; Mason; Grays Harbor; Lewis; King&quot;,
&quot;Skagit&quot;,&quot;Skagit; Snohomish; Whatcom; Island&quot;,
&quot;San Juan&quot;,&quot;San Juan; Island; Whatcom; Skagit; Snohomish&quot;,
&quot;Skamania&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Snohomish&quot;,&quot;Snohomish; King; Skagit&quot;,
&quot;Spokane&quot;,&quot;Spokane; Lincoln; Stevens; Pend Oreille; Whitman; Franklin; Benton&quot;,
&quot;Stevens&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Thurston&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Lewis&quot;,
&quot;Wahkiakum&quot;,&quot;Wahkiakum; Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Walla Walla&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Whatcom&quot;,&quot;Whatcom; Skagit; Island&quot;,
&quot;Whitman&quot;,&quot;Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane; Benton; Lincoln&quot;,
&quot;Yakima&quot;,&quot;Yakima; Benton; Walla Walla; Columbia; Adams; Franklin; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,&quot;&quot;



) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_A1_4995405773</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.c501_cm__C501_Training_Location__r.County__c} ,
&quot;Adams&quot;,&quot;Grant; Douglas; Adams; Lincoln; Spokane; Whitman; Franklin; Benton; Walla Walla; Columbia; Garfield; Asotin&quot;,
&quot;Asotin&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Benton&quot;,&quot;Benton; Yakima; Walla Walla; Columbia; Grant; Adams; Franklin&quot;,
&quot;Chelan&quot;,&quot;Kittitas; Grant; Douglas; Chelan; Okanogan &quot;,
&quot;Clallam&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Clark&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Columbia&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Cowlitz&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Douglas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,
&quot;Ferry&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane&quot;,
&quot;Franklin&quot;,&quot;Benton; Walla Walla; Columbia; Grant; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Garfield&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane&quot;,
&quot;Grant&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan; Adams&quot;,
&quot;Grays Harbor&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Pacific; Lewis; Wahkiakum&quot;,
&quot;Island&quot;,&quot;Island; San Juan; Whatcom; Skagit; Snohomish; Clallam; Jefferson; Kitsap&quot;,
&quot;Jefferson&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;King&quot;,&quot;King; Snohomish; Pierce&quot;,
&quot;Kitsap&quot;,&quot;Kitsap; Clallam; Jefferson; Grays Harbor; Mason; Thurston; Pierce&quot;,
&quot;Kittitas&quot;,&quot;Yakima; Kittitas; Grant; Douglas; Chelan&quot;,
&quot;Klickitat&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Lewis&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Lincoln&quot;,&quot;Douglas; Grant; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Mason&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston&quot;,
&quot;Okanogan&quot;,&quot;Grant; Douglas; Chelan; Okanogan; Ferry; Lincoln; Stevens&quot;,
&quot;Pacific&quot;,&quot;Pacific; Lewis; Pierce; Thurston; Cowlitz; Clark; Skamania; Wahkiakum&quot;,
&quot;Pend Oreille&quot;,&quot;Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Ferry&quot;,
&quot;Pierce&quot;,&quot;Thurston; Mason; Grays Harbor; Lewis; King&quot;,
&quot;Skagit&quot;,&quot;Skagit; Snohomish; Whatcom; Island&quot;,
&quot;San Juan&quot;,&quot;San Juan; Island; Whatcom; Skagit; Snohomish&quot;,
&quot;Skamania&quot;,&quot;Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat; Wahkiakum&quot;,
&quot;Snohomish&quot;,&quot;Snohomish; King; Skagit&quot;,
&quot;Spokane&quot;,&quot;Spokane; Lincoln; Stevens; Pend Oreille; Whitman; Franklin; Benton&quot;,
&quot;Stevens&quot;,&quot;Douglas; Okanogan; Ferry; Lincoln; Stevens; Pend Oreille; Spokane; Adams&quot;,
&quot;Thurston&quot;,&quot;Clallam; Jefferson; Grays Harbor; Mason; Kitsap; Thurston; Lewis&quot;,
&quot;Wahkiakum&quot;,&quot;Wahkiakum; Pacific; Lewis; Cowlitz; Clark; Skamania; Klickitat&quot;,
&quot;Walla Walla&quot;,&quot;Benton; Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin&quot;,
&quot;Whatcom&quot;,&quot;Whatcom; Skagit; Island&quot;,
&quot;Whitman&quot;,&quot;Walla Walla; Columbia; Adams; Franklin; Whitman; Garfield; Asotin; Spokane; Benton; Lincoln&quot;,
&quot;Yakima&quot;,&quot;Yakima; Benton; Walla Walla; Columbia; Adams; Franklin; Kittitas; Grant; Douglas; Chelan; Adams; Okanogan; Ferry&quot;,&quot;&quot;



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Register: &quot; &amp;
[Campaign].c501_cm__C501_Registration_Link__c  &amp;
&quot; (Training Status: &quot; &amp;
TEXT([Campaign].Status) &amp;
&quot;)&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_14_A1_8335911826</name>
        <dataType>String</dataType>
        <expression>&quot;Register: &quot; &amp;
{!myVariable_current.c501_cm__C501_Registration_Link__c}  &amp;
&quot; (Training Status: &quot; &amp;
TEXT({!myVariable_current.Status}) &amp;
&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Campaign].c501_cm__Training_Name__c  &amp; &quot; (&quot; &amp; TEXT([Campaign].c501_cm__Class_Type__c) &amp; &quot;) - &quot; &amp;[Campaign].c501_cm__City__c &amp; &quot; - &quot; &amp; TEXT([Campaign].c501_cm__Language__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_14_A1_7013489249</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.c501_cm__Training_Name__c}  &amp; &quot; (&quot; &amp; TEXT({!myVariable_current.c501_cm__Class_Type__c}) &amp; &quot;) - &quot; &amp;{!myVariable_current.c501_cm__City__c} &amp; &quot; - &quot; &amp; TEXT({!myVariable_current.c501_cm__Language__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Register: &quot; &amp;
[Campaign].c501_cm__C501_Registration_Link__c  &amp;
&quot; (Training Status: &quot; &amp;
TEXT([Campaign].Status) &amp;
&quot;)&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_18_A1_9384347551</name>
        <dataType>String</dataType>
        <expression>&quot;Register: &quot; &amp;
{!myVariable_current.c501_cm__C501_Registration_Link__c}  &amp;
&quot; (Training Status: &quot; &amp;
TEXT({!myVariable_current.Status}) &amp;
&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Campaign].c501_cm__Training_Name__c  &amp; &quot; (&quot; &amp; TEXT([Campaign].c501_cm__Class_Type__c) &amp; &quot;) - &quot; &amp;[Campaign].c501_cm__City__c &amp; &quot; - &quot; &amp; TEXT([Campaign].c501_cm__Language__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_30_myRule_18_A1_8954624649</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.c501_cm__Training_Name__c}  &amp; &quot; (&quot; &amp; TEXT({!myVariable_current.c501_cm__Class_Type__c}) &amp; &quot;) - &quot; &amp;{!myVariable_current.c501_cm__City__c} &amp; &quot; - &quot; &amp; TEXT({!myVariable_current.c501_cm__Language__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATE(YEAR([Campaign].ptStartDate__c),3,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 3, 8) - DATE(1900, 1, 7), 7) = 0, 8,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 3, 9) - DATE(1900, 1, 7), 7) = 0, 9,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 3, 10) - DATE(1900, 1, 7), 7) = 0, 10,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 3, 11) - DATE(1900, 1, 7), 7) = 0, 11,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 3, 12) - DATE(1900, 1, 7), 7) = 0, 12,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 3, 13) - DATE(1900, 1, 7), 7) = 0, 13,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 3, 14) - DATE(1900, 1, 7), 7) = 0, 14, 0))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_3037479297</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!myVariable_current.ptStartDate__c}),3,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 3, 8) - DATE(1900, 1, 7), 7) = 0, 8,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 3, 9) - DATE(1900, 1, 7), 7) = 0, 9,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 3, 10) - DATE(1900, 1, 7), 7) = 0, 10,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 3, 11) - DATE(1900, 1, 7), 7) = 0, 11,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 3, 12) - DATE(1900, 1, 7), 7) = 0, 12,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 3, 13) - DATE(1900, 1, 7), 7) = 0, 13,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 3, 14) - DATE(1900, 1, 7), 7) = 0, 14, 0))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATE(YEAR([Campaign].ptStartDate__c),11,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 11, 1) - DATE(1900, 1, 7), 7) = 0, 1,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 11, 2) - DATE(1900, 1, 7), 7) = 0, 2,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 11, 3) - DATE(1900, 1, 7), 7) = 0, 3,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 11, 4) - DATE(1900, 1, 7), 7) = 0, 4,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 11, 5) - DATE(1900, 1, 7), 7) = 0, 5,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 11, 6) - DATE(1900, 1, 7), 7) = 0, 6,
IF(MOD( DATE(YEAR([Campaign].ptStartDate__c), 11, 7) - DATE(1900, 1, 7), 7) = 0, 7, 0)))))))) - 1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_7_A1_8145322601</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!myVariable_current.ptStartDate__c}),11,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 11, 1) - DATE(1900, 1, 7), 7) = 0, 1,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 11, 2) - DATE(1900, 1, 7), 7) = 0, 2,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 11, 3) - DATE(1900, 1, 7), 7) = 0, 3,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 11, 4) - DATE(1900, 1, 7), 7) = 0, 4,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 11, 5) - DATE(1900, 1, 7), 7) = 0, 5,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 11, 6) - DATE(1900, 1, 7), 7) = 0, 6,
IF(MOD( DATE(YEAR({!myVariable_current.ptStartDate__c}), 11, 7) - DATE(1900, 1, 7), 7) = 0, 7, 0)))))))) - 1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>LEFT([Campaign].RecordType.DeveloperName, 8) &lt;&gt; &quot;Training&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!myVariable_current.RecordType.DeveloperName}, 8) &lt;&gt; &quot;Training&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND(NOT(ISBLANK([Campaign].c501_cm__C501_Training_Location__c)),ISNEW()),AND(ISCHANGED([Campaign].c501_cm__C501_Training_Location__c),NOT(ISBLANK([Campaign].c501_cm__C501_Training_Location__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(NOT(ISBLANK({!myVariable_current.c501_cm__C501_Training_Location__c})),ISNEW()),AND(ISCHANGED({!myVariable_current.c501_cm__C501_Training_Location__c}),NOT(ISBLANK({!myVariable_current.c501_cm__C501_Training_Location__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND(NOT(ISBLANK([Campaign].c501_cm__C501_Training_Location__c)),ISNEW()),AND(ISCHANGED([Campaign].c501_cm__C501_Training_Location__c),NOT(ISBLANK([Campaign].c501_cm__C501_Training_Location__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND(NOT(ISBLANK({!myVariable_old.c501_cm__C501_Training_Location__c})),ISNEW()),AND(ISCHANGED({!myVariable_old.c501_cm__C501_Training_Location__c}),NOT(ISBLANK({!myVariable_old.c501_cm__C501_Training_Location__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK( [Campaign].c501_cm__custom_Start_DateTime__c )) &amp;&amp; NOT(ISBLANK( [Campaign].c501_cm__custom_End_DateTime__c )) &amp;&amp; OR(ISCHANGED( [Campaign].c501_cm__custom_Start_DateTime__c ),ISNEW()) &amp;&amp; OR(ISCHANGED( [Campaign].c501_cm__custom_End_DateTime__c ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( [Campaign].c501_cm__custom_End_DateTime__c )),ISNEW())

  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK( {!myVariable_current.c501_cm__custom_Start_DateTime__c} )) &amp;&amp; NOT(ISBLANK( {!myVariable_current.c501_cm__custom_End_DateTime__c} )) &amp;&amp; OR(ISCHANGED( {!myVariable_current.c501_cm__custom_Start_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISCHANGED( {!myVariable_current.c501_cm__custom_End_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( {!myVariable_current.c501_cm__custom_End_DateTime__c} )),ISNEW())</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK( [Campaign].c501_cm__custom_Start_DateTime__c )) &amp;&amp; NOT(ISBLANK( [Campaign].c501_cm__custom_End_DateTime__c )) &amp;&amp; OR(ISCHANGED( [Campaign].c501_cm__custom_Start_DateTime__c ),ISNEW()) &amp;&amp; OR(ISCHANGED( [Campaign].c501_cm__custom_End_DateTime__c ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( [Campaign].c501_cm__custom_End_DateTime__c )),ISNEW())

  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK( {!myVariable_old.c501_cm__custom_Start_DateTime__c} )) &amp;&amp; NOT(ISBLANK( {!myVariable_old.c501_cm__custom_End_DateTime__c} )) &amp;&amp; OR(ISCHANGED( {!myVariable_old.c501_cm__custom_Start_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISCHANGED( {!myVariable_old.c501_cm__custom_End_DateTime__c} ),ISNEW()) &amp;&amp; OR(ISBLANK(PRIORVALUE( {!myVariable_old.c501_cm__custom_End_DateTime__c} )),ISNEW())</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>/* This node is only triggered when a Campaign is first created */

ISNEW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>/* This node is only triggered when a Campaign is first created */

ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>cmbp_Training_Change_Process_CUSTOM-8_InterviewLabel</interviewLabel>
    <label>cmbp Training Change Process CUSTOM</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_14_A1</name>
        <label>Create Event</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_15_myRule_14_A1_8335911826</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>End Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>EndDateTime</field>
            <value>
                <elementReference>myVariable_current.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0053h000000agaB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Start Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>StartDateTime</field>
            <value>
                <elementReference>myVariable_current.c501_cm__custom_Start_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_16_myRule_14_A1_7013489249</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Asset;AssetRelationship;Campaign;Case;ContactRequest;Contract;GW_Volunteers__Volunteer_Hours__c;GW_Volunteers__Volunteer_Job__c;GW_Volunteers__Volunteer_Shift__c;ListEmail;Opportunity;Order;Product2;Solution;npo02__Household__c;npsp__Engagement_Plan_Template__c;npsp__Engagement_Plan__c;npsp__Fund__c;npsp__General_Accounting_Unit__c;npsp__Grant_Deadline__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Update Outreach Counties</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision13</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>MultiPicklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Outreach WA Counties</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>c501_cm__C501_Outreach_WA_Counties__c</field>
            <value>
                <elementReference>formula_12_myRule_11_A1_4995405773</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign].Events</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_18_A1</name>
        <label>Update Event</label>
        <locationX>1800</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Calendar;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0053h000000agaB</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_29_myRule_18_A1_9384347551</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>End Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>EndDateTime</field>
            <value>
                <elementReference>myVariable_current.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Start Date Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>StartDateTime</field>
            <value>
                <elementReference>myVariable_current.c501_cm__custom_Start_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_30_myRule_18_A1_8954624649</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Noop</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>myVariable_current.Description</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign].CampaignMembers</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Registered</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign].CampaignMembers</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Registered Reminder</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_5_A3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered Reminder</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign].CampaignMembers</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A3</name>
        <label>Pending</label>
        <locationX>500</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Campaign]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Update Training</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ptPDTFirstDayDate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ptPDTFirstDayDate__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_3037479297</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ptPDTLastDayDate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ptPDTLastDayDate__c</field>
            <value>
                <elementReference>formula_9_myRule_7_A1_8145322601</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <startElementReference>isChangedDecision19_myRule_18_c501_cm_Language_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
