src/flows/cmbp_Training_Outreach_FLOW_CUSTOM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Limits</name>
        <label>Assign Limits</label>
        <locationX>1351</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>flowElementsVisited</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Near_Flow_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_Fields</name>
        <label>Assign Member Fields</label>
        <locationX>1921</locationX>
        <locationY>1399</locationY>
        <assignmentItems>
            <assignToReference>memberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outreachTrainingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Notification_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Outreach_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outreach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outreach</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Insert_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_Fields_0</name>
        <label>Assign Member Fields</label>
        <locationX>1933</locationX>
        <locationY>1711</locationY>
        <assignmentItems>
            <assignToReference>memberRecord.Group_Classes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateGroupClasses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Member_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Group_List</name>
        <label>Build Group List</label>
        <locationX>1426</locationX>
        <locationY>1722</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>textTemplateChildTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Group_List_0</name>
        <label>Build Group List</label>
        <locationX>1594</locationX>
        <locationY>1579</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Classes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Class_Type</name>
        <label>Class Type</label>
        <locationX>1145</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FFN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Qualified</targetReference>
            </connector>
            <label>FFN</label>
        </rules>
        <rules>
            <name>Licensed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Licensed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Licensed_Qualified</targetReference>
            </connector>
            <label>Licensed</label>
        </rules>
        <rules>
            <name>Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facility_Qualified</targetReference>
            </connector>
            <label>Facility</label>
        </rules>
        <rules>
            <name>Substitute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Qualified</targetReference>
            </connector>
            <label>Substitute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_within_Outreach_Criteria</name>
        <label>Contact within Outreach Criteria</label>
        <locationX>1067</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactWithinOutreachCritiera</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getOutreachTrainingRecordArea4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getTrainingArea1StateAllCounties</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getTrainingArea2StateAllCounties</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getTrainingArea3StateAllCounties</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getTrainingArea4StateAllCounties</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Facility_Qualified</name>
        <label>Facility Qualified</label>
        <locationX>904</locationX>
        <locationY>1123</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Facility_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Substitute_Pool_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FFN_Qualified</name>
        <label>FFN Qualified</label>
        <locationX>644</locationX>
        <locationY>954</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FFN_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Unit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Licensed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_Training</name>
        <label>Is Child Training</label>
        <locationX>1440</locationX>
        <locationY>1410</locationY>
        <defaultConnector>
            <targetReference>Assign_Member_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outreachTrainingRecord.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Trainings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Contact</name>
        <label>Is Test Contact</label>
        <locationX>1126</locationX>
        <locationY>1731</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.TestFlight_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Member_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Training</name>
        <label>Is Test Training</label>
        <locationX>765</locationX>
        <locationY>1723</locationY>
        <defaultConnector>
            <targetReference>Valid_Member_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.TestFlight_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Test_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Match</name>
        <label>Language Match</label>
        <locationX>1071</locationX>
        <locationY>742</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LanguageMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doesTrainingLanguageMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licensed_Qualified</name>
        <label>Licensed Qualified</label>
        <locationX>772</locationX>
        <locationY>1025</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Licensed_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Unit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Licensed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Employer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Washington State</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Flow Limit - Executed elements at runtime per flow = 2000</description>
        <name>Near_Flow_Limit</name>
        <label>Near Flow Limit</label>
        <locationX>1441</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Loop_Trainings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NearLimit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>flowElementsVisited</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1980.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowSOQLQueriesPending</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>98.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Substitute_Qualified</name>
        <label>Substitute Qualified</label>
        <locationX>1012</locationX>
        <locationY>1289</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Substitute_Qualified</name>
            <conditionLogic>1 AND (2 OR 3) AND ((4 AND 10) OR (5 AND 13 AND 14) OR  (6 AND 11 AND 12) OR (7 AND 8 AND 9) )</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Sub_Pool_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Sub_Pool_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finishing Qualifications</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Child Care Basics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CPR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>First Aid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bloodborne Pathogens</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Hiv_Cert_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Hiv_Cert_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasCurrentYearInitialTrainingRequirement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_First_Aid_Cert_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_First_Aid_Cert_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Cpr_Cert_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__ii_Cpr_Cert_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Communication_Values</name>
        <label>Valid Communication Values</label>
        <locationX>642</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidValues</name>
            <conditionLogic>((1 AND 2) OR (4 AND 5)) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Outreach_Trainings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member_Exists</name>
        <label>Valid Member Exists</label>
        <locationX>1121</locationX>
        <locationY>1401</locationY>
        <defaultConnector>
            <targetReference>Is_Child_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MemberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>memberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Limits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB2/7 - Avoid null outreach critiera
DB 12/7 - only outreach for Planned or In Progress no outreach for Canceled, Completed, or Full
10/11 - fix corrupt flow
9/29 - fix check on initial training requirements
9/9 - Child Class summary
9/4 - Test Flight
8/11 - fix group_class__c field setting
8/5 - replace Training Status with Status
7/22 - make sure contact has valid email and SMS values fix sub criteria</description>
    <formulas>
        <name>doesTrainingLanguageMatch</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!outreachTrainingRecord.c501_cm__Language__c}) = &quot;Spanish&quot; &amp;&amp; TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;Spanish&quot;, TRUE,
IF(TEXT({!outreachTrainingRecord.c501_cm__Language__c}) = &quot;Somali&quot; &amp;&amp; TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;Somali&quot;, TRUE,
IF(TEXT({!outreachTrainingRecord.c501_cm__Language__c}) = &quot;English&quot; &amp;&amp; (
ISBLANK(TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c})) ||
TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;English&quot; ||
TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;Unknown&quot;), TRUE, FALSE)))</expression>
    </formulas>
    <formulas>
        <name>getChildTrainingDescription</name>
        <dataType>String</dataType>
        <expression>&quot;     --&gt; &quot; +  {!Loop_Child_Classes.c501_cm__Training_Name_WebForm__c} + BR()</expression>
    </formulas>
    <formulas>
        <name>getOutreachTrainingRecordArea1</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!outreachTrainingRecord.Outreach_Area_1__c})), &quot;BLANK&quot;,TEXT({!outreachTrainingRecord.Outreach_Area_1__c}))</expression>
    </formulas>
    <formulas>
        <name>getOutreachTrainingRecordArea2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!outreachTrainingRecord.Outreach_Area_2__c})), &quot;BLANK&quot;,TEXT({!outreachTrainingRecord.Outreach_Area_2__c}))</expression>
    </formulas>
    <formulas>
        <name>getOutreachTrainingRecordArea3</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!outreachTrainingRecord.Outreach_Area_3__c})), &quot;BLANK&quot;,TEXT({!outreachTrainingRecord.Outreach_Area_3__c}))</expression>
    </formulas>
    <formulas>
        <name>getOutreachTrainingRecordArea4</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!outreachTrainingRecord.Outreach_Area_4__c})), &quot;BLANK&quot;,TEXT({!outreachTrainingRecord.Outreach_Area_4__c}))</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea1StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!outreachTrainingRecord.Outreach_Area_1__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea2StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!outreachTrainingRecord.Outreach_Area_2__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea3StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!outreachTrainingRecord.Outreach_Area_3__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea4StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!outreachTrainingRecord.Outreach_Area_4__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Initial Training Requirement is based on current year.  Example values are Completed (2020), Education Exemption (2020), Requirements Met (2020) or blank.  Each year this value is updated.</description>
        <name>hasCurrentYearInitialTrainingRequirement</name>
        <dataType>Boolean</dataType>
        <expression>!ISBLANK({!Get_Outreach_Contact.c501_cm__ii_Initial_Training_Requirement__c})</expression>
    </formulas>
    <interviewLabel>cmbp Training Outreach FLOW CUSTOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Outreach FLOW CUSTOM</label>
    <loops>
        <name>Loop_Child_Classes</name>
        <label>Loop Child Classes</label>
        <locationX>1678</locationX>
        <locationY>1722</locationY>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Group_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Member_Fields_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Trainings</name>
        <label>Loop Trainings</label>
        <locationX>1156</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>outreachTrainingRecord</assignNextValueToReference>
        <collectionReference>Get_Outreach_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_within_Outreach_Criteria</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Commit_Insert_Member</name>
        <label>Commit Insert Member</label>
        <locationX>1917</locationX>
        <locationY>1241</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputReference>memberRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Trainings</name>
        <label>Get Child Trainings</label>
        <locationX>1436</locationX>
        <locationY>1580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Group_List_0</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outreachTrainingRecord.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>c501_cm__custom_Start_DateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_Contact</name>
        <label>Get Outreach Contact</label>
        <locationX>498</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Communication_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_Trainings</name>
        <label>Get Outreach Trainings</label>
        <locationX>858</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Trainings</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Outreach_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Member</name>
        <label>Get Training Member</label>
        <locationX>763</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Test_Training</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outreachTrainingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Outreach_Contact.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>memberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1918</locationX>
        <locationY>1086</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Get_Outreach_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>ACTION REQUIRED: Anytime you update this template you need to switch to Plain Text and remove all the HTML formatting</description>
        <name>textTemplateChildTrainingDescription</name>
        <text>--&gt;{!Loop_Child_Classes.c501_cm__Training_Name_WebForm__c}
-</text>
    </textTemplates>
    <textTemplates>
        <description>ACTION REQUIRED: Anytime you update this template you need to switch to Plain Text and remove all the HTML formatting</description>
        <name>textTemplateGroupClasses</name>
        <text>Class is part of a Training Series:
{!outreachTrainingRecord.Parent.c501_cm__Training_Name_WebForm__c}
-{!varChildTrainings}</text>
    </textTemplates>
    <variables>
        <name>flowElementsVisited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Max is 100</description>
        <name>flowSOQLQueriesPending</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>17.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>outreachTrainingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varChildTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
