src/flows/cmbp_Training_Notification_FLOW_CUSTOM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Admin_Alert_Email</name>
        <label>Admin Alert Email</label>
        <locationX>1633</locationX>
        <locationY>1484</locationY>
        <actionName>CampaignMember.cmbp_Admin_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_ImagineU</name>
        <label>Denied ImagineU</label>
        <locationX>2959</locationX>
        <locationY>1356</locationY>
        <actionName>CampaignMember.Denied_Email_Alert_ImagineU</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_SubPool</name>
        <label>Denied SubPool</label>
        <locationX>3054</locationX>
        <locationY>1438</locationY>
        <actionName>CampaignMember.Denied_Email_Alert_SubPool</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_Training</name>
        <label>Denied Training</label>
        <locationX>2862</locationX>
        <locationY>1323</locationY>
        <actionName>CampaignMember.Denied_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_Reminder_English</name>
        <label>FFN Reminder English</label>
        <locationX>3600</locationX>
        <locationY>1524</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_Reminder_Spanish</name>
        <label>FFN Reminder Spanish</label>
        <locationX>3735</locationX>
        <locationY>1551</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Reminder_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ImageU_Reminder_English</name>
        <label>ImageU Reminder English</label>
        <locationX>3937</locationX>
        <locationY>1535</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ImagineU_Reminder_Bilingual</name>
        <label>ImagineU Reminder Bilingual</label>
        <locationX>4240</locationX>
        <locationY>1510</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Reminder_bilingual</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ImagineU_Reminder_Spanish</name>
        <label>ImagineU Reminder Spanish</label>
        <locationX>4090</locationX>
        <locationY>1515</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Reminder_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Reminder_English</name>
        <label>LFCCP Reminder English</label>
        <locationX>4449</locationX>
        <locationY>1505</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Creative_Reminder_English_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Reminder_Spanish</name>
        <label>LFCCP Reminder Spanish</label>
        <locationX>4605</locationX>
        <locationY>1501</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Reminder_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Admin</name>
        <label>Notify Admin</label>
        <locationX>5029</locationX>
        <locationY>1507</locationY>
        <actionName>CampaignMember.Training_Member_Notify_Imagine_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outreach_English_Email</name>
        <label>Outreach English Email</label>
        <locationX>2397</locationX>
        <locationY>1219</locationY>
        <actionName>CampaignMember.Outreach_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contact_Outreach</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outreach_Somali_Email</name>
        <label>Outreach Somali Email</label>
        <locationX>2547</locationX>
        <locationY>1217</locationY>
        <actionName>CampaignMember.Outreach_Somali</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contact_Outreach</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outreach_Spanish_Email</name>
        <label>Outreach Spanish Email</label>
        <locationX>2689</locationX>
        <locationY>1215</locationY>
        <actionName>CampaignMember.Outreach_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contact_Outreach</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prepare_Reminder_English</name>
        <label>Prepare Reminder English</label>
        <locationX>4767</locationX>
        <locationY>1514</locationY>
        <actionName>CampaignMember.Training_Member_Prepare_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_Message</name>
        <label>Send SMS Message</label>
        <locationX>2329</locationX>
        <locationY>2314</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Event_Assignment_SMS</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>getSMSMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Campaign_Member.MobilePhone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubPool_Reminder_English</name>
        <label>SubPool Reminder English</label>
        <locationX>3265</locationX>
        <locationY>1541</locationY>
        <actionName>CampaignMember.SubPool_Reminder_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubPool_Reminder_Spanish</name>
        <label>SubPool Reminder Spanish</label>
        <locationX>3431</locationX>
        <locationY>1547</locationY>
        <actionName>CampaignMember.SubPool_Reminder_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Event_Assignment_Email</name>
        <label>Event Assignment Email</label>
        <locationX>2395</locationX>
        <locationY>1522</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.Status} Email {!varMemberLanguage}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Assignment_SMS</name>
        <label>Event Assignment SMS</label>
        <locationX>2523</locationX>
        <locationY>2317</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.Status} SMS {!varMemberLanguage}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_English_Default</name>
        <label>Set Language English</label>
        <locationX>1084</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>varMemberLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>English</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_Somali</name>
        <label>Set Language Somali</label>
        <locationX>1215</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>varMemberLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Somali</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_Spanish</name>
        <label>Set Language Spanish</label>
        <locationX>1365</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>varMemberLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spanish</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Owner</name>
        <label>Active Owner</label>
        <locationX>1622</locationX>
        <locationY>1164</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ActiveOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Alert_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Training</name>
        <label>Child Training</label>
        <locationX>3747</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Reminder_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Sibling_Training_Sooner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Class_Type</name>
        <label>Class Type</label>
        <locationX>2919</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>Denied_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubPool_ClassType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_SubPool</targetReference>
            </connector>
            <label>SubPool</label>
        </rules>
        <rules>
            <name>Training_ClassType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Licensed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_Training</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>ImagineU_ClassType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_ImagineU</targetReference>
            </connector>
            <label>ImagineU</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ignore sending reminder if there is an earlier training.  Just send reminder for the soonest training in a group.</description>
        <name>Earlier_Training</name>
        <label>Earlier Training</label>
        <locationX>3898</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Reminder_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Earlier_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEarlierActiveSiblingTraining</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_Out</name>
        <label>Email Opt Out</label>
        <locationX>1789</locationX>
        <locationY>899</locationY>
        <defaultConnector>
            <targetReference>Valid_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Language</name>
        <label>Get Language</label>
        <locationX>2550</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Outreach_English_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMemberLanguage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_English_Email</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>Somali</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMemberLanguage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Somali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_Somali_Email</targetReference>
            </connector>
            <label>Somali</label>
        </rules>
        <rules>
            <name>Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMemberLanguage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_Spanish_Email</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Language_0</name>
        <label>Get Language</label>
        <locationX>1169</locationX>
        <locationY>1562</locationY>
        <defaultConnector>
            <targetReference>Set_Language_English_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_English_Default</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>Somali_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Somali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Somali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_Somali</targetReference>
            </connector>
            <label>Somali</label>
        </rules>
        <rules>
            <name>Spanish_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_Spanish</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_Email</name>
        <label>Get Training Status Email</label>
        <locationX>2235</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_Type</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Language</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Training</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_RI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_SMS</name>
        <label>Get Training Status SMS</label>
        <locationX>1850</locationX>
        <locationY>2115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_RI_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_SMS</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_RI_Decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Class</name>
        <label>Group Class</label>
        <locationX>770</locationX>
        <locationY>1368</locationY>
        <defaultConnector>
            <targetReference>Training_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Type_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Contact</name>
        <label>Is Test Contact</label>
        <locationX>591</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Training</name>
        <label>Is Test Training</label>
        <locationX>349</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Training.TestFlight_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Test_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reminder_Type</name>
        <label>Reminder Type</label>
        <locationX>3876</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FFN_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Reminder_English</targetReference>
            </connector>
            <label>FFN English</label>
        </rules>
        <rules>
            <name>FFN_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Reminder_Spanish</targetReference>
            </connector>
            <label>FFN Spanish</label>
        </rules>
        <rules>
            <name>SubPool_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Pool Reminder (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_English</targetReference>
            </connector>
            <label>SubPool English</label>
        </rules>
        <rules>
            <name>SubPool_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Pool Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_Spanish</targetReference>
            </connector>
            <label>SubPool Spanish</label>
        </rules>
        <rules>
            <name>Prepare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Reminder_English</targetReference>
            </connector>
            <label>Prepare</label>
        </rules>
        <rules>
            <name>ImagineU_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImageU_Reminder_English</targetReference>
            </connector>
            <label>ImagineU English</label>
        </rules>
        <rules>
            <name>ImagineU_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImagineU_Reminder_Spanish</targetReference>
            </connector>
            <label>ImagineU Spanish</label>
        </rules>
        <rules>
            <name>ImagineU_Bilingual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (bilingual)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImagineU_Reminder_Bilingual</targetReference>
            </connector>
            <label>ImagineU Bilingual</label>
        </rules>
        <rules>
            <name>LFCCP_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCPReminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Reminder_English</targetReference>
            </connector>
            <label>LFCCP English</label>
        </rules>
        <rules>
            <name>LFCCP_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Reminder Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Reminder_Spanish</targetReference>
            </connector>
            <label>LFCCP Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_Out</name>
        <label>SMS Opt Out</label>
        <locationX>1852</locationX>
        <locationY>1710</locationY>
        <defaultConnector>
            <targetReference>Valid_MobilePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Expired</name>
        <label>Training Expired</label>
        <locationX>933</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Get_Language_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TrainingExpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__custom_Start_DateTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to make sure not a Lead</description>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>1451</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Valid_Email_or_SMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>1932</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email_or_SMS</name>
        <label>Valid Email or SMS</label>
        <locationX>1622</locationX>
        <locationY>904</locationY>
        <defaultConnector>
            <targetReference>Active_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidEmailSMS</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opt_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_MobilePhone</name>
        <label>Valid MobilePhone</label>
        <locationX>1856</locationX>
        <locationY>1902</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_MobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_SMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB 2/11 - reminder SMS event happening in subflow now
DB 11/20 - Fix error email related to limit exceeded
DB 11/3 - Don&apos;t reset flag for future child reminders
DB 11/1 - reset notification flag if sooner child
DB 10/31 - Fix reminder emails - skip old trainings
DB 9/11 - add all reminder email/sms
DB 9/10 - Add Group and Child Reminders
DB 8/12 - Add Denied Status
DB 7/24 - Switch Training Status to Status
DB 7/24 - Add Group Support
DB 7/23 - Ignore email admin for Outreach
DB 7/13 - fix getting default language
DB 7/1 - Admin notify reset pending notification
DB 6/28 - add SMS support
TEMPLATE with the custom elements</description>
    <formulas>
        <name>getSMSMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!Get_SMS_Template.Body}, &quot;CampaignMember.c501_cm__Training_Name__c&quot;, {!Get_Campaign_Member.c501_cm__Training_Name__c}), 
&quot;CampaignMember.c501_cm__Training_Start_DateTime__c&quot;, TEXT(MONTH(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c}))) +
&quot;/&quot; + TEXT(DAY(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c}))) + &quot;/&quot; +
TEXT(YEAR(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c})))),
&quot;CampaignMember.C501_Registration_Link__c&quot;, {!Get_Campaign_Member.C501_Registration_Link__c}),
&quot;c501_cm__Imagine_Settings__c.c501_cm__Email_SMS_Unsub_Text__c&quot;, {!Get_Custom_Settings.c501_cm__Email_SMS_Unsub_Text__c}),
&quot;CampaignMember.Group_Classes__c&quot;,{!Get_Campaign_Member.Group_Classes__c})</expression>
    </formulas>
    <interviewLabel>cmbp Training Notification FLOW CUSTOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Notification FLOW CUSTOM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Event_Email</name>
        <label>Create Notification Event Email</label>
        <locationX>2250</locationX>
        <locationY>1527</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Event_SMS</name>
        <label>Create Notification Event SMS</label>
        <locationX>2525</locationX>
        <locationY>2515</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification_SMS</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Active_Sibling_Training_Sooner</name>
        <label>Active Sibling Training Sooner</label>
        <locationX>3752</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Earlier_Training</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Training.c501_cm__custom_Start_DateTime__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEarlierActiveSiblingTraining</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>184</locationX>
        <locationY>1077</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>2174</locationX>
        <locationY>2319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS_Message</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c501_cm__Imagine_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Group</name>
        <label>Get Record Type Group</label>
        <locationX>615</locationX>
        <locationY>1368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Class</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Series</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Template</name>
        <label>Get SMS Template</label>
        <locationX>2023</locationX>
        <locationY>2315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.Status}_SMS_{!varMemberLanguage}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training</name>
        <label>Get Training</label>
        <locationX>175</locationX>
        <locationY>1301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Test_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Outreach</name>
        <label>Update Contact Outreach</label>
        <locationX>2544</locationX>
        <locationY>1400</locationY>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification</name>
        <label>Update Member Pending Notification</label>
        <locationX>1861</locationX>
        <locationY>1484</locationY>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_End</name>
        <label>Update Member Pending Notification</label>
        <locationX>933</locationX>
        <locationY>732</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_SMS</name>
        <label>Update Member Pending Notification SMS</label>
        <locationX>2840</locationX>
        <locationY>2515</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Reminder_SMS</name>
        <label>Reminder SMS</label>
        <locationX>2837</locationX>
        <locationY>2094</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification_SMS</targetReference>
        </connector>
        <flowName>Training_Reminder_SMS</flowName>
        <inputAssignments>
            <name>varInputMemberId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>inputCampaignMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varEarlierActiveSiblingTraining</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMemberLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
