src/flows/cmbp_Delete_Incomplete_Lead_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Any_Trainings</name>
        <label>Any Trainings</label>
        <locationX>687</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Delete_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Trainings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrainingMemerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Incomplete lead is a lead that does not have any associated trainings</description>
    <interviewLabel>cmbp Delete Incomplete Lead FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Delete Incomplete Lead FLOW TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Lead</name>
        <label>Delete Lead</label>
        <locationX>875</locationX>
        <locationY>64</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputLeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Trainings</name>
        <label>Get Trainings</label>
        <locationX>476</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Trainings</targetReference>
        </connector>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varTrainingMemerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Trainings</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varInputLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrainingMemerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
