src/flows/cmbp_Training_Notification_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Admin_Alert_Email</name>
        <label>Admin Alert Email</label>
        <locationX>1219</locationX>
        <locationY>273</locationY>
        <actionName>CampaignMember.cmbp_Admin_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Event_Assignment_Email</name>
        <label>Event Assignment Email</label>
        <locationX>1683</locationX>
        <locationY>1110</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Assignment_SMS</name>
        <label>Event Assignment SMS</label>
        <locationX>1369</locationX>
        <locationY>1720</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1528</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Do_Not_Contact</name>
        <label>Do Not Contact</label>
        <locationX>904</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Email_Opt_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DoNot_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_Out</name>
        <label>Email Opt Out</label>
        <locationX>1074</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Valid_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_Email</name>
        <label>Get Training Status Email</label>
        <locationX>1524</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Admin_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_RI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_Email_0</name>
        <label>Get Training Status Email</label>
        <locationX>1362</locationX>
        <locationY>1326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_RI_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_RI_Decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Class</name>
        <label>Group Class</label>
        <locationX>409</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Sent</name>
        <label>Notification Sent</label>
        <locationX>584</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Valid_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Notification_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_Out</name>
        <label>SMS Opt Out</label>
        <locationX>993</locationX>
        <locationY>1131</locationY>
        <defaultConnector>
            <targetReference>Valid_MobilePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Contact</name>
        <label>Test Contact</label>
        <locationX>175</locationX>
        <locationY>430</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TestContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to make sure not a Lead</description>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>738</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Do_Not_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>1239</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>Admin_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_MobilePhone</name>
        <label>Valid MobilePhone</label>
        <locationX>998</locationX>
        <locationY>1336</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_MobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_Email_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>TEMPLATE - Save As &apos;A New Flow&apos; version and replace TEMPLATE with CUSTOM in the name and add custom elements.</description>
    <formulas>
        <name>getSMSMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE({!Get_SMS_Template.Body}, &quot;!Campaign.Name&quot;, {!Get_Campaign_Member.Campaign.Name}), 
&quot;!Campaign.c501_cm__custom_Start_DateTime__c - !Campaign.c501_cm__custom_End_DateTime__c&quot;,
TEXT({!Get_Campaign_Member.Campaign.c501_cm__custom_Start_DateTime__c}) + &quot; - &quot; + TEXT({!Get_Campaign_Member.Campaign.c501_cm__custom_End_DateTime__c}))</expression>
    </formulas>
    <interviewLabel>cmbp Training Notification FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Notification FLOW TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Event_Email</name>
        <label>Create Notification Event Email</label>
        <locationX>1510</locationX>
        <locationY>1107</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Event_SMS</name>
        <label>Create Notification Event SMS</label>
        <locationX>1564</locationX>
        <locationY>1720</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification_SMS</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if there is at least 1 child campaign</description>
        <name>Get_Child_Campaign</name>
        <label>Get Child Campaign</label>
        <locationX>183</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Class</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varParentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Template</name>
        <label>Get SMS Template</label>
        <locationX>1367</locationX>
        <locationY>1557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Assignment_SMS</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Registration Confirmation SMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Events</name>
        <label>Get Training Events</label>
        <locationX>430</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Sent</targetReference>
        </connector>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Get_Campaign_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>varEventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Outreach</name>
        <label>Update Contact Outreach</label>
        <locationX>1999</locationX>
        <locationY>1589</locationY>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member</name>
        <label>Update Member</label>
        <locationX>1530</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification</name>
        <label>Update Member Pending Notification</label>
        <locationX>995</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_End</name>
        <label>Update Member Pending Notification</label>
        <locationX>743</locationX>
        <locationY>353</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_SMS</name>
        <label>Update Member Pending Notification SMS</label>
        <locationX>1750</locationX>
        <locationY>1722</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputCampaignMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
