src/flows/cmbp_Training_Notifications_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Admin_Alert_Email</name>
        <label>Admin Alert Email</label>
        <locationX>1125</locationX>
        <locationY>547</locationY>
        <actionName>CampaignMember.cmbp_Admin_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Attended_MA_Notification</name>
        <label>Attended MA</label>
        <locationX>2804</locationX>
        <locationY>1759</locationY>
        <actionName>CampaignMember.Training_Attended_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Attended_RI</name>
        <label>Attended RI</label>
        <locationX>2109</locationX>
        <locationY>1280</locationY>
        <actionName>CampaignMember.Training_Attended_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Canceled_MA</name>
        <label>Canceled MA</label>
        <locationX>2750</locationX>
        <locationY>1650</locationY>
        <actionName>CampaignMember.Training_Canceled_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Canceled_RI</name>
        <label>Canceled RI</label>
        <locationX>1991</locationX>
        <locationY>1186</locationY>
        <actionName>CampaignMember.Training_Canceled_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_RI_Email</name>
        <label>Denied RI Email</label>
        <locationX>1784</locationX>
        <locationY>1038</locationY>
        <actionName>CampaignMember.Training_Denied_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MA_Denied_Email</name>
        <label>MA Denied Email</label>
        <locationX>2615</locationX>
        <locationY>1451</locationY>
        <actionName>CampaignMember.Training_Denied_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MA_Reminder</name>
        <label>MA Reminder</label>
        <locationX>3051</locationX>
        <locationY>1982</locationY>
        <actionName>CampaignMember.Training_Reminder_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_Show_MA</name>
        <label>No-Show MA</label>
        <locationX>2691</locationX>
        <locationY>1544</locationY>
        <actionName>CampaignMember.Training_NoShow_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_Show_RI</name>
        <label>No-Show RI</label>
        <locationX>1896</locationX>
        <locationY>1111</locationY>
        <actionName>CampaignMember.Training_NoShow_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outreach_MA_Email</name>
        <label>Outreach MA</label>
        <locationX>3113</locationX>
        <locationY>2087</locationY>
        <actionName>CampaignMember.Training_Outreach_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contact_Outreach</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outreach_RI_Email</name>
        <label>Outreach RI</label>
        <locationX>2411</locationX>
        <locationY>1614</locationY>
        <actionName>CampaignMember.Training_Outreach_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contact_Outreach</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RI_Reminder</name>
        <label>RI Reminder</label>
        <locationX>2344</locationX>
        <locationY>1519</locationY>
        <actionName>CampaignMember.Training_Reminder_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MA_Registered_Email</name>
        <label>Send MA Registered Email</label>
        <locationX>2359</locationX>
        <locationY>920</locationY>
        <actionName>CampaignMember.Training_Confirmation_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Registered_RI_Email</name>
        <label>Send Registered RI Email</label>
        <locationX>1665</locationX>
        <locationY>847</locationY>
        <actionName>CampaignMember.Training_Confirmation_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Wait_List_MA</name>
        <label>Wait List MA</label>
        <locationX>2941</locationX>
        <locationY>1877</locationY>
        <actionName>CampaignMember.Training_Wait_List_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Wait_List_RI</name>
        <label>Wait List RI</label>
        <locationX>2219</locationX>
        <locationY>1381</locationY>
        <actionName>CampaignMember.Training_Wait_List_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Event_Assignment_Email</name>
        <label>Event Assignment Email</label>
        <locationX>1650</locationX>
        <locationY>1455</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Assignment_SMS</name>
        <label>Event Assignment SMS</label>
        <locationX>1899</locationX>
        <locationY>2107</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_English_Default</name>
        <label>Set Language English</label>
        <locationX>902</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>varMemberLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>English</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Training_Status_MA</name>
        <label>Update Training Status</label>
        <locationX>2522</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_MA_Registered_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Training_Status_RI</name>
        <label>Update Training Status</label>
        <locationX>1534</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Registered_RI_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_State</name>
        <label>Check State</label>
        <locationX>1759</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Outcome</defaultConnectorLabel>
        <rules>
            <name>RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(RI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_RI</targetReference>
            </connector>
            <label>RI</label>
        </rules>
        <rules>
            <name>MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(MA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_MA</targetReference>
            </connector>
            <label>MA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_Out</name>
        <label>Email Opt Out</label>
        <locationX>1288</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Valid_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Language_0</name>
        <label>Get Language</label>
        <locationX>893</locationX>
        <locationY>715</locationY>
        <defaultConnector>
            <targetReference>Set_Language_English_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_English_Default</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_MA</name>
        <label>Get Training Status MA</label>
        <locationX>2244</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_MA</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Denied_Email</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MA_Registered_Email</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show_Status_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Show_MA</targetReference>
            </connector>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled_Status_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_MA</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attended_MA_Notification</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_MA_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_MA_Email</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Reminder</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_MA_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_List_MA</targetReference>
            </connector>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_RI</name>
        <label>Get Training Status RI</label>
        <locationX>1773</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_RI</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_RI_Email</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Registered_RI_Email</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Show_RI</targetReference>
            </connector>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_RI</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attended_RI</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_RI_Email</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RI_Reminder</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_RI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_List_RI</targetReference>
            </connector>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_SMS</name>
        <label>Get Training Status SMS</label>
        <locationX>1334</locationX>
        <locationY>1750</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show_Status_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled_Status_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_MA_Path_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_MA_Decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Class</name>
        <label>Group Class</label>
        <locationX>691</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Get_Language_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Type_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Training</name>
        <label>Is Test Training</label>
        <locationX>180</locationX>
        <locationY>621</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Training.TestFlight_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_Out</name>
        <label>SMS Opt Out</label>
        <locationX>1330</locationX>
        <locationY>1377</locationY>
        <defaultConnector>
            <targetReference>Valid_MobilePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Contact</name>
        <label>Is Test Contact</label>
        <locationX>485</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TestContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to make sure not a Lead</description>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>951</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Valid_EmailSMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>1452</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_EmailSMS</name>
        <label>Valid Email or SMS</label>
        <locationX>1117</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Admin_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidEmailSMS</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opt_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_MobilePhone</name>
        <label>Valid MobilePhone</label>
        <locationX>1332</locationX>
        <locationY>1558</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_MobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_SMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>TEMPLATE - Save As &apos;A New Flow&apos; version and replace TEMPLATE with CUSTOM in the name and add custom elements.</description>
    <formulas>
        <name>getSMSMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!Get_SMS_Template.Body}, &quot;CampaignMember.c501_cm__Training_Name__c&quot;, {!Get_Campaign_Member.c501_cm__Training_Name__c}), 
&quot;CampaignMember.c501_cm__Training_Start_DateTime__c&quot;, TEXT(MONTH(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c}))) +
&quot;/&quot; + TEXT(DAY(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c}))) + &quot;/&quot; +
TEXT(YEAR(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c})))),
&quot;CampaignMember.C501_Registration_Link__c&quot;, {!Get_Campaign_Member.C501_Registration_Link__c}),
&quot;Imagine_Settings__c.Email_SMS_Unsub_Text__c&quot;, {!Get_Custom_Settings.c501_cm__Email_SMS_Unsub_Text__c}),
&quot;CampaignMember.Group_Classes__c&quot;,{!Get_Campaign_Member.Group_Classes__c})</expression>
    </formulas>
    <interviewLabel>TEMPLATE - Save As &apos;A New Flow&apos; version and replace TEMPLATE with CUSTOM in the name and add custom elements. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Notifications FLOW TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Event_Email</name>
        <label>Create Notification Event Email</label>
        <locationX>1513</locationX>
        <locationY>1453</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Event_SMS</name>
        <label>Create Notification Event SMS</label>
        <locationX>1900</locationX>
        <locationY>2286</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification_SMS</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>390</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>1732</locationX>
        <locationY>1948</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c501_cm__Imagine_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Group</name>
        <label>Get Record Type Group</label>
        <locationX>402</locationX>
        <locationY>799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Class</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Series</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Template</name>
        <label>Get SMS Template</label>
        <locationX>1561</locationX>
        <locationY>1947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c}_SMS_{!varMemberLanguage}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training</name>
        <label>Get Training</label>
        <locationX>396</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Test_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Outreach</name>
        <label>Update Contact Outreach</label>
        <locationX>2212</locationX>
        <locationY>1842</locationY>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_MA</name>
        <label>Update Member</label>
        <locationX>2524</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Update_Training_Status_MA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification</name>
        <label>Update Member Pending Notification</label>
        <locationX>1406</locationX>
        <locationY>1003</locationY>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_End</name>
        <label>Update Member Pending Notification</label>
        <locationX>682</locationX>
        <locationY>143</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_SMS</name>
        <label>Update Member Pending Notification SMS</label>
        <locationX>2115</locationX>
        <locationY>2285</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_RI</name>
        <label>Update Member</label>
        <locationX>1537</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Update_Training_Status_RI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputCampaignMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMemberLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
