src/flows/cmbp_Lead_Change_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Lead_Member</name>
        <label>Add Lead Member</label>
        <locationX>1112</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>updateLeadMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soLeadMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lead_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Member</name>
        <label>Update Lead Member</label>
        <locationX>1218</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>soLeadMember.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Lead_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLeadMember.Outreach_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lead_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Outreach_Member</name>
        <label>Found Outreach Member</label>
        <locationX>938</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Loop_Lead_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Outreach_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOutreachMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>cmbp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Lead Change FLOW TEMPLATE</label>
    <loops>
        <name>Loop_Lead_Members</name>
        <label>Loop Lead Members</label>
        <locationX>842</locationX>
        <locationY>105</locationY>
        <collectionReference>Get_Lead_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Outreach_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>509</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Members</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputLeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Members</name>
        <label>Get Lead Members</label>
        <locationX>674</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Lead_Members</targetReference>
        </connector>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_Member</name>
        <label>Get Outreach Member</label>
        <locationX>768</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Outreach_Member</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outreach</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varOutreachMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Members</name>
        <label>Update Lead Members</label>
        <locationX>1233</locationX>
        <locationY>101</locationY>
        <inputReference>updateLeadMembers</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>soLeadMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>updateLeadMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varInputLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutreachMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
