src/flows/cmbp_Notification_Preferences_Commit_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_of_Change</name>
        <label>Send Email of Change</label>
        <locationX>2239</locationX>
        <locationY>306</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Delete_Guest_Update</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>formEmailMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Guest_Update.c501_cm__C501_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varOrgWidEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Email Preference Change</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Default_Custom_Settings_Values</name>
        <label>Default Custom Settings</label>
        <locationX>923</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>varOrgWidEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>elizabeth.sheehancastro@seiuesf.org</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWebsiteContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://www.seiueducation.org/contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMS_Change</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>emptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Default_Custom_Settings</name>
        <label>Default Custom Settings</label>
        <locationX>801</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Default_Custom_Settings_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Custom_Settings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrgWidEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Change</name>
        <label>Email Change</label>
        <locationX>1442</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Language_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EmailChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__C501_Email_Opt_Out_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__C501_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Change</name>
        <label>Language Change</label>
        <locationX>1696</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>Valid_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LanguageChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__Languages__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__C501_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Language</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Change</name>
        <label>SMS Change</label>
        <locationX>1128</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Email_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMSChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__C501_SMS_Opt_Out_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__C501_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_SMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>1938</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Delete_Guest_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__C501_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Valid_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>2097</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Delete_Guest_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Guest_Update.c501_cm__C501_Contact__r.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Email_of_Change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formEmailMessage</name>
        <dataType>String</dataType>
        <expression>IF({!varSetEmailOptIn},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Email_Opt_In_Reply__c}+{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Communication_Preference_URL__c},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Email_Opt_Out_Reply__c}+{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Communication_Preference_URL__c})</expression>
    </formulas>
    <formulas>
        <name>formSetEmailOptOUT</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varSetEmailOptIn},false,true)</expression>
    </formulas>
    <formulas>
        <name>fromSMSMessage</name>
        <dataType>String</dataType>
        <expression>IF({!varSetSMSOptIn},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__SMS_Opt_In_Reply__c},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__SMS_Opt_Out_Reply__c})+{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Communication_Preference_URL__c}</expression>
    </formulas>
    <formulas>
        <name>getEmailOptOut</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Guest_Update.c501_cm__C501_Email_Opt_Out_Text__c} = &apos;true&apos;</expression>
    </formulas>
    <formulas>
        <name>getSMSOptOut</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Guest_Update.c501_cm__C501_SMS_Opt_Out_Text__c} = &apos;true&apos;</expression>
    </formulas>
    <interviewLabel>cmbp Notification Preferences Commit FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Notification Preferences Commit FLOW TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Guest_Update</name>
        <label>Delete Guest Update</label>
        <locationX>2102</locationX>
        <locationY>694</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputGuestUpdateId</elementReference>
            </value>
        </filters>
        <object>c501_cm__C501_Guest_Update__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_cmbp_Custom_Settings</name>
        <label>Get cmbp Custom Settings</label>
        <locationX>663</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Custom_Settings</targetReference>
        </connector>
        <object>cmbp_Custom_Settings__c</object>
        <outputAssignments>
            <assignToReference>varOrgWidEmailAddress</assignToReference>
            <field>OrgWideEmailAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varWebsiteContact</assignToReference>
            <field>Website_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Guest_Update</name>
        <label>Get Guest Update</label>
        <locationX>472</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_cmbp_Custom_Settings</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputGuestUpdateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c501_cm__C501_Guest_Update__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>1447</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Language_Change</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Guest_Update.c501_cm__C501_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <elementReference>getEmailOptOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__C501_Email_Opt_Out_by_Contact_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Language</name>
        <label>Update Language</label>
        <locationX>1702</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Guest_Update.c501_cm__C501_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__ii_Primary_Language__c</field>
            <value>
                <elementReference>Get_Guest_Update.c501_cm__Languages__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS</name>
        <label>Update SMS</label>
        <locationX>1138</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Email_Change</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Guest_Update.c501_cm__C501_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__C501_SMS_Opt_Out__c</field>
            <value>
                <elementReference>getSMSOptOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__C501_SMS_Out_Out_by_Contact_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Get_Guest_Update</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>conEach</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmailOptedOutSingle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputGuestUpdateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrgWidEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSetEmailOptIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetSMSOptIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSMSOptedOutSingle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWebsiteContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
