src/flows/cmbp_Training_Notifications_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Event_Assignment_Email</name>
        <label>Event Assignment Email</label>
        <locationX>1650</locationX>
        <locationY>1455</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Assignment_SMS</name>
        <label>Event Assignment SMS</label>
        <locationX>1730</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Language_English_Default</name>
        <label>Set Language English</label>
        <locationX>868</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>varMemberLanguage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>English</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Training_Status_MA</name>
        <label>Update Training Status</label>
        <locationX>3082</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Training_Status_RI</name>
        <label>Update Training Status</label>
        <locationX>1534</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_State</name>
        <label>Check State</label>
        <locationX>1759</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Outcome</defaultConnectorLabel>
        <rules>
            <name>RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(RI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_RI</targetReference>
            </connector>
            <label>RI</label>
        </rules>
        <rules>
            <name>MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(MA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_MA</targetReference>
            </connector>
            <label>MA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Training</name>
        <label>Child Training</label>
        <locationX>3390</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Sibling_Training_Sooner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_Training_0</name>
        <label>Child Training</label>
        <locationX>1964</locationX>
        <locationY>571</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Training_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Sibling_Training_Sooner_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Earlier_Training</name>
        <label>Earlier Training</label>
        <locationX>3564</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Earlier_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEarlierActiveSiblingTraining</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Earlier_Training_0</name>
        <label>Earlier Training</label>
        <locationX>2157</locationX>
        <locationY>753</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Earlier_Training_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEarlierActiveSiblingTraining</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_Out</name>
        <label>Email Opt Out</label>
        <locationX>1288</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Valid_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Language_0</name>
        <label>Get Language</label>
        <locationX>873</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>Set_Language_English_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__ii_Primary_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Language_English_Default</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_MA</name>
        <label>Get Training Status MA</label>
        <locationX>2804</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_MA</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show_Status_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled_Status_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_MA_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Training</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_MA_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_RI</name>
        <label>Get Training Status RI</label>
        <locationX>1773</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_RI</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Training_0</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_RI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_SMS</name>
        <label>Get Training Status SMS</label>
        <locationX>1254</locationX>
        <locationY>1734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show_Status_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled_Status_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_MA_Path_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder_MA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_MA_Decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Class</name>
        <label>Group Class</label>
        <locationX>704</locationX>
        <locationY>829</locationY>
        <defaultConnector>
            <targetReference>Get_Language_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Type_Group.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Pending_Notification_End</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Training</name>
        <label>Is Test Training</label>
        <locationX>180</locationX>
        <locationY>621</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.TestFlight_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_Out</name>
        <label>SMS Opt Out</label>
        <locationX>1251</locationX>
        <locationY>1347</locationY>
        <defaultConnector>
            <targetReference>Valid_MobilePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Contact</name>
        <label>Is Test Contact</label>
        <locationX>485</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TestContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.TestFlight_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to make sure not a Lead</description>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>951</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Valid_EmailSMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>1452</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_EmailSMS</name>
        <label>Valid Email or SMS</label>
        <locationX>1117</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidEmailSMS</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opt_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_MobilePhone</name>
        <label>Valid MobilePhone</label>
        <locationX>1248</locationX>
        <locationY>1532</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_MobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_SMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>getSMSMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!Get_SMS_Template.Body}, &quot;CampaignMember.c501_cm__Training_Name__c&quot;, {!Get_Campaign_Member.c501_cm__Training_Name__c}), 
&quot;CampaignMember.c501_cm__Training_Start_DateTime__c&quot;, TEXT(MONTH(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c}))) +
&quot;/&quot; + TEXT(DAY(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c}))) + &quot;/&quot; +
TEXT(YEAR(DATEVALUE({!Get_Campaign_Member.c501_cm__Training_Start_DateTime__c})))),
&quot;CampaignMember.C501_Registration_Link__c&quot;, {!Get_Campaign_Member.C501_Registration_Link__c}),
&quot;c501_cm__Imagine_Settings__c.c501_cm__Email_SMS_Unsub_Text__c&quot;, {!Get_Custom_Settings.c501_cm__Email_SMS_Unsub_Text__c}),
&quot;CampaignMember.Group_Classes__c&quot;,{!Get_Campaign_Member.Group_Classes__c})</expression>
    </formulas>
    <interviewLabel>cmbp Training Notifications FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Notifications FLOW TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Event_Email</name>
        <label>Create Notification Event Email</label>
        <locationX>1513</locationX>
        <locationY>1449</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Event_SMS</name>
        <label>Create Notification Event SMS</label>
        <locationX>1897</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>Update_Member_Pending_Notification_SMS</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Active_Sibling_Training_Sooner</name>
        <label>Active Sibling Training Sooner</label>
        <locationX>3568</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Earlier_Training</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__c501_cm__custom_Start_DateTime__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Training.c501_cm__c501_cm__custom_Start_DateTime__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEarlierActiveSiblingTraining</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Active_Sibling_Training_Sooner_0</name>
        <label>Active Sibling Training Sooner</label>
        <locationX>2159</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Earlier_Training_0</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__c501_cm__custom_Start_DateTime__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Training.c501_cm__c501_cm__custom_Start_DateTime__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEarlierActiveSiblingTraining</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>390</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>1596</locationX>
        <locationY>1888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>c501_cm__Imagine_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Group</name>
        <label>Get Record Type Group</label>
        <locationX>551</locationX>
        <locationY>814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Class</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Series</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Template</name>
        <label>Get SMS Template</label>
        <locationX>1411</locationX>
        <locationY>1877</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c}_SMS_{!varMemberLanguage}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training</name>
        <label>Get Training</label>
        <locationX>396</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Test_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Outreach</name>
        <label>Update Contact Outreach</label>
        <locationX>2092</locationX>
        <locationY>1774</locationY>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_MA</name>
        <label>Update Member</label>
        <locationX>3084</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Update_Training_Status_MA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification</name>
        <label>Update Member Pending Notification</label>
        <locationX>1406</locationX>
        <locationY>1002</locationY>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_End</name>
        <label>Update Member Pending Notification</label>
        <locationX>682</locationX>
        <locationY>143</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Pending_Notification_SMS</name>
        <label>Update Member Pending Notification SMS</label>
        <locationX>2066</locationX>
        <locationY>2049</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_RI</name>
        <label>Update Member</label>
        <locationX>1537</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Update_Training_Status_RI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputCampaignMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varEarlierActiveSiblingTraining</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMemberLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
