src/flows/cmbp_Training_Outreach_Delete_Pending_Members_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Get_Max_Outreach</name>
        <label>Get Max Outreach</label>
        <locationX>812</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>Get_Training.Final_of_Outreach_Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMaxOutreachMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Training_Max_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Member_Id</name>
        <label>Update Member Id</label>
        <locationX>492</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>varInputTrainingMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Member_Id_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_Member_Id</name>
        <label>Valid Member Id</label>
        <locationX>194</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidMemberId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputTrainingMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getMemberId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member_Id_0</name>
        <label>Valid Member Id</label>
        <locationX>620</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidMemberId_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputTrainingMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getMemberId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>getMaxOutreachMembers</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Training.Final_of_Outreach_Contacts__c}) || {!Get_Training.Number_Outreach_Contacts__c} &gt; {!Get_Training.Final_of_Outreach_Contacts__c}, {!Get_Training.Number_Outreach_Contacts__c}, {!Get_Training.Final_of_Outreach_Contacts__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getMemberId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varInputTrainingMember}), &quot;BLANKVALUE&quot;, {!varInputTrainingMember})</expression>
    </formulas>
    <interviewLabel>cmbp Training Outreach Delete Pending Members FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Outreach Delete Pending Members FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Outreach_Member</name>
        <label>Delete Outreach Member</label>
        <locationX>1153</locationX>
        <locationY>66</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTrainingMember</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>341</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Member_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTrainingMember</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training</name>
        <label>Get Training</label>
        <locationX>637</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Max_Outreach</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Training_Max_Count</name>
        <label>Update Training Max Count</label>
        <locationX>985</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>Delete_Outreach_Member</targetReference>
        </connector>
        <inputReference>Get_Training</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Valid_Member_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInputTrainingMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
