src/flows/cmbp_Email_Only_Preferences_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_of_Change</name>
        <label>Send Email of Change</label>
        <locationX>996</locationX>
        <locationY>669</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>formEmailMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_cmbp_Custom_Settings.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Email Preference Change</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>addEachContact_to_Collection</name>
        <label>addEachContact to Collection</label>
        <locationX>1489</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>conCollFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conEach</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countContacts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailOptout</name>
        <label>AssignEmailOptout</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>conEach.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formSetEmailOptOUT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conEach.c501_cm__ii_Primary_Language__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formLanguagesSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Guest_Update_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSMSOptout</name>
        <label>AssignSMSOptout</label>
        <locationX>1744</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>conEach.c501_cm__C501_SMS_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formSetSMSOptOUT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conEach.c501_cm__ii_Primary_Language__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formLanguagesSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Guest_Update_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Both_Entered_Error</name>
        <label>Both Entered Error</label>
        <locationX>234</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enter Email OR Phone, NOT both. Thank you. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Phone_or_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increase_count</name>
        <label>increase count</label>
        <locationX>958</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailOptedOutSingle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conEach.HasOptedOutOfEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSMSOptedOutSingle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conEach.c501_cm__C501_SMS_Opt_Out__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nothing_Entered_Error</name>
        <label>Nothing Entered Error</label>
        <locationX>462</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please enter an Email Address OR a Phone Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input_Phone_or_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Lang_English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lang_Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <constants>
        <name>emptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contact_Count</name>
        <label>Contact Count</label>
        <locationX>818</locationX>
        <locationY>316</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen_0</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Entered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Contact_Found_Email</targetReference>
            </connector>
            <label>1 Email</label>
        </rules>
        <rules>
            <name>X1Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Entered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Contact_Found_Phone</targetReference>
            </connector>
            <label>1 Phone</label>
        </rules>
        <rules>
            <name>greaterthan1Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Entered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_Contact_Found_Email</targetReference>
            </connector>
            <label>&gt;1 Email</label>
        </rules>
        <rules>
            <name>greaterthan1_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone_Entered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_Contact_Found_Phone</targetReference>
            </connector>
            <label>&gt;1 Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>entered_Email_or_Phone</name>
        <label>entered Email or Phone</label>
        <locationX>456</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Nothing_Entered_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>both_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_Entered_Error</targetReference>
            </connector>
            <label>Both Entered</label>
        </rules>
        <rules>
            <name>Email_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contacts_By_Email</targetReference>
            </connector>
            <label>Email Entered</label>
        </rules>
        <rules>
            <name>Phone_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contacts_By_Phone</targetReference>
            </connector>
            <label>Phone Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opting_IN_OR_OUT</name>
        <label>Opting IN OR OUT</label>
        <locationX>1054</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>countContacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSetEmailOptIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSetSMSOptIn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Preferences</targetReference>
            </connector>
            <label>In</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_What</name>
        <label>Update What</label>
        <locationX>1409</locationX>
        <locationY>146</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>greaterthan1_Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSMSOptout</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>greaterthan1Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailOptout</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_What_0</name>
        <label>Update What</label>
        <locationX>1110</locationX>
        <locationY>582</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>greaterthan1_Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Phone</label>
        </rules>
        <rules>
            <name>Email_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>greaterthan1Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>X1_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_of_Change</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <description>Make a copy of the template to add custom logic</description>
    <dynamicChoiceSets>
        <name>languages1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>c501_cm__ii_Primary_Language__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>forCleanPhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE( 
SUBSTITUTE( 
SUBSTITUTE( 
SUBSTITUTE( {!varPhone}, &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;),&quot;+&quot;,&quot;&quot;),&quot;.&quot;,&quot;&quot;),&quot;,&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF({!Error_Message}!=null,&quot;&lt;h2&gt;Error: &lt;/h2&gt;&quot;+{!Error_Message},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formEmailMessage</name>
        <dataType>String</dataType>
        <expression>IF({!varSetEmailOptIn},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Email_Opt_In_Reply__c}+{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Communication_Preference_URL__c},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Email_Opt_Out_Reply__c}+{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Communication_Preference_URL__c})</expression>
    </formulas>
    <formulas>
        <name>formEmailOptedOutSingle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varEmailOptedOutSingle},false,true)</expression>
    </formulas>
    <formulas>
        <name>formLanguagesSelected</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Language_s})),&apos;;&apos;+{!Language_s},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formSetEmailOptOUT</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varSetEmailOptIn},false,true)</expression>
    </formulas>
    <formulas>
        <name>formSetSMSOptOUT</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varSetSMSOptIn},false,true)</expression>
    </formulas>
    <formulas>
        <name>formSMSOptedOutSingle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varSMSOptedOutSingle},false,true)</expression>
    </formulas>
    <formulas>
        <name>fromSMSMessage</name>
        <dataType>String</dataType>
        <expression>IF({!varSetSMSOptIn},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__SMS_Opt_In_Reply__c},{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__SMS_Opt_Out_Reply__c})+{!$Setup.c501_cm__Imagine_Settings__c.c501_cm__Communication_Preference_URL__c}</expression>
    </formulas>
    <formulas>
        <name>SMSorEmail</name>
        <dataType>String</dataType>
        <expression>IF(OR({!X1_Email},{!greaterthan1Email}),&apos;Email&apos;,&apos;SMS&apos;)</expression>
    </formulas>
    <interviewLabel>cmbp Email Only Preferences FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Email Only Preferences FLOW TEMPLATE</label>
    <loops>
        <name>countContacts</name>
        <label>countContacts</label>
        <locationX>827</locationX>
        <locationY>45</locationY>
        <assignNextValueToReference>conEach</assignNextValueToReference>
        <collectionReference>contactsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>increase_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>countContacts_0</name>
        <label>countContacts</label>
        <locationX>1319</locationX>
        <locationY>313</locationY>
        <assignNextValueToReference>conEach</assignNextValueToReference>
        <collectionReference>contactsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_What</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_What_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Guest_Update_Email</name>
        <label>Create Guest Update Email</label>
        <locationX>1488</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>addEachContact_to_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>c501_cm__C501_Contact__c</field>
            <value>
                <elementReference>conEach.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__C501_Email_Opt_Out_Text__c</field>
            <value>
                <elementReference>formSetEmailOptOUT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Languages__c</field>
            <value>
                <elementReference>Language_s</elementReference>
            </value>
        </inputAssignments>
        <object>c501_cm__C501_Guest_Update__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Guest_Update_Phone</name>
        <label>Create Guest Update Phone</label>
        <locationX>1742</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>addEachContact_to_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>c501_cm__C501_Contact__c</field>
            <value>
                <elementReference>conEach.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__C501_SMS_Opt_Out_Text__c</field>
            <value>
                <elementReference>formSetSMSOptOUT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Languages__c</field>
            <value>
                <elementReference>Language_s</elementReference>
            </value>
        </inputAssignments>
        <object>c501_cm__C501_Guest_Update__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_cmbp_Custom_Settings</name>
        <label>Get cmbp Custom Settings</label>
        <locationX>173</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Phone_or_Email</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cmbp_Custom_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contacts_By_Email</name>
        <label>Lookup Contacts By Email</label>
        <locationX>707</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countContacts</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactsColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>c501_cm__C501_SMS_Opt_Out__c</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>c501_cm__ii_Primary_Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contacts_By_Phone</name>
        <label>Lookup Contacts By Phone</label>
        <locationX>713</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countContacts</targetReference>
        </connector>
        <filters>
            <field>c501_cm__C501_Clean_Both_Mobile_Numbers__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>forCleanPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactsColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>c501_cm__C501_SMS_Opt_Out__c</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>c501_cm__ii_Primary_Language__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1122</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationNotice</name>
            <fieldText>&lt;p&gt;Your {!SMSorEmail} preference has been updated. We have sent an &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!SMSorEmail}&lt;/span&gt; to you to confirm your changes.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If there is anything else we can do for you, please don&apos;t hesitate to reach out at {!Get_cmbp_Custom_Settings.Website_Contact__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen_0</name>
        <label>Confirmation Screen</label>
        <locationX>747</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationNotice_0</name>
            <fieldText>&lt;p&gt;We did not find your information based on the email you entered. Please go back and try again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you believe this is in error, please don&apos;t hesitate to contact us at {!Get_cmbp_Custom_Settings.Website_Contact__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Phone_or_Email</name>
        <label>Input Phone or Email</label>
        <locationX>330</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>entered_Email_or_Phone</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Change your Email preferences. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Enter your email address to update your email preferences.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(140, 1, 1);&quot;&gt;{!forErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Language_Preferences</name>
        <label>Language Preferences</label>
        <locationX>1274</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>countContacts_0</targetReference>
        </connector>
        <fields>
            <name>langMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Language preferences. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Set which language(s) you prefer. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If you want to change your language preferences in more detail, please contact at {!Get_cmbp_Custom_Settings.Website_Contact__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Language_s</name>
            <choiceReferences>Lang_English</choiceReferences>
            <choiceReferences>Lang_Spanish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multi_Contact_Found_Email</name>
        <label>Multi Contact Found Email</label>
        <locationX>910</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opting_IN_OR_OUT</targetReference>
        </connector>
        <fields>
            <name>emailMessage2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Change your Email preference. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We use Email to keep you informed of trainings in your area. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SMSOptOutSelectSingle_0_0_0</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>OPT OUT of Email Messages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Preferences</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>OPT IN to Email Messages</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSetEmailOptIn</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multi_Contact_Found_Phone</name>
        <label>Multi Contact Found Phone</label>
        <locationX>998</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opting_IN_OR_OUT</targetReference>
        </connector>
        <fields>
            <name>smsMessage2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Change your SMS preference. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We use SMS to keep you informed of trainings in your area. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SMSOptOutSelectSingle_0_0</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>OPT OUT of SMS Messages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SMS Preferences</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>OPT IN to SMS Messages</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSetSMSOptIn</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_Contact_Found_Email</name>
        <label>Single Contact Found Email</label>
        <locationX>962</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opting_IN_OR_OUT</targetReference>
        </connector>
        <fields>
            <name>emailMessage1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Change your Email preference. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We use Email to keep you informed of trainings in your area. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SMSOptOutSelectSingle_0</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>OPT OUT of Email Messages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Preference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>OPT IN to Email Messages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>formEmailOptedOutSingle</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSetEmailOptIn</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_Contact_Found_Phone</name>
        <label>Single Contact Found Phone</label>
        <locationX>917</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opting_IN_OR_OUT</targetReference>
        </connector>
        <fields>
            <name>smsMessage1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Change your SMS preference. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We use SMS to keep you informed of trainings in your area.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SMSOptOutSelectSingle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>OPT OUT of SMS Messages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SMS Preference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>OPT IN to SMS Messages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>formSMSOptedOutSingle</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSetSMSOptIn</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_cmbp_Custom_Settings</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>lineBreak</name>
        <text>{!emptyString}
{!emptyString}</text>
    </textTemplates>
    <variables>
        <name>conCollFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>conEach</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Email entered by user.</description>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varEmailOptedOutSingle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSetEmailOptIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetSMSOptIn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSMSOptedOutSingle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
