src/flows/cmbp_Training_Outreach_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Member_Insert</name>
        <label>Add Member</label>
        <locationX>1954</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>insertMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>memberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Insert_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Limits</name>
        <label>Assign Limits</label>
        <locationX>1254</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>flowElementsVisited</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Near_Flow_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_Fields</name>
        <label>Assign Member Fields</label>
        <locationX>1766</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>memberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outreachTrainingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Notification_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Outreach_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outreach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Group_Classes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateGroupClasses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Group_List</name>
        <label>Build Group List</label>
        <locationX>1405</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getChildTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Classes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Group_List_0</name>
        <label>Build Group List</label>
        <locationX>1564</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Classes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Class_Type</name>
        <label>Class Type</label>
        <locationX>752</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Class_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Member</targetReference>
            </connector>
            <label>Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_within_Outreach_Criteria</name>
        <label>Contact within Outreach Criteria</label>
        <locationX>997</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactWithinOutreachCritiera</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>getTrainingArea1StateAllCounties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_Training</name>
        <label>Is Child Training</label>
        <locationX>1349</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>Assign_Member_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Trainings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Contact</name>
        <label>Is Test Contact</label>
        <locationX>945</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Member_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Test_Training</name>
        <label>Is Test Training</label>
        <locationX>632</locationX>
        <locationY>1011</locationY>
        <defaultConnector>
            <targetReference>Valid_Member_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Test_Training</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>outreachTrainingRecord.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>**Test**</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outreachTrainingRecord.TestFlight_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Test_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Match</name>
        <label>Language Match</label>
        <locationX>999</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_LanguageMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doesLanguageMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Class_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Flow Limit - Executed elements at runtime per flow = 2000</description>
        <name>Near_Flow_Limit</name>
        <label>Near Flow Limit</label>
        <locationX>1252</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Loop_Trainings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NearLimit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>flowElementsVisited</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1980.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowSOQLQueriesPending</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>98.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Communication_Values</name>
        <label>Valid Communication Values</label>
        <locationX>564</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidValues</name>
            <conditionLogic>((1 AND 2) OR (4 AND 5)) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Outreach_Trainings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member_Exists</name>
        <label>Valid Member Exists</label>
        <locationX>917</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>Is_Child_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MemberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>memberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Limits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>doesLanguageMatch</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!outreachTrainingRecord.c501_cm__Language__c}) = &quot;Spanish&quot; &amp;&amp; TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;Spanish&quot;, TRUE,
IF(TEXT({!outreachTrainingRecord.c501_cm__Language__c}) = &quot;Somali&quot; &amp;&amp; TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;Somali&quot;, TRUE,
IF(TEXT({!outreachTrainingRecord.c501_cm__Language__c}) = &quot;English&quot; &amp;&amp; (TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;English&quot; || TEXT({!Get_Outreach_Contact.c501_cm__ii_Primary_Language__c}) = &quot;&quot;), TRUE, FALSE)))</expression>
    </formulas>
    <formulas>
        <name>getChildTrainingDescription</name>
        <dataType>String</dataType>
        <expression>&quot;     --&gt; &quot; +  {!Loop_Child_Classes.c501_cm__Training_Name_WebForm__c} + BR()</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea1StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_1__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea2StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_2__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea3StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_3__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea4StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_4__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>cmbp Training Outreach FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Outreach FLOW TEMPLATE</label>
    <loops>
        <name>Loop_Child_Classes</name>
        <label>Loop Child Classes</label>
        <locationX>1688</locationX>
        <locationY>1150</locationY>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Group_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Member_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Trainings</name>
        <label>Loop Trainings</label>
        <locationX>1004</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>outreachTrainingRecord</assignNextValueToReference>
        <collectionReference>Get_Outreach_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_within_Outreach_Criteria</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Commit_Insert_Members</name>
        <label>Commit Insert Members</label>
        <locationX>1965</locationX>
        <locationY>476</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputReference>insertMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Trainings</name>
        <label>Get Child Trainings</label>
        <locationX>1369</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Group_List_0</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outreachTrainingRecord.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_Contact</name>
        <label>Get Outreach Contact</label>
        <locationX>434</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Communication_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_Trainings</name>
        <label>Get Outreach Trainings</label>
        <locationX>714</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Trainings</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Outreach_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Member</name>
        <label>Get Training Member</label>
        <locationX>629</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Test_Training</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outreachTrainingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Outreach_Contact.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>memberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1968</locationX>
        <locationY>343</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Get_Outreach_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>textTemplateGroupClasses</name>
        <text>&lt;p&gt;Class is part of a Training Series: {!outreachTrainingRecord.Parent.c501_cm__Training_Name_WebForm__c}&lt;/p&gt;&lt;p&gt;{!varChildTrainings}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>flowElementsVisited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Max is 100</description>
        <name>flowSOQLQueriesPending</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>17.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insertMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>memberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>outreachTrainingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varChildTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
