src/flows/cmbp_Training_Notification_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Admin_Alert_Email</name>
        <label>Admin Alert Email</label>
        <locationX>1217</locationX>
        <locationY>272</locationY>
        <actionName>CampaignMember.cmbp_Admin_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Attended_MA_Notification</name>
        <label>Attended MA</label>
        <locationX>2591</locationX>
        <locationY>1506</locationY>
        <actionName>CampaignMember.Training_Attended_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Attended_RI</name>
        <label>Attended RI</label>
        <locationX>1896</locationX>
        <locationY>1027</locationY>
        <actionName>CampaignMember.Training_Attended_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Canceled_MA</name>
        <label>Canceled MA</label>
        <locationX>2537</locationX>
        <locationY>1397</locationY>
        <actionName>CampaignMember.Training_Canceled_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Canceled_RI</name>
        <label>Canceled RI</label>
        <locationX>1778</locationX>
        <locationY>933</locationY>
        <actionName>CampaignMember.Training_Canceled_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_RI_Email</name>
        <label>Denied RI Email</label>
        <locationX>1571</locationX>
        <locationY>785</locationY>
        <actionName>CampaignMember.Training_Denied_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MA_Denied_Email</name>
        <label>MA Denied Email</label>
        <locationX>2402</locationX>
        <locationY>1198</locationY>
        <actionName>CampaignMember.Training_Denied_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MA_Reminder</name>
        <label>MA Reminder</label>
        <locationX>2838</locationX>
        <locationY>1729</locationY>
        <actionName>CampaignMember.Training_Reminder_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_Show_MA</name>
        <label>No-Show MA</label>
        <locationX>2478</locationX>
        <locationY>1291</locationY>
        <actionName>CampaignMember.Training_NoShow_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_Show_RI</name>
        <label>No-Show RI</label>
        <locationX>1683</locationX>
        <locationY>858</locationY>
        <actionName>CampaignMember.Training_NoShow_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outreach_MA_Email</name>
        <label>Outreach MA</label>
        <locationX>2900</locationX>
        <locationY>1834</locationY>
        <actionName>CampaignMember.Training_Outreach_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contact_Outreach</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outreach_RI_Email</name>
        <label>Outreach RI</label>
        <locationX>2198</locationX>
        <locationY>1361</locationY>
        <actionName>CampaignMember.Training_Outreach_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contact_Outreach</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RI_Reminder</name>
        <label>RI Reminder</label>
        <locationX>2131</locationX>
        <locationY>1266</locationY>
        <actionName>CampaignMember.Training_Reminder_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MA_Confirmation_Email</name>
        <label>Send MA Confirmation Email</label>
        <locationX>2129</locationX>
        <locationY>704</locationY>
        <actionName>CampaignMember.Training_Confirmation_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Member</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_RI_Email</name>
        <label>Send RI Email</label>
        <locationX>1428</locationX>
        <locationY>535</locationY>
        <actionName>CampaignMember.Training_Confirmation_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Member</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Wait_List_MA</name>
        <label>Wait List MA</label>
        <locationX>2728</locationX>
        <locationY>1624</locationY>
        <actionName>CampaignMember.Training_Wait_List_Email_Alert_MA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Wait_List_RI</name>
        <label>Wait List RI</label>
        <locationX>2006</locationX>
        <locationY>1128</locationY>
        <actionName>CampaignMember.Training_Wait_List_Email_Alert_RI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Event_Assignment_Email</name>
        <label>Event Assignment Email</label>
        <locationX>1437</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Assignment_SMS</name>
        <label>Event Assignment SMS</label>
        <locationX>1369</locationX>
        <locationY>1720</locationY>
        <assignmentItems>
            <assignToReference>notificationEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member.Campaign.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Campaign_Member.c501_cm__Training_Status__c} SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Event_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_State</name>
        <label>Check State</label>
        <locationX>1545</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Admin_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Outcome</defaultConnectorLabel>
        <rules>
            <name>RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(RI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_RI</targetReference>
            </connector>
            <label>RI</label>
        </rules>
        <rules>
            <name>MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(MA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Status_MA</targetReference>
            </connector>
            <label>MA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Not_Contact</name>
        <label>Do Not Contact</label>
        <locationX>904</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Email_Opt_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DoNot_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Opt_Out</name>
        <label>Email Opt Out</label>
        <locationX>1075</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Valid_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Opt_Out</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_MA</name>
        <label>Get Training Status MA</label>
        <locationX>2031</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Admin_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MA_Confirmation_Email</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Denied_Email</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MA_Confirmation_Email</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show_Status_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Show_MA</targetReference>
            </connector>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled_Status_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_MA</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attended_MA_Notification</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_MA_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_MA_Email</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder_MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Reminder</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_MA_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_List_MA</targetReference>
            </connector>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Training_Status_RI</name>
        <label>Get Training Status RI</label>
        <locationX>1560</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Admin_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_RI_Email</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Denied_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_RI_Email</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Registered_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_RI_Email</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Show_RI</targetReference>
            </connector>
            <label>No-Show</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_RI</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attended_RI</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
        <rules>
            <name>Outreach_RI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_RI_Email</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Registered_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RI_Reminder</targetReference>
            </connector>
            <label>Registered Reminder</label>
        </rules>
        <rules>
            <name>Wait_List_RI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.c501_cm__Training_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_List_RI</targetReference>
            </connector>
            <label>Wait List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Class</name>
        <label>Group Class</label>
        <locationX>580</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Class</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Sent</name>
        <label>Notification Sent</label>
        <locationX>584</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Valid_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Notification_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEventId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_Out</name>
        <label>SMS Opt Out</label>
        <locationX>1139</locationX>
        <locationY>1124</locationY>
        <defaultConnector>
            <targetReference>Valid_MobilePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_OptOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Contact</name>
        <label>Test Contact</label>
        <locationX>175</locationX>
        <locationY>430</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TestContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.LastName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to make sure not a Lead</description>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>738</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Do_Not_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>1239</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>Admin_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_MobilePhone</name>
        <label>Valid MobilePhone</label>
        <locationX>1138</locationX>
        <locationY>1467</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_MobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member.Contact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>TEMPLATE - Save As &apos;A New Flow&apos; version and replace TEMPLATE with CUSTOM in the name and add custom elements.</description>
    <formulas>
        <name>getSMSMessage</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE({!Get_SMS_Template.Body}, &quot;!Campaign.Name&quot;, {!Get_Campaign_Member.Campaign.Name}), 
&quot;!Campaign.c501_cm__custom_Start_DateTime__c - !Campaign.c501_cm__custom_End_DateTime__c&quot;,
TEXT({!Get_Campaign_Member.Campaign.c501_cm__custom_Start_DateTime__c}) + &quot; - &quot; + TEXT({!Get_Campaign_Member.Campaign.c501_cm__custom_End_DateTime__c}))</expression>
    </formulas>
    <interviewLabel>cmbp Training Notification FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Notification FLOW TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Event_Email</name>
        <label>Create Notification Event Email</label>
        <locationX>1300</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Event_SMS</name>
        <label>Create Notification Event SMS</label>
        <locationX>1564</locationX>
        <locationY>1720</locationY>
        <inputReference>notificationEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if there is at least 1 child campaign</description>
        <name>Get_Child_Campaign</name>
        <label>Get Child Campaign</label>
        <locationX>396</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Class</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varParentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SMS_Template</name>
        <label>Get SMS Template</label>
        <locationX>1368</locationX>
        <locationY>1462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Assignment_SMS</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Registration Confirmation SMS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Events</name>
        <label>Get Training Events</label>
        <locationX>590</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Sent</targetReference>
        </connector>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Get_Campaign_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>varEventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Outreach</name>
        <label>Update Contact Outreach</label>
        <locationX>1999</locationX>
        <locationY>1589</locationY>
        <connector>
            <targetReference>Event_Assignment_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member</name>
        <label>Update Member</label>
        <locationX>1424</locationX>
        <locationY>702</locationY>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCampaignMember</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputCampaignMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
