src/flows/cmbp_Setup_Training_Series_FLOW_CUSTOM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Insert_Record</name>
        <label>Add Insert Record</label>
        <locationX>1416</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>insertMemberRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>insertMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Update_Record</name>
        <label>Add Update Record</label>
        <locationX>1302</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>updateMemberRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Group_List</name>
        <label>Build Group List</label>
        <locationX>2075</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTemplateChildTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Classes</name>
        <label>Set Group Classes</label>
        <locationX>813</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Member.Group_Classes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTemplateGroupClasses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Insert_Contact_Member</name>
        <label>Set Insert Contact Member</label>
        <locationX>1606</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>insertMemberRecord.LeadId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Trainings.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.Notification_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Insert_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Insert_Lead_Member</name>
        <label>Set Insert Lead Member</label>
        <locationX>1614</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>insertMemberRecord.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Trainings.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertMemberRecord.Notification_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Insert_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Contact_Member</name>
        <label>Set Update Contact Member</label>
        <locationX>1431</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>updateMemberRecord.LeadId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Lead_Member</name>
        <label>Set Update Lead Member</label>
        <locationX>1449</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>updateMemberRecord.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberRecord.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Child_Trainings</name>
        <label>Child Trainings</label>
        <locationX>962</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ChildTrainings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChildTrainings</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Group_Classes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Member_New</name>
        <label>Contact Member New</label>
        <locationX>1800</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>Set_Insert_Lead_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactMemberNew</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Member.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Member.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Insert_Contact_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Member_Update</name>
        <label>Contact Member Update</label>
        <locationX>1647</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Set_Update_Lead_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactMemberUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Member.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Member.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Update_Contact_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Exists</name>
        <label>Member Exists</label>
        <locationX>2066</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Contact_Member_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MemberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Member_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Exists_By_Id</name>
        <label>Member Exists By Id</label>
        <locationX>1276</locationX>
        <locationY>860</locationY>
        <defaultConnector>
            <targetReference>Get_Member_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MemberExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Group_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Child_Member_Status</name>
        <label>Update Child Member Status</label>
        <locationX>1830</locationX>
        <locationY>457</locationY>
        <defaultConnector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UpdateChildMemberStatus</name>
            <conditionLogic>(1 OR 4 OR 5) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMemberStatus</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMemberStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Member_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB 12/9 - Update status on existing child members only if child member status is registered or pending and parent is canceled
DB 12/8 II - Queue Insert and Updates to process outside loop
DB 12/8 - Check for Contact Id otherwise assume Lead based member (if exists)
11/20 - Fix Duplicate error</description>
    <interviewLabel>cmbp Setup Training Series FLOW CUSTOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Setup Training Series FLOW CUSTOM</label>
    <loops>
        <name>Loop_Child_Trainings</name>
        <label>Loop Child Trainings</label>
        <locationX>1210</locationX>
        <locationY>347</locationY>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Child_Trainings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Child_Member_Records</name>
        <label>Insert Child Member Records</label>
        <locationX>399</locationX>
        <locationY>385</locationY>
        <inputReference>insertMemberRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Trainings</name>
        <label>Get Child Trainings</label>
        <locationX>1195</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>c501_cm__custom_Start_DateTime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Member</name>
        <label>Get Input Member</label>
        <locationX>497</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTrainingMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>1117</locationX>
        <locationY>745</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Exists_By_Id</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Trainings.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.ContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_0</name>
        <label>Get Member</label>
        <locationX>1683</locationX>
        <locationY>934</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Group_List</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Trainings.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.Email</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent</name>
        <label>Get Parent</label>
        <locationX>748</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Member</name>
        <label>Get Parent Member</label>
        <locationX>939</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Trainings</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Member_Records</name>
        <label>Update Child Member Records</label>
        <locationX>539</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Insert_Child_Member_Records</targetReference>
        </connector>
        <inputReference>updateMemberRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Member</name>
        <label>Update Parent Member</label>
        <locationX>670</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Update_Child_Member_Records</targetReference>
        </connector>
        <inputReference>Get_Parent_Member</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Input_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>ACTION REQUIRED: Anytime you update this template you need to switch to Plain Text and remove all the HTML formatting</description>
        <name>varTemplateChildTrainingDescription</name>
        <text>--&gt;{!Loop_Child_Trainings.c501_cm__Training_Name_WebForm__c}
-</text>
    </textTemplates>
    <textTemplates>
        <description>ACTION REQUIRED: Anytime you update this template you need to switch to Plain Text and remove all the HTML formatting</description>
        <name>varTemplateGroupClasses</name>
        <text>Class is part of a Training Series:
{!Get_Parent.c501_cm__Training_Name_WebForm__c}
{!varChildTrainings}</text>
    </textTemplates>
    <variables>
        <name>inputTrainingMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insertMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>insertMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>updateMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>updateMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varChildTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMemberStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
