src/flows/cmbp_Setup_Training_Series_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Build_Group_List</name>
        <label>Build Group List</label>
        <locationX>1714</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTemplateChildTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Classes</name>
        <label>Set Group Classes</label>
        <locationX>813</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Member.Group_Classes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTemplateGroupClasses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Child_Trainings</name>
        <label>Child Trainings</label>
        <locationX>962</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ChildTrainings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChildTrainings</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Group_Classes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Member</name>
        <label>Lead Member</label>
        <locationX>1801</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>Create_Child_Member_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LeadMember</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Member.LeadId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Member.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Member_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Member_0</name>
        <label>Lead Member</label>
        <locationX>1647</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LeadMember_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Member.LeadId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Member.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Exists</name>
        <label>Member Exists</label>
        <locationX>1791</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Lead_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MemberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Member_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>cmbp Setup Training Series FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Setup Training Series FLOW TEMPLATE</label>
    <loops>
        <name>Loop_Child_Trainings</name>
        <label>Loop Child Trainings</label>
        <locationX>1210</locationX>
        <locationY>347</locationY>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Child_Trainings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Member_Contact</name>
        <label>Create Child Member Contact</label>
        <locationX>1473</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Loop_Child_Trainings.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Input_Member.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Member_Lead</name>
        <label>Create Child Member Lead</label>
        <locationX>1443</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Loop_Child_Trainings.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Get_Input_Member.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Trainings</name>
        <label>Get Child Trainings</label>
        <locationX>1195</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>c501_cm__custom_Start_DateTime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Member</name>
        <label>Get Input Member</label>
        <locationX>497</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTrainingMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>1215</locationX>
        <locationY>831</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Group_List</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Trainings.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.ContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent</name>
        <label>Get Parent</label>
        <locationX>748</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Member</name>
        <label>Get Parent Member</label>
        <locationX>939</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Trainings</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Member</name>
        <label>Update Contact Member</label>
        <locationX>1346</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Member</name>
        <label>Update Lead Member</label>
        <locationX>1437</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Member.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_Input_Member.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <elementReference>Get_Input_Member.c501_cm__Training_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Member</name>
        <label>Update Parent Member</label>
        <locationX>670</locationX>
        <locationY>378</locationY>
        <inputReference>Get_Parent_Member</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Input_Member</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>ACTION REQUIRED: Anytime you update this template you need to switch to Plain Text and remove all the HTML formatting</description>
        <name>varTemplateChildTrainingDescription</name>
        <text>--&gt;{!Loop_Child_Trainings.c501_cm__Training_Name_WebForm__c}
-</text>
    </textTemplates>
    <textTemplates>
        <description>ACTION REQUIRED: Anytime you update this template you need to switch to Plain Text and remove all the HTML formatting</description>
        <name>varTemplateGroupClasses</name>
        <text>Class is part of a Training Series:
{!Get_Parent.c501_cm__Training_Name_WebForm__c}
{!varChildTrainings}</text>
    </textTemplates>
    <variables>
        <name>inputTrainingMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChildTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
