src/flows/cmbp_Training_Registration_FLOW_TEMPLATE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Build_Child_Training_List_0</name>
        <label>Build Child Training List</label>
        <locationX>2749</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getChildTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Trainings_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Extra_Day_Training_List</name>
        <label>Build Extra Day Training List</label>
        <locationX>3638</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>varExtraDayTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getExtraDayTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extra_Day_Min</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Child_Training_List</name>
        <label>Clear Child Training List</label>
        <locationX>2748</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Trainings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Error_Message</name>
        <label>Clear Error Message</label>
        <locationX>3785</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Build_Extra_Day_Training_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extra_Day_Error</name>
        <label>Set Error</label>
        <locationX>4082</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extra_Day_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extra_Day_Error_Already_Registered</name>
        <label>Set Error Already Registered</label>
        <locationX>4265</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingAlreadyRegistered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extra_Day_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extra_Day_Min</name>
        <label>Extra Day Min</label>
        <locationX>3639</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>varExtraDayMin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soExtraDayTraining.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDayCheckIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Extra_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Facility_Lead</name>
        <label>Facility Lead</label>
        <locationX>1914</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Facility_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCompanyFacility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Language_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Language_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Primary_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Union_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Union_Member</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Union_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Union_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_License_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_ZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.QRIS_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_QRIS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Day1_Training_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Facility_Lead_0</name>
        <label>Facility Lead</label>
        <locationX>1972</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_First_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Last_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Email_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Phone_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Street_Address_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_City_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Facility_Picklist_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCompanyFacility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Language_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Language_Other_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Primary_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Language_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Position_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_MiddleName_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_ZipCode_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Day1_Training_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insert_Training_Members</name>
        <label>Insert Training Members</label>
        <locationX>3784</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soExtraDayTrainingMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Id</name>
        <label>Set Lead Id</label>
        <locationX>2421</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>varLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Mode_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Min_Date</name>
        <label>Set Min Date</label>
        <locationX>3015</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>varExtraDayMin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soDay1Training.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDayCheckIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Extra_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Substitute_Day1_Error</name>
        <label>Set Error</label>
        <locationX>1422</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Facility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Training_Member</name>
        <label>Set Training Member</label>
        <locationX>3797</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soExtraDayTraining.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMember.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Training_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substitute_Lead</name>
        <label>Substitute Lead</label>
        <locationX>1762</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Sub_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__ii_STARS_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_STARS_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCompanySubstitute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Day1_Training_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Training_Lead</name>
        <label>Training Lead</label>
        <locationX>1814</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Training_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Payee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Payee_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__ii_STARS_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_STARS_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCompanyTraining</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Day1_Training_Member</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Training_SelectOption</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;[Click to Select Training]&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>constHelpTextPayeeNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is located on your invoice</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Trainings</name>
        <label>Any Trainings</label>
        <locationX>553</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>No_Trainings_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Trainings_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soDay1Training.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Series_RecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day1_Member</name>
        <label>Existing Day1 Member</label>
        <locationX>2166</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Check_Day1_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDayTrainingMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Extra_Day</name>
        <label>Check Extra Day</label>
        <locationX>3443</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Loop_Extra_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Extra_Day_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Extra_Days.c501_cm__Training_Name_WebForm__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>getDayCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Day_Training</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Extra_Day_Member</name>
        <label>Existing Extra Day Member</label>
        <locationX>3811</locationX>
        <locationY>1474</locationY>
        <defaultConnector>
            <targetReference>Extra_Day_Error_Already_Registered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Check_Day1_Member_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDayTrainingMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Training_Member</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_varInputRestrictByDay</name>
        <label>Check varInputRestrictByDay</label>
        <locationX>3001</locationX>
        <locationY>1149</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RestrictByDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputRestrictByDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Min_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_varInputRestrictByDay_0</name>
        <label>Check varInputRestrictByDay</label>
        <locationX>2016</locationX>
        <locationY>1781</locationY>
        <defaultConnector>
            <targetReference>Create_Training_Member_Day1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RestrictByDay_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputRestrictByDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Extra_Day_Training_Members_Insert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode</name>
        <label>Debug Mode</label>
        <locationX>748</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Is_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Day1_Query</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode_0</name>
        <label>Debug Mode</label>
        <locationX>2523</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Group_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Forms</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected</name>
        <label>Default Selected</label>
        <locationX>1552</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Substitute_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Substitute_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_0</name>
        <label>Default Selected</label>
        <locationX>1543</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Training_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_0_0</name>
        <label>Default Selected</label>
        <locationX>1544</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Facility_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Facility_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_0_0_0</name>
        <label>Default Selected</label>
        <locationX>1553</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Facility_Lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Facility_Training_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_1</name>
        <label>Default Selected</label>
        <locationX>3904</locationX>
        <locationY>805</locationY>
        <defaultConnector>
            <targetReference>Existing_Extra_Day_Training_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Extra_Day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Day_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Selected</name>
        <label>Group Selected</label>
        <locationX>2844</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Check_varInputRestrictByDay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soDay1Training.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Series_RecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Child_Training_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Facility</name>
        <label>Is Facility</label>
        <locationX>739</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Is_Substitute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputClassTypeFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_State</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Substitute</name>
        <label>Is Substitute</label>
        <locationX>824</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Day1_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Substitute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputClassTypeFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Day1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_State</name>
        <label>Which State</label>
        <locationX>1147</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Facility_Training_Pick_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputTrainingFilter</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facility_Training_Pick</targetReference>
            </connector>
            <label>MA</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Day1GroupTrainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Series_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>TestFlight_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTestFlightEnabled</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay1Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Day1Trainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Series_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>TestFlight_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTestFlightEnabled</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getDayCheck</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay1Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExtraDayTrainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>TestFlight_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTestFlightEnabled</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getDayCheck</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varExtraDayMin</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soExtraDayTraining.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soExtraDayTraining.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soExtraDayTraining.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>c501_cm__ii_Primary_Language__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistPosition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Position__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistQRISLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>QRIS_Level__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistTrainingState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistUnionMember</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Union_Member__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrainingList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>c501_cm__Location__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fEmailCheck</name>
        <dataType>Boolean</dataType>
        <expression>Contains({!Training_Email}, &quot;@&quot;)</expression>
    </formulas>
    <formulas>
        <name>getChildTrainingDescription</name>
        <dataType>String</dataType>
        <expression>&quot;     --&gt; &quot; +  {!soDay1Training.c501_cm__Training_Name_WebForm__c} + BR()</expression>
    </formulas>
    <formulas>
        <name>getDayCheck</name>
        <dataType>String</dataType>
        <expression>IF({!varInputRestrictByDay}, &quot;Day &quot; + TEXT({!varDayCheckIndex}), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getExtraDayTrainingDescription</name>
        <dataType>String</dataType>
        <expression>{!soExtraDayTraining.c501_cm__Training_Name_WebForm__c} + BR()</expression>
    </formulas>
    <formulas>
        <name>leadCompanyFacility</name>
        <dataType>String</dataType>
        <expression>&quot;Facility&quot;</expression>
    </formulas>
    <formulas>
        <name>leadCompanySubstitute</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Substitute_STARS_Id}) &gt; 0, {!Substitute_STARS_Id}, {!Substitute_First_Name} + &quot; &quot; + {!Substitute_Last_Name})</expression>
    </formulas>
    <formulas>
        <name>leadCompanyTraining</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Training_STARS_Id}) &gt; 0, {!Training_STARS_Id}, {!Training_First_Name} + &quot; &quot; + {!Training_Last_Name})</expression>
    </formulas>
    <interviewLabel>cmbp Training Registration FLOW TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Registration FLOW TEMPLATE</label>
    <loops>
        <name>Loop_Child_Trainings</name>
        <label>Loop Child Trainings</label>
        <locationX>2307</locationX>
        <locationY>2181</locationY>
        <assignNextValueToReference>soDay1Training</assignNextValueToReference>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Child_Training_Member_Day1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Child_Trainings_0</name>
        <label>Loop Child Trainings</label>
        <locationX>2745</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>soDay1Training</assignNextValueToReference>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Child_Training_List_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Group_Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Extra_Days</name>
        <label>Loop Extra Days</label>
        <locationX>3281</locationX>
        <locationY>1595</locationY>
        <collectionReference>Get_Extra_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Extra_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Training_Member_Day1</name>
        <label>Create Child Day1 Training Member</label>
        <locationX>2634</locationX>
        <locationY>2182</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Extra_Day_Training_Members_Insert</name>
        <label>Create Extra Day Training Members</label>
        <locationX>2418</locationX>
        <locationY>1791</locationY>
        <connector>
            <targetReference>Create_Training_Member_Day1</targetReference>
        </connector>
        <inputReference>soExtraDayTrainingMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>2312</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Set_Lead_Id</targetReference>
        </connector>
        <inputReference>soLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Training_Member_Day1</name>
        <label>Create Day1 Training Member</label>
        <locationX>1764</locationX>
        <locationY>2167</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Existing_Day1_Training_Member</name>
        <label>Day1 Training Member</label>
        <locationX>2039</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Day1_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soLead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDayTrainingMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existing_Extra_Day_Training_Member</name>
        <label>Extra Day Training Member</label>
        <locationX>3921</locationX>
        <locationY>1124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Extra_Day_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soExtraDayTraining.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDayTrainingMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Trainings</name>
        <label>Get Available Trainings</label>
        <locationX>435</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Trainings</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay1Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Trainings</name>
        <label>Get Child Trainings</label>
        <locationX>2741</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Trainings_0</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>c501_cm__custom_Start_DateTime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Extra_Days</name>
        <label>Get Extra Days</label>
        <locationX>3130</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Extra_Days</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Series_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Day</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varExtraDayMin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Series_RecordType</name>
        <label>Get Series RecordType</label>
        <locationX>564</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debug_Mode</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Series</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1990</locationX>
        <locationY>1378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_varInputRestrictByDay_0</targetReference>
        </connector>
        <fields>
            <name>PersonalInfo_Summary_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Please confirm your registration by clicking &apos;Next&apos; or click &apos;Previous&apos; to change your registration.  After you confirm the registration by clicking &apos;Next&apos; an Administrator will review the request and will send an email reply.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Solicitud de registro recibida. Un administrador revisar la solicitud y enviar una respuesta por correo electrnico.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;By registering for training, and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Al registrarse para un entrenamiento y proporcionar su nmero de telfono y correo electrnico, usted acepta recibir mensajes de texto y correo electrnico.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!soLead.FirstName} {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Training Summary:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Resumen de entrenamiento:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Substitute_Training}{!Training_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: 14px;&quot;&gt;{!Facility_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varChildTrainings}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varExtraDayTrainings}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Day1_Training</name>
        <label>Day1 Training</label>
        <locationX>1188</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_0</targetReference>
        </connector>
        <fields>
            <name>Training_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone / Telefono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Email</name>
            <dataType>String</dataType>
            <fieldText>Email / Correo Electronico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Training_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Training_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Address / Direccin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_City</name>
            <dataType>String</dataType>
            <fieldText>City / Ciudad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Training_Picklist</name>
            <choiceReferences>picklistTrainingState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State / Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Payee_Number</name>
            <dataType>String</dataType>
            <fieldText>SSPS/Payee Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!constHelpTextPayeeNumber}</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be a number and 32 digits or less.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(LEN({!Training_Payee_Number}) &lt;= 32, ISNUMBER({!Training_Payee_Number}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Training_STARS_Id</name>
            <dataType>String</dataType>
            <fieldText>STARS Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Training_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Day1GroupTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By registering for training and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Debug_Day1_Query</name>
        <label>Debug Day1 Query</label>
        <locationX>637</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Facility</targetReference>
        </connector>
        <fields>
            <name>QueryInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Input Variables&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;varInputClassTypeFilter: &lt;/span&gt;{!varInputClassTypeFilter}&lt;/p&gt;&lt;p&gt;varInputRestrictByDay: {!varInputRestrictByDay}&lt;/p&gt;&lt;p&gt;varInputTrainingFilter: {!varInputTrainingFilter}&lt;/p&gt;&lt;p&gt;varInputTestFlightEnabled: {!varInputTestFlightEnabled}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Others&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;varInputClassTypeFilter: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varInputClassTypeFilter}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;varInputTrainingFilter: &lt;/span&gt;{!varInputTrainingFilter}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Debug_Forms</name>
        <label>Debug Forms</label>
        <locationX>2525</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Group_Selected</targetReference>
        </connector>
        <fields>
            <name>Debug_Form_Text</name>
            <fieldText>&lt;p&gt;Facility&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Facility_First_Name}&lt;/li&gt;&lt;li&gt;{!Facility_Last_Name}&lt;/li&gt;&lt;li&gt;{!leadCompanyFacility}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Substitute&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Substitute_STARS_Id}&lt;/li&gt;&lt;li&gt;{!Substitute_First_Name}&lt;/li&gt;&lt;li&gt;{!Substitute_Last_Name}&lt;/li&gt;&lt;li&gt;{!leadCompanySubstitute}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Training&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Training_STARS_Id}&lt;/li&gt;&lt;li&gt;{!Training_First_Name}&lt;/li&gt;&lt;li&gt;{!Training_Last_Name}&lt;/li&gt;&lt;li&gt;{!leadCompanyTraining}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extra_Day_Training</name>
        <label>Extra Day Training</label>
        <locationX>4090</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_1</targetReference>
        </connector>
        <fields>
            <name>Training_Extra_Day</name>
            <choiceReferences>ExtraDayTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extra_Day_Error_Display</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfo_ExtraDay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.FirstName} {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Training Summary:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Substitute_Training}{!Training_Training}{!Facility_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;{!varExtraDayTrainings}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Facility_Training_Pick</name>
        <label>Facility Training Pick</label>
        <locationX>1343</locationX>
        <locationY>511</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_0_0</targetReference>
        </connector>
        <fields>
            <name>Facility_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name / Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_MiddleName</name>
            <dataType>String</dataType>
            <fieldText>Middle Name or Initials / Segundo Nombre o Iniciales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name / Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone / Telfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Email</name>
            <dataType>String</dataType>
            <fieldText>Email / Correo Electrnico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.org).&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Facility_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Facility_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Address / Direccin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_City</name>
            <dataType>String</dataType>
            <fieldText>City / Ciudad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Facility_Picklist</name>
            <choiceReferences>picklistTrainingState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State / Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_ZipCode</name>
            <dataType>String</dataType>
            <fieldText>Zip Code / Codigo Postal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility_License_Number</name>
            <dataType>String</dataType>
            <fieldText>EEC License Number / Nmero de licencia con EEC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility_Union_Id</name>
            <dataType>String</dataType>
            <fieldText>Union ID number / Nmero do identificacin de la unin</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!constHelpTextPayeeNumber}</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be a number and 32 digits or less.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Facility_Union_Id}) &lt;= 32 
&amp;&amp;
ISNUMBER({!Facility_Union_Id})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Facility_Union_Member</name>
            <choiceReferences>picklistUnionMember</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you a Union Member? / Eres Miembro de la Unin?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_QRIS</name>
            <choiceReferences>picklistQRISLevel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>QRIS Level / Nivel de QRIS</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Language</name>
            <choiceReferences>picklistLanguage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language / Idioma</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Language_Other</name>
            <dataType>String</dataType>
            <fieldText>Language Other / Idioma Otro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Facility_Language</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Facility_Language_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Facility_Position</name>
            <choiceReferences>picklistPosition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Position / Posicin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Day1GroupTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Training_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By registering for training, and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Al registrarse para un entrenamiento y proporcionar su nmero de telfono y correo electrnico, usted acepta recibir mensajes de texto y correo electrnico.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Facility_Training_Pick_0</name>
        <label>Facility Training Pick</label>
        <locationX>1338</locationX>
        <locationY>645</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Facility_First_Name_0</name>
            <dataType>String</dataType>
            <fieldText>First Name / Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_MiddleName_0</name>
            <dataType>String</dataType>
            <fieldText>Middle Name or Initials / Segundo Nombre o Iniciales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility_Last_Name_0</name>
            <dataType>String</dataType>
            <fieldText>Last Name / Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Phone_0</name>
            <dataType>String</dataType>
            <fieldText>Phone / Telfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Email_0</name>
            <dataType>String</dataType>
            <fieldText>Email / Correo Electrnico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.org).&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Facility_Email_0},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Facility_Street_Address_0</name>
            <dataType>String</dataType>
            <fieldText>Address / Direccin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_City_0</name>
            <dataType>String</dataType>
            <fieldText>City / Ciudad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Facility_Picklist_0</name>
            <choiceReferences>picklistTrainingState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State / Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_ZipCode_0</name>
            <dataType>String</dataType>
            <fieldText>Zip Code / Codigo Postal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Provider_Id_0</name>
            <dataType>Number</dataType>
            <fieldText>Provider ID number / Nmero de identificacin del Proveedor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Facility_Language_0</name>
            <choiceReferences>picklistLanguage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language / Idioma</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Language_Other_0</name>
            <dataType>String</dataType>
            <fieldText>Language Other / Idioma Otro</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Facility_Language</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Facility_Language_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Facility_Position_0</name>
            <choiceReferences>picklistPosition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Position / Posicin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Provider_Name_0</name>
            <dataType>String</dataType>
            <fieldText>For Assistants, Provider Name / Para Asistentes, Nombre de Proveedor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility_Training_0</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Day1GroupTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Training_Day1_Error_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer3_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By registering for training, and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Group_Confirmation</name>
        <label>Group Confirmation</label>
        <locationX>1751</locationX>
        <locationY>1280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Training_Member_Day1</targetReference>
        </connector>
        <fields>
            <name>PersonalInfo_Summary_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You have selected a Training Series which includes 1 or more trainings.  Please review the following list of trainings and click Next to Register or Previous to select a different training.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!soLead.FirstName} {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Training Summary:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Resumen de entrenamiento:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Substitute_Training}{!Training_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: 14px;&quot;&gt;{!Facility_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varChildTrainings}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Trainings_Available</name>
        <label>No Trainings Available</label>
        <locationX>1171</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PersonalInfo_Summary_No_Trainings_Available</name>
            <fieldText>&lt;p&gt;All of the available trainings are Full or there are no trainings available.  Please check back or refer to the contact us page if you have questions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Substitute_Day1</name>
        <label>Day1 Substitute</label>
        <locationX>1185</locationX>
        <locationY>267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected</targetReference>
        </connector>
        <fields>
            <name>Substitute_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone / Telefono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Email</name>
            <dataType>String</dataType>
            <fieldText>Email / Correo Electronico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Substitute_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Substitute_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Address / Direccin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_City</name>
            <dataType>String</dataType>
            <fieldText>City / Ciudad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Sub_Picklist</name>
            <choiceReferences>picklistTrainingState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State / Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_STARS_Id</name>
            <dataType>String</dataType>
            <fieldText>STARS Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Substitute_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Day1GroupTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By Registering for training and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Get_Available_Trainings</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>textTemplateTrainingAlreadyRegistered</name>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;Error: Already registered for training.  Please select a different training.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateTrainingDefaultSelectedError</name>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Error: Please select a training.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>soDay1Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soExtraDayTraining</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soExtraDayTrainingMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soExtraDayTrainingMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varChildTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDayCheckIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDayTrainingMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExtraDayMin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2017-01-01T08:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>varExtraDayTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHelpTextPayeeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Is located on your invoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputClassTypeFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputDebugMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputRestrictByDay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varInputTestFlightEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Filter Day1 Training by Text Filter</description>
        <name>varInputTrainingFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTrainingDefaultSelectedError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
