src/flows/cmbp_Training_Registration_FLOW_Custom.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Build_Child_Training_List_0</name>
        <label>Build Child Training List</label>
        <locationX>2752</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getChildTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Trainings_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Extra_Day_Training_List</name>
        <label>Build Extra Day Training List</label>
        <locationX>3430</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>varExtraDayTrainings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getExtraDayTrainingDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extra_Day_Min</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Child_Training_List</name>
        <label>Clear Child Training List</label>
        <locationX>2748</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>varChildTrainings</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Trainings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Error_Message</name>
        <label>Clear Error Message</label>
        <locationX>3587</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Build_Extra_Day_Training_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extra_Day_Error</name>
        <label>Set Error</label>
        <locationX>4082</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extra_Day_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extra_Day_Error_Already_Registered</name>
        <label>Set Error Already Registered</label>
        <locationX>4265</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingAlreadyRegistered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extra_Day_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extra_Day_Min</name>
        <label>Extra Day Min</label>
        <locationX>3304</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>varExtraDayMin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soExtraDayTraining.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDayCheckIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Extra_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Facility_Lead</name>
        <label>Facility Lead</label>
        <locationX>1914</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Facility_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Payee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Payee_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCompanyFacility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insert_Class_Members</name>
        <label>Insert Class Members</label>
        <locationX>3413</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>soExtraDayClassMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soExtraDayClassMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insert_Training_Members</name>
        <label>Insert Training Members</label>
        <locationX>3604</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soExtraDayTrainingMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Class_Member</name>
        <label>Set Class Member</label>
        <locationX>3422</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>soExtraDayClassMember.LeadId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExtraDayClassMember.CampaignId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soExtraDayTraining.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExtraDayClassMember.Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Class_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Id</name>
        <label>Set Lead Id</label>
        <locationX>2396</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>varLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Mode_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Min_Date</name>
        <label>Set Min Date</label>
        <locationX>3015</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>varExtraDayMin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soDay1Training.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDayCheckIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Extra_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Substitute_Day1_Error</name>
        <label>Set Error</label>
        <locationX>1186</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Facility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Training_Member</name>
        <label>Set Training Member</label>
        <locationX>3609</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soExtraDayTraining.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExtraDayTrainingMember.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Training_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substitute_Lead</name>
        <label>Substitute Lead</label>
        <locationX>1762</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Sub_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__ii_STARS_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_STARS_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCompanySubstitute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Training_Lead</name>
        <label>Training Lead</label>
        <locationX>1814</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Training_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Payee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Payee_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__ii_STARS_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_STARS_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCompanyTraining</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Training_SelectOption</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;[Click to Select Training]&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>constHelpTextPayeeNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is located on your invoice</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Trainings</name>
        <label>Any Trainings</label>
        <locationX>553</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>Group_Confirmation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Trainings_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soDay1Training.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Series_RecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_1_Create_Class_Member</name>
        <label>Check 1 Create Class Member</label>
        <locationX>813</locationX>
        <locationY>1201</locationY>
        <defaultConnector>
            <targetReference>Create_Training_Member_Day1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateClassMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCreateClassMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Member_Day1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_1_Create_Class_Member_0</name>
        <label>Check 1 Create Class Member</label>
        <locationX>3511</locationX>
        <locationY>1457</locationY>
        <defaultConnector>
            <targetReference>Set_Training_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateClassMember_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCreateClassMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Class_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_2_Create_Class_Member</name>
        <label>Check 2 Create Class Member</label>
        <locationX>814</locationX>
        <locationY>1846</locationY>
        <defaultConnector>
            <targetReference>Create_Child_Training_Member_Day1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateClassMember2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCreateClassMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Training_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Create_Class_Member_Insert</name>
        <label>Check Create Class Member</label>
        <locationX>3123</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Create_Extra_Day_Training_Members_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateClassMember_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCreateClassMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Extra_Day_Class_Members_Insert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day1_Member</name>
        <label>Existing Day1 Member</label>
        <locationX>2538</locationX>
        <locationY>1289</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Check_Day1_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDayClassMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDayTrainingMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_1_Create_Class_Member</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Extra_Day</name>
        <label>Check Extra Day</label>
        <locationX>3473</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Loop_Extra_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Extra_Day_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Extra_Days.c501_cm__Training_Name_WebForm__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>getDayCheck</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Day_Training</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Extra_Day_Member</name>
        <label>Existing Extra Day Member</label>
        <locationX>3911</locationX>
        <locationY>1474</locationY>
        <defaultConnector>
            <targetReference>Extra_Day_Error_Already_Registered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Check_Day1_Member_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDayClassMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDayTrainingMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_1_Create_Class_Member_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_varInputRestrictByDay</name>
        <label>Check varInputRestrictByDay</label>
        <locationX>2869</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Existing_Day1_Class_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RestrictByDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputRestrictByDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Min_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode</name>
        <label>Debug Mode</label>
        <locationX>748</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Is_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Day1_Query</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode_0</name>
        <label>Debug Mode</label>
        <locationX>2523</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Group_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Forms</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected</name>
        <label>Default Selected</label>
        <locationX>1552</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Substitute_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Substitute_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_0</name>
        <label>Default Selected</label>
        <locationX>1543</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Training_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_0_0</name>
        <label>Default Selected</label>
        <locationX>1544</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Facility_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Facility_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_1</name>
        <label>Default Selected</label>
        <locationX>3904</locationX>
        <locationY>805</locationY>
        <defaultConnector>
            <targetReference>Existing_Extra_Day_Class_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Extra_Day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Day_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Lead</name>
        <label>Existing Lead</label>
        <locationX>2227</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Mode_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Selected</name>
        <label>Group Selected</label>
        <locationX>2736</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Check_varInputRestrictByDay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soDay1Training.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Series_RecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Child_Training_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Facility</name>
        <label>Is Facility</label>
        <locationX>739</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Is_Substitute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputClassTypeFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facility_Training_Pick</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Substitute</name>
        <label>Is Substitute</label>
        <locationX>824</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Day1_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Substitute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputClassTypeFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Day1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>7/30 Custom change based off the template</description>
    <dynamicChoiceSets>
        <name>Day1GroupTrainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Series_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay1Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Day1Trainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Series_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getDayCheck</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay1Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExtraDayTrainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getDayCheck</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varExtraDayMin</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soExtraDayTraining.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soExtraDayTraining.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soExtraDayTraining.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistTrainingState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrainingList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>c501_cm__Location__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fEmailCheck</name>
        <dataType>Boolean</dataType>
        <expression>Contains({!Training_Email}, &quot;@&quot;)</expression>
    </formulas>
    <formulas>
        <name>getChildTrainingDescription</name>
        <dataType>String</dataType>
        <expression>&quot;     --&gt; &quot; +  {!soDay1Training.c501_cm__Training_Name_WebForm__c} + BR()</expression>
    </formulas>
    <formulas>
        <name>getDayCheck</name>
        <dataType>String</dataType>
        <expression>IF({!varInputRestrictByDay}, &quot;Day &quot; + TEXT({!varDayCheckIndex}), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getExtraDayTrainingDescription</name>
        <dataType>String</dataType>
        <expression>{!soExtraDayTraining.c501_cm__Training_Name_WebForm__c} + BR()</expression>
    </formulas>
    <formulas>
        <name>leadCompanyFacility</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Facility_Name}) &gt; 0, {!Facility_Name}, {!Facility_First_Name} + &quot; &quot; + {!Facility_Last_Name})</expression>
    </formulas>
    <formulas>
        <name>leadCompanySubstitute</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Substitute_STARS_Id}) &gt; 0, {!Substitute_STARS_Id}, {!Substitute_First_Name} + &quot; &quot; + {!Substitute_Last_Name})</expression>
    </formulas>
    <formulas>
        <name>leadCompanyTraining</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Training_STARS_Id}) &gt; 0, {!Training_STARS_Id}, {!Training_First_Name} + &quot; &quot; + {!Training_Last_Name})</expression>
    </formulas>
    <interviewLabel>cmbp Training Registration FLOW Custom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Registration FLOW Custom</label>
    <loops>
        <name>Loop_Child_Trainings</name>
        <label>Loop Child Trainings</label>
        <locationX>829</locationX>
        <locationY>1592</locationY>
        <assignNextValueToReference>soDay1Training</assignNextValueToReference>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_2_Create_Class_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Child_Trainings_0</name>
        <label>Loop Child Trainings</label>
        <locationX>2745</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>soDay1Training</assignNextValueToReference>
        <collectionReference>Get_Child_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Child_Training_List_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Group_Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Extra_Days</name>
        <label>Loop Extra Days</label>
        <locationX>3248</locationX>
        <locationY>293</locationY>
        <collectionReference>Get_Extra_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Extra_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Create_Class_Member_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Training_Member</name>
        <label>Create Child Training Member</label>
        <locationX>1103</locationX>
        <locationY>1837</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId__c</field>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Class_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Training_Member_Day1</name>
        <label>Create Child Day1 Training Member</label>
        <locationX>634</locationX>
        <locationY>1854</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Extra_Day_Class_Members_Insert</name>
        <label>Create Extra Day Class Members</label>
        <locationX>3208</locationX>
        <locationY>1231</locationY>
        <connector>
            <targetReference>Existing_Day1_Class_Member</targetReference>
        </connector>
        <inputReference>soExtraDayClassMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Extra_Day_Training_Members_Insert</name>
        <label>Create Extra Day Training Members</label>
        <locationX>3104</locationX>
        <locationY>1125</locationY>
        <connector>
            <targetReference>Existing_Day1_Class_Member</targetReference>
        </connector>
        <inputReference>soExtraDayTrainingMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>2237</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Set_Lead_Id</targetReference>
        </connector>
        <inputReference>soLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Day1</name>
        <label>Create Day1 Member</label>
        <locationX>969</locationX>
        <locationY>1306</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId__c</field>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId__c</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Class_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Training_Member_Day1</name>
        <label>Create Day1 Training Member</label>
        <locationX>666</locationX>
        <locationY>1305</locationY>
        <connector>
            <targetReference>Loop_Child_Trainings</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Lead</name>
        <label>Check Lead</label>
        <locationX>2059</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Lead</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soLead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existing_Day1_Class_Member</name>
        <label>Day1 Class Member</label>
        <locationX>2876</locationX>
        <locationY>1294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Day1_Training_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>Class_Member__c</object>
        <outputAssignments>
            <assignToReference>varDayClassMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existing_Day1_Training_Member</name>
        <label>Day1 Training Member</label>
        <locationX>2712</locationX>
        <locationY>1292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Day1_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDayTrainingMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existing_Extra_Day_Class_Member</name>
        <label>Extra Day Class Member</label>
        <locationX>3917</locationX>
        <locationY>982</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Extra_Day_Training_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soExtraDayTraining.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>Class_Member__c</object>
        <outputAssignments>
            <assignToReference>varDayClassMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existing_Extra_Day_Training_Member</name>
        <label>Extra Day Training Member</label>
        <locationX>3921</locationX>
        <locationY>1124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Extra_Day_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soExtraDayTraining.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDayTrainingMember</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Trainings</name>
        <label>Get Available Trainings</label>
        <locationX>435</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Trainings</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay1Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Trainings</name>
        <label>Get Child Trainings</label>
        <locationX>2741</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Trainings_0</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>c501_cm__custom_Start_DateTime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Extra_Days</name>
        <label>Get Extra Days</label>
        <locationX>3130</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Extra_Days</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Series_RecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputClassTypeFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Day</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varExtraDayMin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Series_RecordType</name>
        <label>Get Series RecordType</label>
        <locationX>564</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debug_Mode</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Series</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Day1_Training</name>
        <label>Day1 Training</label>
        <locationX>1188</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_0</targetReference>
        </connector>
        <fields>
            <name>Training_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Phone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Training_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Training_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Training_Picklist</name>
            <choiceReferences>picklistTrainingState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Payee_Number</name>
            <dataType>String</dataType>
            <fieldText>SSPS/Payee Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!constHelpTextPayeeNumber}</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be a number and 32 digits or less.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(LEN({!Training_Payee_Number}) &lt;= 32, ISNUMBER({!Training_Payee_Number}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Training_STARS_Id</name>
            <dataType>String</dataType>
            <fieldText>STARS Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Training_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Day1GroupTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By registering for training and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Debug_Day1_Query</name>
        <label>Debug Day1 Query</label>
        <locationX>637</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Facility</targetReference>
        </connector>
        <fields>
            <name>QueryInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Input Variables&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;varInputClassTypeFilter: &lt;/span&gt;{!varInputClassTypeFilter}&lt;/p&gt;&lt;p&gt;varInputRestrictByDay: {!varInputRestrictByDay}&lt;/p&gt;&lt;p&gt;varInputTrainingFilter: {!varInputTrainingFilter}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Others&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;varInputClassTypeFilter: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!varInputClassTypeFilter}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;varInputTrainingFilter: &lt;/span&gt;{!varInputTrainingFilter}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Debug_Forms</name>
        <label>Debug Forms</label>
        <locationX>2525</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Group_Selected</targetReference>
        </connector>
        <fields>
            <name>Debug_Form_Text</name>
            <fieldText>&lt;p&gt;Facility&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Facility_Name}&lt;/li&gt;&lt;li&gt;{!Facility_First_Name}&lt;/li&gt;&lt;li&gt;{!Facility_Last_Name}&lt;/li&gt;&lt;li&gt;{!leadCompanyFacility}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Substitute&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Substitute_STARS_Id}&lt;/li&gt;&lt;li&gt;{!Substitute_First_Name}&lt;/li&gt;&lt;li&gt;{!Substitute_Last_Name}&lt;/li&gt;&lt;li&gt;{!leadCompanySubstitute}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Training&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Training_STARS_Id}&lt;/li&gt;&lt;li&gt;{!Training_First_Name}&lt;/li&gt;&lt;li&gt;{!Training_Last_Name}&lt;/li&gt;&lt;li&gt;{!leadCompanyTraining}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extra_Day_Training</name>
        <label>Extra Day Training</label>
        <locationX>4090</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_1</targetReference>
        </connector>
        <fields>
            <name>Training_Extra_Day</name>
            <choiceReferences>ExtraDayTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Extra_Day_Error_Display</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfo_ExtraDay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.FirstName} {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Training Summary:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Substitute_Training}{!Training_Training}{!Facility_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;{!varExtraDayTrainings}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Facility_Training_Pick</name>
        <label>Facility Training Pick</label>
        <locationX>1188</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_0_0</targetReference>
        </connector>
        <fields>
            <name>Facility_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Phone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Facility_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Facility_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Facility_Picklist</name>
            <choiceReferences>picklistTrainingState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Name</name>
            <dataType>String</dataType>
            <fieldText>Facility Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility_Payee_Number</name>
            <dataType>String</dataType>
            <fieldText>SSPS/Payee Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!constHelpTextPayeeNumber}</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be a number and 32 digits or less.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Facility_Payee_Number}) &lt;= 32 
&amp;&amp;
ISNUMBER({!Facility_Payee_Number})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Facility_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Day1GroupTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Training_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By registering for training, and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1781</locationX>
        <locationY>1732</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PersonalInfo_Summary_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Registration application received.  An Administrator will review the request and will send an email reply.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;By registering for training, and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!soLead.FirstName} {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Training Summary:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Substitute_Training}{!Training_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: 14px;&quot;&gt;{!Facility_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varChildTrainings}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varExtraDayTrainings}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Group_Confirmation</name>
        <label>Group Confirmation</label>
        <locationX>2516</locationX>
        <locationY>843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_Day1_Class_Member</targetReference>
        </connector>
        <fields>
            <name>PersonalInfo_Summary_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;You have selected a Training Series which includes 1 or more trainings.  Please review the following list of trainings and click Next to Register or Previous to select a different training.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.FirstName} {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Training Summary:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Substitute_Training}{!Training_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!Facility_Training}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!varChildTrainings}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Group_Confirmation_0</name>
        <label>Group Confirmation</label>
        <locationX>1171</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PersonalInfo_Summary_No_Trainings_Available</name>
            <fieldText>&lt;p&gt;All of the available trainings are Full or there are no trainings available.  Please check back or refer to the contact us page if you have questions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Substitute_Day1</name>
        <label>Day1 Substitute</label>
        <locationX>1185</locationX>
        <locationY>267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected</targetReference>
        </connector>
        <fields>
            <name>Substitute_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Phone</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Substitute_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Substitute_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Sub_Picklist</name>
            <choiceReferences>picklistTrainingState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_STARS_Id</name>
            <dataType>String</dataType>
            <fieldText>STARS Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Substitute_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Day1GroupTrainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By Registering for training and providing your phone number and email, you consent to receive text and email messages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Get_Available_Trainings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplateTrainingAlreadyRegistered</name>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;Error: Already registered for training.  Please select a different training.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateTrainingDefaultSelectedError</name>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Error: Please select a training.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>soDay1Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soExtraDayClassMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Member__c</objectType>
    </variables>
    <variables>
        <name>soExtraDayClassMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Class_Member__c</objectType>
    </variables>
    <variables>
        <name>soExtraDayTraining</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soExtraDayTrainingMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soExtraDayTrainingMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varChildTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True then create Class Members instead of Campaign Members as a temp record which is later switch to Campaign Member by Mass Action Scheduler.  This was a work around on a site where not able to create a Campaign Member using Site Default User - works on some sites though so is probably related to a setting and not a Salesforce version.</description>
        <name>varCreateClassMembers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDayCheckIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDayClassMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDayTrainingMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExtraDayMin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2017-01-01T08:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>varExtraDayTrainings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHelpTextPayeeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Is located on your invoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputClassTypeFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputDebugMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputRestrictByDay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Filter Day1 Training by Text Filter</description>
        <name>varInputTrainingFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTrainingDefaultSelectedError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
