src/flows/cmbp_Training_Outreach_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Member_Insert</name>
        <label>Add Member</label>
        <locationX>1013</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>insertMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>memberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Insert_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Limits</name>
        <label>Assign Limits</label>
        <locationX>761</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>flowElementsVisited</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Near_Flow_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_Fields</name>
        <label>Assign Member Fields</label>
        <locationX>626</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>memberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outreachTrainingRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Notification_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.Outreach_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberRecord.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outreach</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_Insert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_within_Outreach_Criteria</name>
        <label>Contact within Outreach Criteria</label>
        <locationX>465</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactWithinOutreachCritiera</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>getTrainingArea1StateAllCounties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Outreach_Contact.Outreach_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>outreachTrainingRecord.Outreach_Area_4__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Flow Limit - Executed elements at runtime per flow = 2000</description>
        <name>Near_Flow_Limit</name>
        <label>Near Flow Limit</label>
        <locationX>752</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Loop_Trainings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NearLimit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>flowElementsVisited</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1980.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flowSOQLQueriesPending</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>98.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member_Exists</name>
        <label>Valid Member Exists</label>
        <locationX>467</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Assign_Member_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MemberExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>memberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Limits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB 6/23 - Add Outreach based on Outreach State, Outreach Area, Outreach Region or Outreach County
DB 6/18 - Get subset of contacts based on outreach area
DB 6/18 - Monitor SOQL Query Limit to keep under 100
DB 6/14 - Don&apos;t send outreach if training is full
DB 6/14 - Filter out Contacts with no County or Region</description>
    <formulas>
        <name>getTrainingArea1StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_1__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea2StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_2__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea3StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_3__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getTrainingArea4StateAllCounties</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!Get_Outreach_Trainings.Outreach_Area_4__c}),&quot;-All-Counties&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>cmbp Training Outreach FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Training Outreach FLOW</label>
    <loops>
        <name>Loop_Trainings</name>
        <label>Loop Trainings</label>
        <locationX>481</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>outreachTrainingRecord</assignNextValueToReference>
        <collectionReference>Get_Outreach_Trainings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_within_Outreach_Criteria</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Commit_Insert_Members</name>
        <label>Commit Insert Members</label>
        <locationX>1011</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputReference>insertMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Outreach_Contact</name>
        <label>Get Outreach Contact</label>
        <locationX>179</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Outreach_Trainings</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_Trainings</name>
        <label>Get Outreach Trainings</label>
        <locationX>330</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Trainings</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Outreach_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Member</name>
        <label>Get Training Member</label>
        <locationX>262</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Member_Exists</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>outreachTrainingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Outreach_Contact.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>memberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1009</locationX>
        <locationY>244</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outreach_Date_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Get_Outreach_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowElementsVisited</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Max is 100</description>
        <name>flowSOQLQueriesPending</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>17.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insertMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>memberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>outreachTrainingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
