src/flows/cmbp_Set_Training_Member_Reminder_FLOW_CUSTOM.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Notification_Disabled</name>
        <label>Notification Disabled</label>
        <locationX>746</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>Registered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NotificationDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Reminder_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Email No SMS</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registered</name>
        <label>Registered</label>
        <locationX>938</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Training_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Training_Member.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>9/29 - Check for No Email/SMS Template</description>
    <interviewLabel>cmbp Set Training Member Reminder FLOW CUSTOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmbp Set Training Member Reminder FLOW CUSTOM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Training</name>
        <label>Get Training</label>
        <locationX>558</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Disabled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Training_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Training_Member</name>
        <label>Training Member</label>
        <locationX>428</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Reminder</name>
        <label>Set Reminder</label>
        <locationX>1116</locationX>
        <locationY>65</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_Pending__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Registered Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Registered Reminder</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Training_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
