src/flows/flow_Training_Confirmation_SMS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_Message</name>
        <label>Send SMS Message</label>
        <locationX>1477</locationX>
        <locationY>336</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>varSMSMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>soContact.c501_cm__C501_Clean_Mobile_Phone__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_English_SMS_Notification</name>
        <label>Set English SMS Notification</label>
        <locationX>1287</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>varSMSMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSMSEnglishNotification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Spanish_SMS_Notification</name>
        <label>Set Spanish SMS Notification</label>
        <locationX>1264</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>varSMSMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxSMSSpanishNotification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Group_Training</name>
        <label>Group Training</label>
        <locationX>461</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentTrainingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Child</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Confirmation</name>
        <label>Send Confirmation</label>
        <locationX>1022</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Imagine_U_Confirmation_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Confirmation_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Confirmation (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_SMS_Notification</targetReference>
            </connector>
            <label>Imagine U Confirmation (English)</label>
        </rules>
        <rules>
            <name>Imagine_U_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Confirmation (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Spanish_SMS_Notification</targetReference>
            </connector>
            <label>Imagine U Confirmation (Spanish)</label>
        </rules>
        <rules>
            <name>FFN_Registered_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registration Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registered (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_SMS_Notification</targetReference>
            </connector>
            <label>FFN Registered (English)</label>
        </rules>
        <rules>
            <name>FFN_Registered_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Registered_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registered (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Spanish_SMS_Notification</targetReference>
            </connector>
            <label>FFN Registered (Spanish)</label>
        </rules>
        <rules>
            <name>Substitute_Confirmation_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Confirmation_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Confirmation (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_SMS_Notification</targetReference>
            </connector>
            <label>Substitute Confirmation (English)</label>
        </rules>
        <rules>
            <name>Substitute_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Confirmation (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Spanish_SMS_Notification</targetReference>
            </connector>
            <label>Substitute Confirmation (Spanish)</label>
        </rules>
        <rules>
            <name>LFCCP_Registration_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Registration_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Registration Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_SMS_Notification</targetReference>
            </connector>
            <label>LFCCP Registration Confirmation</label>
        </rules>
        <rules>
            <name>LFCCP_Registration_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Registration_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Registration Confirmation Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Spanish_SMS_Notification</targetReference>
            </connector>
            <label>LFCCP Registration Confirmation Spanish</label>
        </rules>
        <rules>
            <name>LFCCP_Creative_Registration1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Creative_Registration1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Creative Registration1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_SMS_Notification</targetReference>
            </connector>
            <label>LFCCP Creative Registration1</label>
        </rules>
        <rules>
            <name>PREPARE_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_SMS_Notification</targetReference>
            </connector>
            <label>PREPARE Confirmation</label>
        </rules>
        <rules>
            <name>PREPARE_Orientation_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE Orientation Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Orientation_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_English_SMS_Notification</targetReference>
            </connector>
            <label>PREPARE Orientation Confirmation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_SMS_Registered</name>
        <label>Send SMS Registered</label>
        <locationX>770</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSendSMSTrainingRegistered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SMS_Registered_Sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Opt_Out</name>
        <label>SMS Opt Out</label>
        <locationX>150</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Valid_Mobile_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SMS_Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member</name>
        <label>Valid Member</label>
        <locationX>287</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Member_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Mobile_Phone</name>
        <label>Valid Mobile Phone</label>
        <locationX>149</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.c501_cm__C501_Clean_Mobile_Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Training</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB 10/6 - Include Group in SMS
DB 8/5 Switch from Training Status to Status</description>
    <formulas>
        <name>fxSMSEnglishNotification</name>
        <dataType>String</dataType>
        <expression>&quot;Hey, this is the Imagine Institute! You have successfully registered for &quot; + {!soCampaign.c501_cm__Training_Name__c} + 
&quot;  When: &quot; + TEXT(DATEVALUE({!soCampaign.c501_cm__custom_Start_DateTime__c})) +
&quot;  Where: &quot; + SUBSTITUTE({!soCampaign.c501_cm__C501_Training_Location_Text__c}, &quot;&lt;br&gt;&quot;, &quot; &quot;) + &quot;  &quot; +
{!varGroupClasses} +
&quot;  &gt;&gt;Change your preferences here: https://imaginewa.org/pref&quot;</expression>
    </formulas>
    <formulas>
        <name>fxSMSSpanishNotification</name>
        <dataType>String</dataType>
        <expression>&quot;¡Hola, es el Instituto Imagine! está registrado para &quot; + {!soCampaign.c501_cm__Training_Name__c} + 
&quot;  Cuando: &quot; + TEXT(DATEVALUE({!soCampaign.c501_cm__custom_Start_DateTime__c})) +
&quot;  Dirección: &quot; + SUBSTITUTE({!soCampaign.c501_cm__C501_Training_Location_Text__c}, &quot;&lt;br&gt;&quot;, &quot; &quot;) + &quot;  &quot; +
{!varGroupClasses} +
&quot; &gt;&gt;Cambia tus preferencias aquí: https://imaginewa.org/pref&quot;</expression>
    </formulas>
    <interviewLabel>flow Training Confirmation SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow Training Confirmation SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1687</locationX>
        <locationY>346</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056A000000qgpsQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Class Confirmation SMS Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>628</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS_Registered</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__C501_Training_Location_Text__c</assignToReference>
            <field>c501_cm__C501_Training_Location_Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>c501_cm__Confirmation_Email_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__Training_Name__c</assignToReference>
            <field>c501_cm__Training_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__custom_Start_DateTime__c</assignToReference>
            <field>c501_cm__custom_Start_DateTime__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Child</name>
        <label>Get Campaign Child</label>
        <locationX>639</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS_Registered</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__C501_Training_Location_Text__c</assignToReference>
            <field>c501_cm__C501_Training_Location_Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>c501_cm__Confirmation_Email_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__Training_Name__c</assignToReference>
            <field>c501_cm__Training_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__custom_Start_DateTime__c</assignToReference>
            <field>c501_cm__custom_Start_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__custom_Start_DateTime__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>153</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS_Opt_Out</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_Clean_Mobile_Phone__c</assignToReference>
            <field>c501_cm__C501_Clean_Mobile_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_SMS_Opt_Out__c</assignToReference>
            <field>c501_cm__C501_SMS_Opt_Out__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>389</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGroupClasses</assignToReference>
            <field>Group_Classes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSendSMSTrainingRegistered</assignToReference>
            <field>Send_SMS_Training_Registered__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Training</name>
        <label>Get Parent Training</label>
        <locationX>305</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Training</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varParentTrainingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_SMS_Registered_Sent</name>
        <label>Set SMS Registered Sent</label>
        <locationX>776</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Send_Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_SMS_Training_Registered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soClassNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c501_cm__C501_Class_Notification__c</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupClasses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varParentTrainingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSendSMSTrainingRegistered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSMSMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
