src/flows/Send_Certification_Alert_FLOW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cert_Admin_Alert</name>
        <label>Cert Admin Alert</label>
        <locationX>1740</locationX>
        <locationY>620</locationY>
        <actionName>Contact.Certification_Expiring_Admin_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event_Email_Admin</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Certiifcation_Alert</name>
        <label>Certiifcation Alert</label>
        <locationX>1303</locationX>
        <locationY>633</locationY>
        <actionName>Contact.Certification_Expiring_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Is_Expired</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_Message</name>
        <label>Send SMS Message</label>
        <locationX>2301</locationX>
        <locationY>975</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>buildSMSMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>soContact.c501_cm__C501_Clean_Mobile_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>0033u00001DIFxdAAH -&gt; **TEST** Boyce 501 Commons Facility</description>
        <name>Debug_override_Contact</name>
        <label>Debug override Contact</label>
        <locationX>1007</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>varInputContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0033u00001DIFxdAAH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Is_Expired</name>
        <label>Check Is Expired</label>
        <locationX>1415</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Create_Event_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExpired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Expired_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode</name>
        <label>Debug Mode</label>
        <locationX>993</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_override_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode_0</name>
        <label>Debug Mode</label>
        <locationX>2079</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode_0_0</name>
        <label>Debug Mode</label>
        <locationX>1601</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Cert_Admin_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Email_Admin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Mode_0_0_0</name>
        <label>Debug Mode</label>
        <locationX>1430</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Certiifcation_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DebugMode_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputDebugMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_Expired</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Within_7_Days</name>
        <label>Event Within 7 Days</label>
        <locationX>737</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Debug_Mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EventWithin7Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDaysSinceLastCertificationEvent</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>1246</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>1415</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Last_Event</name>
        <label>Valid Last Event</label>
        <locationX>736</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Debug_Mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_LastEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lastEventCreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Within_7_Days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Mobile_Phone</name>
        <label>Valid Mobile Phone</label>
        <locationX>1594</locationX>
        <locationY>1125</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Vald_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.c501_cm__C501_Clean_Mobile_Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Event_Expired_SMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Mobile_Phone_0</name>
        <label>Valid Mobile Phone</label>
        <locationX>1661</locationX>
        <locationY>973</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Vald_Mobile_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.c501_cm__C501_Clean_Mobile_Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Event_SMS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2/11 - Update event owner to be from custom settings class reg admin
2/3 - Don&apos;t send more than 1 group of notifications per 7 days
10/29 - Add Debugging</description>
    <formulas>
        <name>buildSMSMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Hey, this is the Imagine Institute! Your credentials are about to expire or are expired! &quot; +
{!getCredsExpiredMessageTextOnly} + 
&quot;  &gt;&gt;Change your preferences here: https://imaginewa.org/pref&quot;</expression>
    </formulas>
    <formulas>
        <name>getCprDaysRemaining</name>
        <dataType>String</dataType>
        <expression>IF ({!soContact.c501_cm__C501_Cpr_Cert_Days_Remaining__c} &lt;= 0,
&quot;Expired&quot;, 
TEXT({!soContact.c501_cm__C501_Cpr_Cert_Days_Remaining__c}) + &quot; Day(s) Remaining&quot;)</expression>
    </formulas>
    <formulas>
        <name>getCredsExpiredMessage</name>
        <dataType>String</dataType>
        <expression>IF ({!soContact.c501_cm__C501_Cpr_Cert_Days_Remaining__c} = 30 || {!soContact.c501_cm__C501_Cpr_Cert_Days_Remaining__c} = 14 ||  {!soContact.c501_cm__C501_Cpr_Cert_Days_Remaining__c} &lt;= 2,
&quot;&lt;b&gt;CPR&lt;/b&gt;&lt;ul&gt;&lt;li&gt;Certification &quot; 
  + TEXT(DATEVALUE({!soContact.c501_cm__ii_Cpr_Cert_Date__c})) + &quot;&lt;/li&gt;&lt;li&gt;Status: &quot; + {!getCprDaysRemaining} + &quot;&lt;/li&gt;&lt;/ul&gt;&quot;,&quot;&quot;)
+
IF ({!soContact.c501_cm__C501_First_Aid_Cert_Days_Remaining__c} = 30 || {!soContact.c501_cm__C501_First_Aid_Cert_Days_Remaining__c} = 14 ||  {!soContact.c501_cm__C501_First_Aid_Cert_Days_Remaining__c} &lt;= 2,
&quot;&lt;b&gt;First Aid&lt;/b&gt;&lt;li&gt;&lt;ul&gt;Certification &quot; 
  + TEXT(DATEVALUE({!soContact.c501_cm__ii_First_Aid_Cert_Date__c})) + &quot;&lt;/li&gt;&lt;li&gt;Status: &quot; + {!getFirstAidDaysRemaining} + &quot;&lt;/li&gt;&lt;li&gt;Update by signing up for a free training on our website @ http://imaginewa.org/become-a-substitute/&lt;/li&gt;&lt;/ul&gt;&quot;,&quot;&quot;)
+
IF ({!soContact.c501_cm__C501_PBC_Cert_Remaining_Days__c} = 30 || {!soContact.c501_cm__C501_PBC_Cert_Remaining_Days__c} = 14 ||  {!soContact.c501_cm__C501_PBC_Cert_Remaining_Days__c} &lt;= 2,
&quot;&lt;b&gt;Portable Background Check (PBC)&lt;/b&gt;&lt;li&gt;&lt;ul&gt;Certification &quot; 
  + TEXT(DATEVALUE({!soContact.c501_cm__ii_PBC_Expiration__c})) + &quot;&lt;/li&gt;&lt;li&gt;Status: &quot; + {!getPbcRemainingDays} + &quot;&lt;/li&gt;&lt;li&gt;Update in MERIT @ https://apps.del.wa.gov/MERIT&lt;/li&gt;&lt;/ul&gt;&quot;,&quot;&quot;)
+
IF ({!soContact.c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c} = 30 || {!soContact.c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c} = 14 ||  {!soContact.c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c} &lt;= 2,
&quot;&lt;b&gt;Infant Safe Sleep&lt;/b&gt;&lt;li&gt;&lt;ul&gt;Certification &quot; 
  + TEXT(DATEVALUE({!soContact.c501_cm__ii_Safe_Sleep_Cert_Date__c})) + &quot;&lt;/li&gt;&lt;li&gt;Status: &quot; + {!getSafeSleepDaysRemaining} + &quot;&lt;/li&gt;&lt;li&gt;Update @ http://deltraining.com/&lt;/li&gt;&lt;/ul&gt;&quot;,&quot;&quot;)
+
IF ({!soContact.c501_cm__C501_Food_Handler_Cert_Remaining_Days__c} = 30 || {!soContact.c501_cm__C501_Food_Handler_Cert_Remaining_Days__c} = 14 ||  {!soContact.c501_cm__C501_Food_Handler_Cert_Remaining_Days__c} &lt;= 2,
&quot;&lt;b&gt;Food Handler&lt;/b&gt;&lt;li&gt;&lt;ul&gt;Certification &quot; 
  + TEXT(DATEVALUE({!soContact.c501_cm__ii_Food_Handler_Cert_Date__c})) + &quot;&lt;/li&gt;&lt;li&gt;Status: &quot; + {!getFoodHandlerDaysRemaining} + &quot;&lt;/li&gt;&lt;li&gt;Update @ https://www.doh.wa.gov/CommunityandEnvironment/Food/FoodWorkerandIndustry/FoodWorkerCard&lt;/li&gt;&lt;/ul&gt;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getCredsExpiredMessageTextOnly</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!getCredsExpiredMessage}, &quot;&lt;b&gt;&quot;, &quot;&quot;), &quot;&lt;/b&gt;&quot;, &quot;&quot;), &quot;&lt;ul&gt;&quot;, &quot;&quot;), &quot;&lt;/ul&gt;&quot;, &quot;&quot;), &quot;&lt;li&gt;&quot;, &quot; &quot;), &quot;&lt;/li&gt;&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getDaysSinceLastCertificationEvent</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime} - {!lastEventCreatedDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getFirstAidDaysRemaining</name>
        <dataType>String</dataType>
        <expression>IF ({!soContact.c501_cm__C501_First_Aid_Cert_Days_Remaining__c} &lt;= 0,
&quot;Expired&quot;,
TEXT({!soContact.c501_cm__C501_First_Aid_Cert_Days_Remaining__c}) + &quot; Day(s) Remaining&quot;)</expression>
    </formulas>
    <formulas>
        <name>getFoodHandlerDaysRemaining</name>
        <dataType>String</dataType>
        <expression>IF ({!soContact.c501_cm__C501_Food_Handler_Cert_Remaining_Days__c} &lt;= 0,
&quot;Expired&quot;,
TEXT({!soContact.c501_cm__C501_Food_Handler_Cert_Remaining_Days__c}) + &quot; Day(s) Remaining&quot;)</expression>
    </formulas>
    <formulas>
        <name>getPbcRemainingDays</name>
        <dataType>String</dataType>
        <expression>IF ({!soContact.c501_cm__C501_PBC_Cert_Remaining_Days__c} &lt;= 0,
&quot;Expired&quot;,
TEXT({!soContact.c501_cm__C501_PBC_Cert_Remaining_Days__c}) + &quot; Day(s) Remaining&quot;)</expression>
    </formulas>
    <formulas>
        <name>getSafeSleepDaysRemaining</name>
        <dataType>String</dataType>
        <expression>IF ({!soContact.c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c} &lt;= 0,
&quot;Expired&quot;,
TEXT({!soContact.c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c}) + &quot; Day(s) Remaining&quot;)</expression>
    </formulas>
    <formulas>
        <name>isExpired</name>
        <dataType>Boolean</dataType>
        <expression>({!soContact.c501_cm__C501_Cpr_Cert_Days_Remaining__c} &lt;= 0 ||
{!soContact.c501_cm__C501_First_Aid_Cert_Days_Remaining__c} &lt;= 0 ||
{!soContact.c501_cm__C501_PBC_Cert_Remaining_Days__c} &lt;= 0 ||
{!soContact.c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c} &lt;= 0 ||
{!soContact.c501_cm__C501_Food_Handler_Cert_Remaining_Days__c} &lt;= 0)</expression>
    </formulas>
    <interviewLabel>Send Certification Alert FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Certification Alert FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event_Email</name>
        <label>Create Event Email</label>
        <locationX>1487</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>Valid_Mobile_Phone_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getCredsExpiredMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Class_Reg_Admin.Class_Registration_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Certification Expiring Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>soContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Email_Admin</name>
        <label>Create Event Email Admin</label>
        <locationX>1614</locationX>
        <locationY>787</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getCredsExpiredMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Class_Reg_Admin.Class_Registration_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Certification Expiring Phone Call from Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>soContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Expired_Email</name>
        <label>Create Event Expired Email</label>
        <locationX>1408</locationX>
        <locationY>1119</locationY>
        <connector>
            <targetReference>Valid_Mobile_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getCredsExpiredMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Class_Reg_Admin.Class_Registration_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Certification Expired Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>soContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Expired_SMS</name>
        <label>Create Event Expired SMS</label>
        <locationX>1797</locationX>
        <locationY>1131</locationY>
        <connector>
            <targetReference>Debug_Mode_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getCredsExpiredMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Class_Reg_Admin.Class_Registration_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Certification Expired SMS Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>soContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_SMS</name>
        <label>Create Event SMS</label>
        <locationX>1859</locationX>
        <locationY>962</locationY>
        <connector>
            <targetReference>Debug_Mode_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getCredsExpiredMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Class_Reg_Admin.Class_Registration_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Certification Expiring SMS Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>soContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Class_Reg_Admin</name>
        <label>Get Class Reg Admin</label>
        <locationX>448</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Event</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imagine_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1138</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_Clean_Mobile_Phone__c</assignToReference>
            <field>c501_cm__C501_Clean_Mobile_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_Cpr_Cert_Days_Remaining__c</assignToReference>
            <field>c501_cm__C501_Cpr_Cert_Days_Remaining__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_First_Aid_Cert_Days_Remaining__c</assignToReference>
            <field>c501_cm__C501_First_Aid_Cert_Days_Remaining__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_Food_Handler_Cert_Remaining_Days__c</assignToReference>
            <field>c501_cm__C501_Food_Handler_Cert_Remaining_Days__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_PBC_Cert_Remaining_Days__c</assignToReference>
            <field>c501_cm__C501_PBC_Cert_Remaining_Days__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c</assignToReference>
            <field>c501_cm__C501_Safe_Sleep_Cert_Remaining_Days__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__ii_Cpr_Cert_Date__c</assignToReference>
            <field>c501_cm__ii_Cpr_Cert_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__ii_First_Aid_Cert_Date__c</assignToReference>
            <field>c501_cm__ii_First_Aid_Cert_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__ii_Food_Handler_Cert_Date__c</assignToReference>
            <field>c501_cm__ii_Food_Handler_Cert_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__ii_PBC_Expiration__c</assignToReference>
            <field>c501_cm__ii_PBC_Expiration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__ii_Safe_Sleep_Cert_Date__c</assignToReference>
            <field>c501_cm__ii_Safe_Sleep_Cert_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Event</name>
        <label>Get Last Event</label>
        <locationX>596</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Last_Event</targetReference>
        </connector>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Certification</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>lastEventCreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1426</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Debug_Mode_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__C501_Certs_Expiring_Message__c</field>
            <value>
                <elementReference>getCredsExpiredMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>1607</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Debug_Mode_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__C501_Certs_Expiring_Message__c</field>
            <value>
                <elementReference>getCredsExpiredMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Get_Class_Reg_Admin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputDebugMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lastEventCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0036A00000cPYqwQAG</stringValue>
        </value>
    </variables>
</Flow>
