src/flows/Training_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FFN_Reminder_English_Alert</name>
        <label>FFN Reminder (English) Alert</label>
        <locationX>1450</locationX>
        <locationY>92</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_Reminder_Spanish_Alert</name>
        <label>FFN Reminder (Spanish) Alert</label>
        <locationX>1455</locationX>
        <locationY>206</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Reminder_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_Reminder_bilingual_Alert</name>
        <label>Imagine U Reminder (bilingual) Alert</label>
        <locationX>992</locationX>
        <locationY>862</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Reminder_bilingual</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_Reminder_Spanish_Alert</name>
        <label>Imagine U Reminder (Spanish) Alert</label>
        <locationX>985</locationX>
        <locationY>644</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Creative_Reminder1_Alert</name>
        <label>LFCCP Creative Reminder1 Alert</label>
        <locationX>1158</locationX>
        <locationY>88</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Creative_Reminder_English_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Reminder_Spanish_Alert</name>
        <label>LFCCP Reminder Spanish Alert</label>
        <locationX>1159</locationX>
        <locationY>278</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Reminder_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCPReminder_Alert</name>
        <label>LFCCPReminder Alert</label>
        <locationX>1155</locationX>
        <locationY>187</locationY>
        <actionName>CampaignMember.Training_Member_LFCCPReminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Admin</name>
        <label>Notify Admin</label>
        <locationX>798</locationX>
        <locationY>141</locationY>
        <actionName>CampaignMember.Training_Member_Notify_Imagine_Admin</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prepare_Reminder_English_Alert</name>
        <label>Prepare Reminder (English) Alert</label>
        <locationX>1439</locationX>
        <locationY>752</locationY>
        <actionName>CampaignMember.Training_Member_Prepare_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Substitute_Pool_Reminder_English_Alert</name>
        <label>Substitute Pool Reminder (English) Alert</label>
        <locationX>1653</locationX>
        <locationY>157</locationY>
        <actionName>CampaignMember.SubPool_Reminder_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Training_Member_Imagine_Reminder_Spanish_Alert</name>
        <label>Training_Member_Imagine_Reminder_Spanish_Alert</label>
        <locationX>988</locationX>
        <locationY>751</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Reminder_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Valid_Campaign</name>
        <label>Check Valid Campaign</label>
        <locationX>622</locationX>
        <locationY>723</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidCampaign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>soCampaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCampaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCampaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Class_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Reminder</name>
        <label>Send Reminder</label>
        <locationX>791</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FFN_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Reminder_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Reminder_English_Alert</targetReference>
            </connector>
            <label>FFN Reminder (English)</label>
        </rules>
        <rules>
            <name>FFN_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Reminder_Spanish_Alert</targetReference>
            </connector>
            <label>FFN Reminder (Spanish)</label>
        </rules>
        <rules>
            <name>Imagine_U_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Reminder_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_Reminder_Spanish_Alert</targetReference>
            </connector>
            <label>Imagine U Reminder (English)</label>
        </rules>
        <rules>
            <name>Imagine_U_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Member_Imagine_Reminder_Spanish_Alert</targetReference>
            </connector>
            <label>Imagine U Reminder (Spanish)</label>
        </rules>
        <rules>
            <name>Imagine_U_Reminder_bilingual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Reminder_bilingual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (bilingual)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_Reminder_bilingual_Alert</targetReference>
            </connector>
            <label>Imagine U Reminder (bilingual)</label>
        </rules>
        <rules>
            <name>Substitute_Pool_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Pool_Reminder_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Pool Reminder (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Pool_Reminder_English_Alert</targetReference>
            </connector>
            <label>Substitute Pool Reminder (English)</label>
        </rules>
        <rules>
            <name>Substitute_Pool_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Pool_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Pool Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <label>Substitute Pool Reminder (Spanish)</label>
        </rules>
        <rules>
            <name>LFCCPReminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCPReminder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCPReminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCPReminder_Alert</targetReference>
            </connector>
            <label>LFCCPReminder</label>
        </rules>
        <rules>
            <name>LFCCP_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Reminder Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Reminder_Spanish_Alert</targetReference>
            </connector>
            <label>LFCCP Reminder Spanish</label>
        </rules>
        <rules>
            <name>LFCCP_Creative_Reminder1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Creative_Reminder1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Creative Reminder1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Creative_Reminder1_Alert</targetReference>
            </connector>
            <label>LFCCP Creative Reminder1</label>
        </rules>
        <rules>
            <name>Prepare_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PREPARE Reminder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Reminder_English_Alert</targetReference>
            </connector>
            <label>Prepare Reminder (English)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Class_Notification</name>
        <label>Valid Class Notification</label>
        <locationX>802</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Class_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>589</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member</name>
        <label>Valid Member</label>
        <locationX>390</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Member_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB 8/5 Switch from Training Status to Status
LS 6/25 adding bilingual Imagine U reminder
DaveB: Default Event Ownership to Training
3/22 DB - filter by Member Status</description>
    <formulas>
        <name>checkValidEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!varMemberEmail},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <interviewLabel>Training Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1638</locationX>
        <locationY>529</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varEmailType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056A000000qgpsQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Class Reminder Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>534</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Reminder</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmailType</assignToReference>
            <field>c501_cm__Reminder_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_0</name>
        <label>Get Campaign</label>
        <locationX>492</locationX>
        <locationY>728</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Valid_Campaign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Notification</name>
        <label>Get Class Notification</label>
        <locationX>347</locationX>
        <locationY>727</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_0</targetReference>
        </connector>
        <filters>
            <field>c501_cm__Contact_Record_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>c501_cm__C501_Class_Notification__c</object>
        <outputAssignments>
            <assignToReference>varEmailType</assignToReference>
            <field>c501_cm__Reminder_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>347</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>400</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soClassNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c501_cm__C501_Class_Notification__c</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEmailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMemberEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
