src/flows/Training_Reminder_SMS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Admin</name>
        <label>Notify Admin</label>
        <locationX>719</locationX>
        <locationY>390</locationY>
        <actionName>CampaignMember.Training_Member_Notify_Imagine_Admin</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>1609</locationX>
        <locationY>61</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Class_Reg_Admin</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMS_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>soContact.MobilePhone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>SubPool_Reminder_English_SMS_Body</name>
        <label>SubPool Reminder English SMS Body</label>
        <locationX>1150</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>SMS_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMSEnglishReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Mobile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SubPool_Reminder_Spanish_SMS_Body</name>
        <label>SubPool Reminder Spanish SMS Body</label>
        <locationX>1379</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>SMS_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMSSpanishReminder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Mobile</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Send_Reminder</name>
        <label>Send Reminder</label>
        <locationX>707</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FFN_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Reminder_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_English_SMS_Body</targetReference>
            </connector>
            <label>FFN Reminder (English)</label>
        </rules>
        <rules>
            <name>FFN_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_Spanish_SMS_Body</targetReference>
            </connector>
            <label>FFN Reminder (Spanish)</label>
        </rules>
        <rules>
            <name>Imagine_U_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Reminder_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_English_SMS_Body</targetReference>
            </connector>
            <label>Imagine U Reminder (English)</label>
        </rules>
        <rules>
            <name>Imagine_U_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_Spanish_SMS_Body</targetReference>
            </connector>
            <label>Imagine U Reminder (Spanish)</label>
        </rules>
        <rules>
            <name>Substitute_Pool_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Pool_Reminder_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Pool Reminder (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_English_SMS_Body</targetReference>
            </connector>
            <label>Substitute Pool Reminder (English)</label>
        </rules>
        <rules>
            <name>Substitute_Pool_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Pool_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Pool Reminder (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_Spanish_SMS_Body</targetReference>
            </connector>
            <label>Substitute Pool Reminder (Spanish)</label>
        </rules>
        <rules>
            <name>LFCCPReminder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCPReminder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCPReminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_English_SMS_Body</targetReference>
            </connector>
            <label>LFCCPReminder</label>
        </rules>
        <rules>
            <name>LFCCP_Reminder_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Reminder_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Reminder Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_Spanish_SMS_Body</targetReference>
            </connector>
            <label>LFCCP Reminder Spanish</label>
        </rules>
        <rules>
            <name>LFCCP_Creative_Reminder1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Creative_Reminder1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Creative Reminder1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_English_SMS_Body</targetReference>
            </connector>
            <label>LFCCP Creative Reminder1</label>
        </rules>
        <rules>
            <name>Prepare_Reminder_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PREPARE Reminder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_Reminder_English_SMS_Body</targetReference>
            </connector>
            <label>Prepare Reminder (English)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Class_Notification</name>
        <label>Valid Class Notification</label>
        <locationX>508</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Class_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>508</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member</name>
        <label>Valid Member</label>
        <locationX>509</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Member_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Mobile</name>
        <label>Valid Mobile</label>
        <locationX>1371</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Mobile_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>soContact.c501_cm__C501_SMS_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS</targetReference>
            </connector>
            <label>Valid Mobile Number</label>
        </rules>
    </decisions>
    <description>DB 2/11 - fix create event to use custom settings class reg admin
DB 2/7 - Switch to Twilio managed Send SMS
LS 10/27 - set to run as System Context with Sharing
DB 9/11 - remove create event (just have in master)
DB 8/5 Switch from Training Status to Status
SMS Async Send</description>
    <formulas>
        <name>checkValidEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!varMemberEmail},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <formulas>
        <name>SMSEnglishReminder</name>
        <dataType>String</dataType>
        <expression>&quot;Hey, this is the Imagine Institute! Your orientation is coming up! &quot; +
{!soCampaign.c501_cm__Training_Name__c} + &quot; is almost here. &quot; + 
&quot;When: &quot; + TEXT(DATEVALUE({!soCampaign.c501_cm__custom_Start_DateTime__c})) + &quot; &quot; +
&quot;Where: &quot; + SUBSTITUTE({!soCampaign.c501_cm__C501_Training_Location_Text__c}, &quot;&lt;br&gt;&quot;, &quot; &quot;) +
&quot;  &gt;&gt;Change your preferences here: https://imaginewa.org/pref&quot;</expression>
    </formulas>
    <formulas>
        <name>SMSSpanishReminder</name>
        <dataType>String</dataType>
        <expression>&quot;¡Hola, es el Instituto Imagine! ¡Su entrenamiento se acerca! &quot; +
{!soCampaign.c501_cm__Training_Name__c} + &quot; ya casi está aquí. &quot; + 
&quot;Cuando: &quot; + TEXT(DATEVALUE({!soCampaign.c501_cm__custom_Start_DateTime__c})) + &quot; &quot; +
&quot;Dirección: &quot; + SUBSTITUTE({!soCampaign.c501_cm__C501_Training_Location_Text__c}, &quot;&lt;br&gt;&quot;, &quot; &quot;) +
&quot; &gt;&gt;Cambia tus preferencias aquí: https://imaginewa.org/pref&quot;</expression>
    </formulas>
    <interviewLabel>Training Reminder SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Reminder SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1896</locationX>
        <locationY>71</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varEmailType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Class_Reg_Admin.Class_Registration_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Class Reminder SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>514</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Reminder</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEmailType</assignToReference>
            <field>c501_cm__Reminder_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Notification</name>
        <label>Get Class Notification</label>
        <locationX>323</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>c501_cm__Contact_Record_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>c501_cm__C501_Class_Notification__c</object>
        <outputAssignments>
            <assignToReference>varEmailType</assignToReference>
            <field>c501_cm__Reminder_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Reg_Admin</name>
        <label>Get Class Reg Admin</label>
        <locationX>1742</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imagine_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>323</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_SMS_Opt_Out__c</assignToReference>
            <field>c501_cm__C501_SMS_Opt_Out__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>390</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Member</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__C501_Training_Location_Text__c</assignToReference>
            <field>c501_cm__C501_Training_Location_Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__Training_End_DateTime__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__C501_Training_Location__c</assignToReference>
            <field>c501_cm__Training_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__Training_Name__c</assignToReference>
            <field>c501_cm__Training_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.c501_cm__custom_Start_DateTime__c</assignToReference>
            <field>c501_cm__Training_Start_DateTime__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SMS_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soClassNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c501_cm__C501_Class_Notification__c</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varEmailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varMemberEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
