src/flows/Training_Confirmation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FFN_Registered_English_Alert</name>
        <label>FFN Registered (English) Alert</label>
        <locationX>1692</locationX>
        <locationY>219</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Registration_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_Registered_Spanish_Alert</name>
        <label>FFN Registered (Spanish) Alert</label>
        <locationX>1694</locationX>
        <locationY>305</locationY>
        <actionName>CampaignMember.Training_Member_FFN_Registration_Confirmation_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_Confirmation_Alert_bilingual</name>
        <label>Imagine U Confirmation Alert (bilingual)</label>
        <locationX>2114</locationX>
        <locationY>117</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Register_bilingual</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_Confirmation_English_Alert</name>
        <label>Imagine U Confirmation (English) Alert</label>
        <locationX>2117</locationX>
        <locationY>195</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Register</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_Confirmation_Spanish_Alert</name>
        <label>Imagine U Confirmation (Spanish) Alert</label>
        <locationX>2121</locationX>
        <locationY>277</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_Register_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Creative_Registration1_Alert</name>
        <label>LFCCP Creative Registration1 Alert</label>
        <locationX>2182</locationX>
        <locationY>959</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Creative_Registration_English_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Registration_Confirmation_Alert</name>
        <label>LFCCP Registration Confirmation Alert</label>
        <locationX>2165</locationX>
        <locationY>820</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Registration_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LFCCP_Registration_Confirmation_Spanish_Alert</name>
        <label>LFCCP Registration Confirmation Spanish Alert</label>
        <locationX>2170</locationX>
        <locationY>892</locationY>
        <actionName>CampaignMember.Training_Member_LFCCP_Registration_Confirmation_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Admin</name>
        <label>Notify Admin</label>
        <locationX>1422</locationX>
        <locationY>301</locationY>
        <actionName>CampaignMember.Training_Member_Notify_Imagine_Admin</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prepare_Confirmation_English_Alert</name>
        <label>Prepare Confirmation (English) Alert</label>
        <locationX>1745</locationX>
        <locationY>1002</locationY>
        <actionName>CampaignMember.Training_Member_Prepare_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PREPARE_Orientation_Confirmation_Alert</name>
        <label>PREPARE Orientation Confirmation Alert</label>
        <locationX>1748</locationX>
        <locationY>1079</locationY>
        <actionName>CampaignMember.Training_Member_Prepare_Orientation_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Substitute_Confirmation_English_Alert</name>
        <label>Substitute Confirmation (English) Alert</label>
        <locationX>1644</locationX>
        <locationY>589</locationY>
        <actionName>CampaignMember.SubPool_Confirmation_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Substitute_Confirmation_Spanish_Alert</name>
        <label>Substitute Confirmation (Spanish) Alert</label>
        <locationX>1650</locationX>
        <locationY>625</locationY>
        <actionName>CampaignMember.SubPool_Confirmation_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Child_Training_in_a_Training_Series</name>
        <label>Child Training in a Training Series</label>
        <locationX>1144</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Valid_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Training</name>
        <label>Group Training</label>
        <locationX>1211</locationX>
        <locationY>1168</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Group_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentTraining</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_1st_Child_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_Disabled</name>
        <label>Notification Disabled</label>
        <locationX>700</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>SMS_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NotificationDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training.c501_cm__Confirmation_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Email No SMS</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opt_Out_Email</name>
        <label>Opt Out Email</label>
        <locationX>1270</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Valid_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soContact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Confirmation</name>
        <label>Send Confirmation</label>
        <locationX>1416</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Imagine_U_Confirmation_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Confirmation_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Confirmation (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_Confirmation_English_Alert</targetReference>
            </connector>
            <label>Imagine U Confirmation (English)</label>
        </rules>
        <rules>
            <name>Imagine_U_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Confirmation (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_Confirmation_Spanish_Alert</targetReference>
            </connector>
            <label>Imagine U Confirmation (Spanish)</label>
        </rules>
        <rules>
            <name>FFN_Registered_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registration Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registered (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Registered_English_Alert</targetReference>
            </connector>
            <label>FFN Registered (English)</label>
        </rules>
        <rules>
            <name>FFN_Registered_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_Registered_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN Registered (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_Registered_Spanish_Alert</targetReference>
            </connector>
            <label>FFN Registered (Spanish)</label>
        </rules>
        <rules>
            <name>Substitute_Confirmation_English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Confirmation_English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Confirmation (English)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Confirmation_English_Alert</targetReference>
            </connector>
            <label>Substitute Confirmation (English)</label>
        </rules>
        <rules>
            <name>Substitute_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute Confirmation (Spanish)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Confirmation_Spanish_Alert</targetReference>
            </connector>
            <label>Substitute Confirmation (Spanish)</label>
        </rules>
        <rules>
            <name>LFCCP_Registration_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Registration_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Registration Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Registration_Confirmation_Alert</targetReference>
            </connector>
            <label>LFCCP Registration Confirmation</label>
        </rules>
        <rules>
            <name>LFCCP_Registration_Confirmation_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Registration_Confirmation_Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Registration Confirmation Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Registration_Confirmation_Spanish_Alert</targetReference>
            </connector>
            <label>LFCCP Registration Confirmation Spanish</label>
        </rules>
        <rules>
            <name>LFCCP_Creative_Registration1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP_Creative_Registration1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LFCCP Creative Registration1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LFCCP_Creative_Registration1_Alert</targetReference>
            </connector>
            <label>LFCCP Creative Registration1</label>
        </rules>
        <rules>
            <name>PREPARE_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Confirmation_English_Alert</targetReference>
            </connector>
            <label>PREPARE Confirmation</label>
        </rules>
        <rules>
            <name>PREPARE_Orientation_Confirmation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE Orientation Confirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_Orientation_Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREPARE_Orientation_Confirmation_Alert</targetReference>
            </connector>
            <label>PREPARE Orientation Confirmation</label>
        </rules>
        <rules>
            <name>Imagine_U_Confirmation_bilingual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_Confirmation_bilingual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine U Confirmation (bilingual)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_Confirmation_Alert_bilingual</targetReference>
            </connector>
            <label>Imagine U Confirmation (bilingual)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Registered</name>
        <label>Send Registered</label>
        <locationX>1407</locationX>
        <locationY>603</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSendTrainingRegistered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Registered_Sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Training_Reminder</name>
        <label>Send Training Reminder</label>
        <locationX>1406</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Send_Registered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Training_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSendTrainingReminder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Send_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Class_Notification</name>
        <label>Valid Class Notification</label>
        <locationX>1551</locationX>
        <locationY>1347</locationY>
        <defaultConnector>
            <targetReference>Group_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Class_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailTemplate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_Training_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>1252</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member</name>
        <label>Valid Member</label>
        <locationX>1279</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Member_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_Out_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB 9/29 - Check for No Email/SMS
DB 9/10 - ignore Parent Training
DB 8/5 Switch from Training Status to Status
LS 6/24 added Imagine U bilingual confirmation
Add SMS Send support</description>
    <formulas>
        <name>checkValidEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!varMemberEmail},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <interviewLabel>Training Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>2006</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varEmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0056A000000qgpsQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Class Confirmation Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Get_1st_Child_Campaign</name>
        <label>Get 1st Child Campaign</label>
        <locationX>1098</locationX>
        <locationY>958</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Training_Reminder</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>c501_cm__Confirmation_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1297</locationX>
        <locationY>927</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Training_Reminder</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>c501_cm__Confirmation_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Notification</name>
        <label>Get Class Notification</label>
        <locationX>1010</locationX>
        <locationY>1342</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>c501_cm__Contact_Record_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>c501_cm__C501_Class_Notification__c</object>
        <outputAssignments>
            <assignToReference>varEmailTemplate</assignToReference>
            <field>c501_cm__Confirmation_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1029</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>427</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Training</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.HasOptedOutOfEmail</assignToReference>
            <field>c501_cm__Email_Opt_Out__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSendTrainingRegistered</assignToReference>
            <field>c501_cm__Send_Training_Registered__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSendTrainingReminder</assignToReference>
            <field>c501_cm__Send_Training_Reminder__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Training</name>
        <label>Get Training</label>
        <locationX>553</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Disabled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Registered_Sent</name>
        <label>Set Registered Sent</label>
        <locationX>1258</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Send_Confirmation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>c501_cm__Send_Training_Registered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SMS_Confirmation</name>
        <label>SMS Confirmation</label>
        <locationX>860</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Child_Training_in_a_Training_Series</targetReference>
        </connector>
        <flowName>flow_Training_Confirmation_SMS</flowName>
        <inputAssignments>
            <name>varInputMemberId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SMS_Reminder</name>
        <label>SMS Reminder</label>
        <locationX>1142</locationX>
        <locationY>642</locationY>
        <connector>
            <targetReference>Send_Registered</targetReference>
        </connector>
        <flowName>Training_Reminder_SMS</flowName>
        <inputAssignments>
            <name>varInputMemberId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Trigger_Send_Reminder</name>
        <label>Trigger Send Reminder</label>
        <locationX>1255</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>SMS_Reminder</targetReference>
        </connector>
        <flowName>Training_Reminder</flowName>
        <inputAssignments>
            <name>varInputMemberId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soClassNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c501_cm__C501_Class_Notification__c</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMemberEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varParentTraining</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSendTrainingRegistered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSendTrainingReminder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
