src/flows/Training_Registration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Clear_Error_Message</name>
        <label>Clear Error Message</label>
        <locationX>2231</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Day3b</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Error_Message_0</name>
        <label>Clear Error Message</label>
        <locationX>2206</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Day4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Day2_Min_Day</name>
        <label>Day2 Min Day</label>
        <locationX>2476</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>varDay2MinDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soDay1Training.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day2_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Day3_Min_Day</name>
        <label>Day3 Min Day</label>
        <locationX>2387</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varDay3MinDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soDay2Training.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day3_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Day4_Min_Day</name>
        <label>Day4 Min Day</label>
        <locationX>2362</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varDay4MinDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soDay3Training.c501_cm__custom_End_DateTime__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day4_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Facility_Lead</name>
        <label>Facility Lead</label>
        <locationX>1541</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Payee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Payee_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__ii_STARS_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputDay1Filter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Day2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Restrict_By_Day</name>
        <label>Restrict By Day</label>
        <locationX>500</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDayFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Day 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDay2Filter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Day 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDay3Filter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Day 3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDay4Filter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Day 4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Facility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Id</name>
        <label>Set Lead Id</label>
        <locationX>460</locationX>
        <locationY>1699</locationY>
        <assignmentItems>
            <assignToReference>varLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Day1_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Substitute_Day1_Error</name>
        <label>Set Error</label>
        <locationX>1094</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Facility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Substitute_Day1_Error_1</name>
        <label>Set Error</label>
        <locationX>2415</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day2_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Substitute_Day1_Error_1_1</name>
        <label>Set Error</label>
        <locationX>2314</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day3_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Substitute_Day1_Error_1_1_0</name>
        <label>Set Error</label>
        <locationX>2290</locationX>
        <locationY>1710</locationY>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textTemplateTrainingDefaultSelectedError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day4_Training</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substitute_Lead</name>
        <label>Substitute Lead</label>
        <locationX>1547</locationX>
        <locationY>90</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Payee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__ii_STARS_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitute_STARS_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputDay1Filter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Day2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Training_Lead</name>
        <label>Training Lead</label>
        <locationX>1541</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>soLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Payee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Payee_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__ii_STARS_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_STARS_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Class_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputDay1Filter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLead.c501_cm__Training_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrainingDefaultSelectedError</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Day2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Training_SelectOption</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;[Click to Select Training]&lt;/I&gt;&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>constHelpTextPayeeNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is located on your invoice</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Day1_Member</name>
        <label>Existing Day1 Member</label>
        <locationX>904</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Create_Member_Day1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_Day1_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDay1Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Day2_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day2</name>
        <label>Check Day2</label>
        <locationX>1992</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Check_Day3b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay2Filter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day2_Enforce_Consecutive</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day2_0</name>
        <label>Check Day2</label>
        <locationX>1200</locationX>
        <locationY>1959</locationY>
        <defaultConnector>
            <targetReference>Check_Day3_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day2_Valid_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay2Filter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Day2_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day2_Member</name>
        <label>Existing Day2 Member</label>
        <locationX>1444</locationX>
        <locationY>2023</locationY>
        <defaultConnector>
            <targetReference>Create_Member_Day2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_Day2_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDay2Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Day3_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day3_0</name>
        <label>Check Day3</label>
        <locationX>1764</locationX>
        <locationY>2026</locationY>
        <defaultConnector>
            <targetReference>Check_Day4_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day3_Valid_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay3Filter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day3_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day3b</name>
        <label>Check Day3</label>
        <locationX>2003</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Check_Day4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day3b_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay3Filter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day3_Enforce_Consecutive</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day4</name>
        <label>Check Day4</label>
        <locationX>1978</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day4_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay4Filter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day4_Enforce_Consecutive</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Day4_0</name>
        <label>Check Day4</label>
        <locationX>2256</locationX>
        <locationY>2143</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day4_Valid_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay4Filter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day4_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_varInputRestrictByDay</name>
        <label>Check varInputRestrictByDay</label>
        <locationX>498</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Is_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RestrictByDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputRestrictByDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restrict_By_Day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day2_Enforce_Consecutive</name>
        <label>Enforce Consecutive</label>
        <locationX>2304</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>Day2_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day2_Enforce_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputEnforceConsecutive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day2_Min_Day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day3_Enforce_Consecutive</name>
        <label>Day3 Enforce Consecutive</label>
        <locationX>2210</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>Day3_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day3_Enforce_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputEnforceConsecutive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day3_Min_Day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day4_Enforce_Consecutive</name>
        <label>Day4 Enforce Consecutive</label>
        <locationX>2186</locationX>
        <locationY>1366</locationY>
        <defaultConnector>
            <targetReference>Day4_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Day4_Enforce_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputEnforceConsecutive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day4_Min_Day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected</name>
        <label>Default Selected</label>
        <locationX>1352</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>Substitute_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Substitute_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_0</name>
        <label>Default Selected</label>
        <locationX>1358</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Training_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_0_0</name>
        <label>Default Selected</label>
        <locationX>1355</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Facility_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Facility_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_1</name>
        <label>Default Selected</label>
        <locationX>2240</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Clear_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Day2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_1_1</name>
        <label>Default Selected</label>
        <locationX>2091</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>Clear_Error_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Day3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error_1_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Selected_1_1_0</name>
        <label>Default Selected</label>
        <locationX>2066</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DefaultSelected_1_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Day4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Training_SelectOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Substitute_Day1_Error_1_1_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Day3_Member</name>
        <label>Existing Day3 Member</label>
        <locationX>1980</locationX>
        <locationY>2154</locationY>
        <defaultConnector>
            <targetReference>Create_Member_Day3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Day3_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDay3Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Day4_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Day4_Member</name>
        <label>Existing Day4 Member</label>
        <locationX>2429</locationX>
        <locationY>2341</locationY>
        <defaultConnector>
            <targetReference>Create_Member_Day4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Day4_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDay4Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Lead</name>
        <label>Existing Lead</label>
        <locationX>855</locationX>
        <locationY>1612</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Day1_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Facility</name>
        <label>Is Facility</label>
        <locationX>805</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Is_Substitute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay1Filter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facility_Training_Pick</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Substitute</name>
        <label>Is Substitute</label>
        <locationX>800</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>Day1_Training</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Substitute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputDay1Filter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substitute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substitute_Day1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>11/3 - switch back to use the same lead if email matches
DB 10/13 - Workaround Create Member error
DB 9/10 - Filter out group or child trainings
DB 8/5 - Switch Training Status with Status on the Training Member
DB 7/31 - add day 4
DB 7/30 - filter out group/child trainings
DB 6/29 - filter out Aborted Classes
DaveB: Stars ID validate entry is a number, 16 characters max</description>
    <dynamicChoiceSets>
        <name>Day1Trainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputDay1Filter</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0123u000000iwNpAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varTrainingDayFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay1Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay1Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Day2Trainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputDay2Filter</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>soDay1Training.c501_cm__Training_Name_WebForm__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varTrainingDay2Filter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varDay2MinDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0123u000000iwNpAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay2Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay2Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay2Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Day3Trainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputDay3Filter</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>soDay1Training.c501_cm__Training_Name_WebForm__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>soDay2Training.c501_cm__Training_Name_WebForm__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varTrainingDay3Filter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varDay3MinDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0123u000000iwNpAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay3Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay3Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay3Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <sortField>c501_cm__Training_Name_WebForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Day4Trainings</name>
        <dataType>String</dataType>
        <displayField>c501_cm__Training_Name_WebForm__c</displayField>
        <filters>
            <field>c501_cm__Class_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputDay4Filter</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>soDay1Training.c501_cm__Training_Name_WebForm__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>soDay2Training.c501_cm__Training_Name_WebForm__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>soDay3Training.c501_cm__Training_Name_WebForm__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varInputTrainingFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training_Name_WebForm__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varTrainingDay4Filter</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__custom_Start_DateTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varDay4MinDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0123u000000iwNpAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soDay4Training.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay4Training.c501_cm__Training_Name_WebForm__c</assignToReference>
            <field>c501_cm__Training_Name_WebForm__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soDay4Training.c501_cm__custom_End_DateTime__c</assignToReference>
            <field>c501_cm__custom_End_DateTime__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrainingList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>c501_cm__Location__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fEmailCheck</name>
        <dataType>Boolean</dataType>
        <expression>Contains({!Training_Email}, &quot;@&quot;)</expression>
    </formulas>
    <formulas>
        <name>getCompanyName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!varInputDay1Filter}) &gt; 0,
    {!varInputDay1Filter},
    IF(LEN({!Substitute_Last_Name}) &gt; 0, 
        {!Substitute_Last_Name},
        {!Training_Last_Name}))</expression>
    </formulas>
    <formulas>
        <name>getTrainingSummary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!soDay1Training.Name}), &quot;&quot;, &quot;Day1 Training: &quot; + {!soDay1Training.Name} + &quot;&lt;br/&gt;&quot;) +
IF(ISBLANK({!Training_Day2}), &quot;&quot;, &quot;Day2 Training: &quot; + {!Training_Day2} + &quot;&lt;br/&gt;&quot;) +
IF(ISBLANK({!Training_Day3}), &quot;&quot;, &quot;Day3 Training: &quot; + {!Training_Day3} + &quot;&lt;br/&gt;&quot;) +
IF(ISBLANK({!Training_Day4}), &quot;&quot;, &quot;Day4 Training: &quot; + {!Training_Day4} + &quot;&lt;br/&gt;&quot;)</expression>
    </formulas>
    <interviewLabel>Training Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>615</locationX>
        <locationY>1530</locationY>
        <connector>
            <targetReference>Set_Lead_Id</targetReference>
        </connector>
        <inputReference>soLead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Day1</name>
        <label>Create Day1 Member</label>
        <locationX>914</locationX>
        <locationY>2131</locationY>
        <connector>
            <targetReference>Check_Day2_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Day2</name>
        <label>Create Day2 Member</label>
        <locationX>1611</locationX>
        <locationY>2277</locationY>
        <connector>
            <targetReference>Check_Day3_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay2Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Day3</name>
        <label>Create Day3 Member</label>
        <locationX>2096</locationX>
        <locationY>2409</locationY>
        <connector>
            <targetReference>Check_Day4_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay3Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Day4</name>
        <label>Create Day4 Member</label>
        <locationX>2637</locationX>
        <locationY>2679</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>soDay4Training.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>c501_cm__Training_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Day3_Member</name>
        <label>Day3 Member</label>
        <locationX>1785</locationX>
        <locationY>2337</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Day3_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay3Training.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDay3Member</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Day4_Member</name>
        <label>Day4 Member</label>
        <locationX>2284</locationX>
        <locationY>2542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Day4_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay4Training.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDay4Member</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existing_Day1_Member</name>
        <label>Day1 Member</label>
        <locationX>612</locationX>
        <locationY>1699</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Day1_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay1Training.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDay1Member</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Existing_Day2_Member</name>
        <label>Day2 Member</label>
        <locationX>1208</locationX>
        <locationY>2194</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Day2_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soDay2Training.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varDay2Member</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>969</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Lead</targetReference>
        </connector>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soLead.Email</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Day1_Training</name>
        <label>Day1 Training</label>
        <locationX>1014</locationX>
        <locationY>196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_0</targetReference>
        </connector>
        <fields>
            <name>Training_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Training_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Training_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Payee_Number</name>
            <dataType>String</dataType>
            <fieldText>SSPS/Payee Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!constHelpTextPayeeNumber}</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be a number and 32 digits or less.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(LEN({!Training_Payee_Number}) &lt;= 32, ISNUMBER({!Training_Payee_Number}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Training_STARS_Id</name>
            <dataType>String</dataType>
            <fieldText>STARS Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Value must be a number and 32 digits or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(LEN({!Training_STARS_Id}) &lt;= 32, ISNUMBER({!Training_STARS_Id}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Training_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Day1 Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Training_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By registering for training and providing your phone number and email, you consent to receive text and email messages from the Imagine Institute about Imagine Institute services.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Day2_Training</name>
        <label>Day2 Training</label>
        <locationX>2414</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_1</targetReference>
        </connector>
        <fields>
            <name>Training_Day2</name>
            <choiceReferences>Day2Trainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Day2 Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Day2_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfo_Day2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.FirstName}, {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Day1 Training: {!soDay1Training.Name}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Day3_Training</name>
        <label>Day3 Training</label>
        <locationX>2310</locationX>
        <locationY>859</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_1_1</targetReference>
        </connector>
        <fields>
            <name>Training_Day3</name>
            <choiceReferences>Day3Trainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Day3 Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Day3_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfo_Day3</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!soLead.FirstName}, {!soLead.LastName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!soLead.Email}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Day1 Training: {!soDay1Training.Name}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Day2 Training: {!Training_Day2}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Day4_Training</name>
        <label>Day4 Training</label>
        <locationX>2286</locationX>
        <locationY>1566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_1_1_0</targetReference>
        </connector>
        <fields>
            <name>Training_Day4</name>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <choiceReferences>Day4Trainings</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Day4 Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Day3_Error_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfo_Day3_0</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 14px;&quot;&gt;{!soLead.FirstName}, {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 14px;&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 14px;&quot;&gt;Day1 Training: {!soDay1Training.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 14px;&quot;&gt;Day2 Training: {!Training_Day2}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 14px;&quot;&gt;Day3 Training: {!Training_Day3}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Facility_Training_Pick</name>
        <label>Facility Training Pick</label>
        <locationX>1016</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected_0_0</targetReference>
        </connector>
        <fields>
            <name>Facility_Name</name>
            <dataType>String</dataType>
            <fieldText>Facility Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Facility_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Facility_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Payee_Number</name>
            <dataType>String</dataType>
            <fieldText>SSPS/Payee Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!constHelpTextPayeeNumber}</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be a number and 32 digits or less.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Facility_Payee_Number}) &lt;= 32 
&amp;&amp;
ISNUMBER({!Facility_Payee_Number})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Facility_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Training&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Training_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By registering for training, and providing your phone number and email, you consent to receive text and email messages from the Imagine Institute about Imagine Institute services.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>2798</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PersonalInfo_Summary_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Registration application received.  An Imagine Administrator will review the request and will send an email reply.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;By registering for training, and providing your phone number and email, you consent to receive text and email messages from the Imagine Institute about Imagine Institute services.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.FirstName}, {!soLead.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!soLead.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!getTrainingSummary}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Substitute_Day1</name>
        <label>Day1 Substitute</label>
        <locationX>1012</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Default_Selected</targetReference>
        </connector>
        <fields>
            <name>Substitute_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Email Invalid - the value you entered for email doesn&apos;t meet the validation criteria (name@domain.com).</errorMessage>
                <formulaExpression>REGEX({!Substitute_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Substitute_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_STARS_Id</name>
            <dataType>String</dataType>
            <fieldText>STARS Id</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!constHelpTextPayeeNumber}</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be a number and 32 digits or less.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Substitute_STARS_Id}) &lt;= 32 &amp;&amp;
ISNUMBER({!Substitute_STARS_Id})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Substitute_Training</name>
            <choiceReferences>Day1Trainings</choiceReferences>
            <choiceReferences>Training_SelectOption</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training_SelectOption</defaultSelectedChoiceReference>
            <fieldText>Day1 Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Substitute_Day1_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varTrainingDefaultSelectedError}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Disclaimer1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;By Registering for training, and providing your phone number and email, you consent to receive text and email messages from the Imagine Institute about Imagine Institute services.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Check_varInputRestrictByDay</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplateTrainingDefaultSelectedError</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error: Please select a training&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>soCurrentFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowInterview</objectType>
    </variables>
    <variables>
        <name>soDay1Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soDay2Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soDay3Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soDay4Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varDay1Member</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDay2Member</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDay2MinDay</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2017-01-01T08:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>varDay3Member</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varDay3MinDay</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2017-01-01T08:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>varDay4Member</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDay4MinDay</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHelpTextPayeeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Is located on your invoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputDay1Filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputDay2Filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputDay3Filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputDay4Filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Enforce following days of training to be consecutive (after the previous day).</description>
        <name>varInputEnforceConsecutive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varInputRestrictByDay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Filter Day1 Training by Text Filter</description>
        <name>varInputTrainingFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTrainingDay2Filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTrainingDay3Filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTrainingDay4Filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>varTrainingFilter assigned based on varInputRestrictByDay</description>
        <name>varTrainingDayFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTrainingDefaultSelectedError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
