src/flows/Training_No_Show.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FFN_LFCCP_Training_No_Show_bilingual</name>
        <label>FFN / LFCCP / Training No Show (bilingual)</label>
        <locationX>1045</locationX>
        <locationY>221</locationY>
        <actionName>CampaignMember.Training_Member_FFN_LFCCP_No_Show_bilingual</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_LFCCP_Training_No_Show_English</name>
        <label>FFN / LFCCP / Training No Show (English)</label>
        <locationX>1069</locationX>
        <locationY>364</locationY>
        <actionName>CampaignMember.Training_Member_FFN_LFCCP_No_Show_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_LFCCP_Training_No_Show_Somali</name>
        <label>FFN / LFCCP / Training No Show (Somali)</label>
        <locationX>1036</locationX>
        <locationY>82</locationY>
        <actionName>CampaignMember.Training_Member_FFN_LFCCP_No_Show_Somali</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FFN_LFCCP_Training_No_Show_Spanish</name>
        <label>FFN / LFCCP / Training No Show (Spanish)</label>
        <locationX>1121</locationX>
        <locationY>502</locationY>
        <actionName>CampaignMember.Training_Member_FFN_LFCCP_No_Show_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_No_Show_bilingual</name>
        <label>Imagine U No Show (bilingual)</label>
        <locationX>1604</locationX>
        <locationY>363</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_U_No_Show_bilingual</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_No_Show_English</name>
        <label>Imagine U No Show (English)</label>
        <locationX>1601</locationX>
        <locationY>516</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_U_No_Show_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_No_Show_Somali</name>
        <label>Imagine U No Show (Somali)</label>
        <locationX>1602</locationX>
        <locationY>50</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_U_No_Show_Somali</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Imagine_U_No_Show_Spanish</name>
        <label>Imagine U No Show (Spanish)</label>
        <locationX>1602</locationX>
        <locationY>214</locationY>
        <actionName>CampaignMember.Training_Member_Imagine_U_No_Show_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Admin</name>
        <label>Notify Admin</label>
        <locationX>927</locationX>
        <locationY>614</locationY>
        <actionName>CampaignMember.Training_Member_Notify_Imagine_Admin</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PREPARE_No_Show_bilingual</name>
        <label>PREPARE No Show (bilingual) Alert</label>
        <locationX>1528</locationX>
        <locationY>1722</locationY>
        <actionName>CampaignMember.Training_Member_PREPARE_No_Show_bilingual</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PREPARE_No_Show_English</name>
        <label>PREPARE No Show (English) Alert</label>
        <locationX>1516</locationX>
        <locationY>1531</locationY>
        <actionName>CampaignMember.Training_Member_PREPARE_No_Show_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PREPARE_No_Show_Somali</name>
        <label>PREPARE No Show (Somali)</label>
        <locationX>1510</locationX>
        <locationY>1378</locationY>
        <actionName>CampaignMember.Training_Member_PREPARE_No_Show_Somali</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PREPARE_No_Show_Spanish</name>
        <label>PREPARE No Show (Spanish) Alert</label>
        <locationX>1508</locationX>
        <locationY>1224</locationY>
        <actionName>CampaignMember.Training_Member_PREPARE_No_Show_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubPool_No_Show_bilingual</name>
        <label>SubPool No Show (bilingual) Alert</label>
        <locationX>1113</locationX>
        <locationY>1687</locationY>
        <actionName>CampaignMember.Training_Member_SubPool_No_Show_bilingual</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubPool_No_Show_English</name>
        <label>SubPool No Show (English) Alert</label>
        <locationX>1118</locationX>
        <locationY>1504</locationY>
        <actionName>CampaignMember.Training_Member_SubPool_No_Show_English</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubPool_No_Show_Somali</name>
        <label>SubPool No Show (Somali)</label>
        <locationX>1125</locationX>
        <locationY>1176</locationY>
        <actionName>CampaignMember.Training_Member_SubPool_No_Show_Somali</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubPool_No_Show_Spanish</name>
        <label>SubPool No Show (Spanish) Alert</label>
        <locationX>1124</locationX>
        <locationY>1345</locationY>
        <actionName>CampaignMember.Training_Member_SubPool_No_Show_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Notification_Disabled</name>
        <label>Notification Disabled</label>
        <locationX>686</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Valid_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Notifications</defaultConnectorLabel>
        <rules>
            <name>Don_t_Send_Notifications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCampaign.No_Show_Email_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Email No SMS</stringValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Send Notifications</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_No_Show_Email</name>
        <label>Send No Show Email</label>
        <locationX>967</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FFN_LFCCP_Training_English_No_Show_Select</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_LFCCP_Training_No_Show_English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_LFCCP_Training_No_Show_English</targetReference>
            </connector>
            <label>FFN / LFCCP / Training (English) No Show Select</label>
        </rules>
        <rules>
            <name>FFN_LFCCP_Training_Somali_No_Show_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_LFCCP_Training_No_Show_Somali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_LFCCP_Training_No_Show_Somali</targetReference>
            </connector>
            <label>FFN / LFCCP / Training (Somali) No Show Select</label>
        </rules>
        <rules>
            <name>FFN_LFCCP_Training_Spanish_No_Show_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_LFCCP_Training_No_Show_Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_LFCCP_Training_No_Show_Spanish</targetReference>
            </connector>
            <label>FFN / LFCCP / Training (Spanish) No Show Select</label>
        </rules>
        <rules>
            <name>FFN_LFCCP_Training_bilingual_No_Show_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FFN_LFCCP_Training_No_Show_bilingual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FFN_LFCCP_Training_No_Show_bilingual</targetReference>
            </connector>
            <label>FFN / LFCCP / Training (bilingual) No Show Select</label>
        </rules>
        <rules>
            <name>Imagine_U_No_Show_Somali_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_No_Show_Somali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_No_Show_Somali</targetReference>
            </connector>
            <label>Imagine U No Show (Somali) Select</label>
        </rules>
        <rules>
            <name>Imagine_U_No_Show_Spanish_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_No_Show_Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_No_Show_Spanish</targetReference>
            </connector>
            <label>Imagine U No Show (Spanish) Select</label>
        </rules>
        <rules>
            <name>Imagine_U_No_Show_English_Select</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_No_Show_English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_No_Show_English</targetReference>
            </connector>
            <label>Imagine U No Show (English) Select</label>
        </rules>
        <rules>
            <name>Imagine_U_No_Show_bilingual_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagine_U_No_Show_bilingual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imagine_U_No_Show_bilingual</targetReference>
            </connector>
            <label>Imagine U No Show (bilingual) Select</label>
        </rules>
        <rules>
            <name>PREPARE_No_Show_English_Select</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_No_Show_English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREPARE_No_Show_English</targetReference>
            </connector>
            <label>PREPARE No Show (English) Select</label>
        </rules>
        <rules>
            <name>PREPARE_No_Show_bilingual_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_No_Show_bilingual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREPARE_No_Show_bilingual</targetReference>
            </connector>
            <label>PREPARE No Show (bilingual) Select</label>
        </rules>
        <rules>
            <name>PREPARE_No_Show_Somali_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_No_Show_Somali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREPARE_No_Show_Somali</targetReference>
            </connector>
            <label>PREPARE No Show (Somali) Select</label>
        </rules>
        <rules>
            <name>PREPARE_No_Show_Spanish_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PREPARE_No_Show_Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PREPARE_No_Show_Spanish</targetReference>
            </connector>
            <label>PREPARE No Show (Spanish) Select</label>
        </rules>
        <rules>
            <name>SubPool_No_Show_English_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubPool_No_Show_English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_No_Show_English</targetReference>
            </connector>
            <label>SubPool No Show (English) Select</label>
        </rules>
        <rules>
            <name>SubPool_No_Show_bilingual_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubPool_No_Show_bilingual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_No_Show_bilingual</targetReference>
            </connector>
            <label>SubPool No Show (bilingual) Select</label>
        </rules>
        <rules>
            <name>SubPool_No_Show_Spanish_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubPool_No_Show_Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_No_Show_Spanish</targetReference>
            </connector>
            <label>SubPool No Show (Spanish) Select</label>
        </rules>
        <rules>
            <name>SubPool_No_Show_Somali_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SubPool_No_Show_Somali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubPool_No_Show_Somali</targetReference>
            </connector>
            <label>SubPool No Show (Somali) Select</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Class_Notification</name>
        <label>Valid Class Notification</label>
        <locationX>902</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Class_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailType</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_No_Show_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Email</name>
        <label>Valid Email</label>
        <locationX>719</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Notify_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkValidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soContact.HasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member</name>
        <label>Valid Member</label>
        <locationX>521</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid_Member_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DB 2/24 - Fix typo in FFN Bilingual decision check
DB 2/11 - fix create event ownerid to be from custom settings class reg admin
LS 9/29 add Notification Disabled decision
DB 8/5 Switch from Training Status to Status
LS 7/20 correcting spelling of LFCCP decisions
LS 7/16 removed requirement for campaign status to equal Complete
Troubleshooting - SMS removed</description>
    <formulas>
        <name>checkValidEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!varMemberEmail},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <formulas>
        <name>getSMSBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!getEmailTemplate.Body}, &quot;!CampaignMember.FirstName&quot;, {!soContact.FirstName}),
&quot;!CampaignMember.c501_cm__Training_Name__c&quot;, {!soCampaign.c501_cm__Training_Name__c}),
&quot;!CampaignMember.Training_Start_DateTime__c&quot;, TEXT({!soCampaign.StartDate}))</expression>
    </formulas>
    <interviewLabel>Training No Show {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training No Show</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>2296</locationX>
        <locationY>770</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varEmailType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Class_Reg_Admin.Class_Registration_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>No Show Followup Notice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>797</locationX>
        <locationY>848</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_No_Show_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varEmailType</assignToReference>
            <field>No_Show_Email_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_0</name>
        <label>Get Campaign</label>
        <locationX>695</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_Disabled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>soCampaign.No_Show_Email_Template__c</assignToReference>
            <field>No_Show_Email_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soCampaign.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Notification</name>
        <label>Get Class Notification</label>
        <locationX>478</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>c501_cm__Contact_Record_Type_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>c501_cm__Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCampaign.Id</elementReference>
            </value>
        </filters>
        <object>c501_cm__C501_Class_Notification__c</object>
        <outputAssignments>
            <assignToReference>varEmailType</assignToReference>
            <field>No_Show_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Reg_Admin</name>
        <label>Get Class Reg Admin</label>
        <locationX>430</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imagine_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>478</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Class_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>soContact.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>567</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputMemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>soCampaign.Id</assignToReference>
            <field>CampaignId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.Id</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMemberEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.c501_cm__C501_SMS_Opt_Out__c</assignToReference>
            <field>SMS_Opt_Out__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soContact.HasOptedOutOfEmail</assignToReference>
            <field>c501_cm__Email_Opt_Out__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>2388</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Get_Class_Reg_Admin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>soClassNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>c501_cm__C501_Class_Notification__c</objectType>
    </variables>
    <variables>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEmailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMemberEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
